<template>
<v-row>

    <v-col cols="12" sm="12" md="12" lg="8" class=" mx-auto" style="background-color:#231f20;">
        <h1 class="font-konkretika text-left"><v-icon>mdi-chevron-down</v-icon> Mentions légales</h1>
        <small class=" text-left">
          Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004, 
             pour la Confiance dans l'économie numérique, dite L.C.E.N.,
             nous portons à la connaissance des utilisateurs et visiteurs du site : 
             <a :href="domaineUrl" target="_blank">{{ domaineName}}</a> les informations suivantes :
        </small><br><br>
        
        <v-card class="pa-5" outlined >
          <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004, 
             pour la Confiance dans l'économie numérique, dite L.C.E.N.,
             nous portons à la connaissance des utilisateurs et visiteurs du site : 
             <a :href="domaineUrl" target="_blank">{{ domaineName}}</a> les informations suivantes :
          </p>
          <p>
            Statut du propriétaire : <strong>{{ ownerSatus }}</strong><br>
            Le Propriétaire est : <strong>{{ pseudoWebmaster }}</strong><br>
            Adresse électronique du propriétaire : 
            <v-btn x-small color="primary" @click="showDialogEmail=true">
              <v-icon x-small>mdi-key</v-icon>
            </v-btn>
            <br><br>
            Le Créateur du site est : <strong>{{ pseudoWebmaster }}</strong><br/>
            Le Responsable de la  publication est : <strong>{{ pseudoWebmaster }}</strong><br>
            Contacter le responsable de la publication : 
            <v-btn x-small color="primary" @click="showDialogEmail=true">
              <v-icon x-small>mdi-key</v-icon>
            </v-btn>
            <br>
            Le responsable de la publication est une<strong> personne physique</strong><br>
            <br>
            Le Webmaster est  : <strong>{{ pseudoWebmaster }}</strong><br>
            Contacter le Webmaster :  
            <v-btn x-small color="primary" @click="showDialogEmail=true">
              <v-icon x-small>mdi-key</v-icon>
            </v-btn>
            <br><br>
          </p>

          L’hebergeur du site est : 
          <strong>
            <a :href="hostingUrl" target="_blank">{{ hostingName }}</a><br>
            {{ hostingAddress }}
          </strong>
          
          <br><br>
          
          {{ pseudoWebmaster }} certifie avoir fournis son identité exacte à son hébergeur, conformément à la loi,
          <br>comme cela est indiqué sur le site 
          <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228" target="_blank">
          service-public.fr</a> :
        
          <v-card outlined class="pa-5 mt-5">
            <small>
              <i>
              "Sur un site non professionnel d'une personne physique (site non commercial ou blog d'un particulier, par exemple), 
              les mentions obligatoires sont les suivantes : nom, prénom, adresse et numéro de téléphone de l'hébergeur.
              Dans ce cas, le créateur du site peut :
              <br><br>
              - soit indiquer les mentions légales le concernant en plus de celles de l'hébergeur.<br>
              - soit garder son anonymat dès lors qu'il a transmis de façon correcte les mentions légales le concernant à l'hébergeur."
              </i>
            </small>
          </v-card>
          
        </v-card>
    </v-col>

    <v-dialog v-if="showDialogEmail" v-model="showDialogEmail" width="500">
      <v-card class="pt-4">
        <v-card-text>{{ emailWebmaster }}</v-card-text>
      </v-card>
    </v-dialog>

</v-row>
</template>

<style></style>

<script>

const config = require('../../config/' + process.env.NODE_ENV)

import core from '../../plugins/core.js'

export default {
  name: 'empty',
  components: {  },
  data: () => ({
    ownerSatus: "",
    pseudoWebmaster: "",
    emailWebmaster: "",
    hostingName: "",
    hostingAddress: "",
    hostingUrl: "",
    domaineName: "",
    domaineUrl: "",

    showDialogEmail: false
    
  }),
  async mounted(){
    this.ownerSatus = config.ownerSatus
    this.pseudoWebmaster = config.pseudoWebmaster
    this.emailWebmaster = config.emailWebmaster
    this.hostingName = config.hostingName
    this.hostingAddress = config.hostingAddress
    this.hostingUrl = config.hostingUrl
    this.domaineName = config.domaineName
    this.domaineUrl = config.domaineUrl

    core.incStat('/legals')
  },
  methods: {
    

  },
  computed: {
    
    
  }
}
</script>
