<template>
<div class="d-inline">
  <v-btn outlined class="ml-2 my-2"
          x-small @click="dialog= true">
        en savoir <v-icon small>mdi-plus</v-icon> 
  </v-btn>

    <v-dialog
    v-model="dialog"
    max-width="600"
    :scrollable="true"
  >
    <v-card>
      <v-app-bar>
          <v-icon small class="pa-1">mdi-map-marker</v-icon> 
          <h4>{{ $vuetify.lang.t('$vuetify.page.mainPosition') }}</h4>
          <v-spacer></v-spacer>
          <v-btn class="mr-3" icon @click="dialog=false"><v-icon>mdi-close</v-icon></v-btn>
      </v-app-bar>
      <v-card-text>
      <br>
        <v-icon small>mdi-information-outline</v-icon> 
        Pour fonctionner, le réseau Plaanet a besoin d'associer une position géographique à chaque page enregistrée, 
        pour envoyer et recevoir des messages géolocalisés.

        
        <br>
        <br>
        <h3 class="white--text"><v-icon small>mdi-chevron-down</v-icon> En tant qu'utilisateur :</h3><br>
        <v-icon small>mdi-information-outline</v-icon> 
          Nous vous conseillons de NE PAS indiquer votre position exacte, 
        mais d'utiliser plutôt des lieux publics, proches de chez-vous 
        - jardins publics, terrains de jeu, places, rond-points, bords de plage, lac, rivière, forêts, montagnes, etc.
      
      <br><br>
        <v-icon small>mdi-information-outline</v-icon> 
        N'importe quel endroit qui pourrait être le lieux d'un rassemblement "dans la vraie vie" 
        peut convenir pour définir votre position principale.
      
      <br><br>
        <v-icon small>mdi-information-outline</v-icon> 
        L'important est de rester proche de votre véritable lieu de vie, 
        afin de recevoir les messages qui vous sont destinés, et de pouvoir dialoguer avec les membres qui vivent autour de vous.
      
      <br><br>
      <h3 class="white--text"><v-icon small>mdi-chevron-down</v-icon> Pour les pages de type Groupe, Évènement, et Assemblée</h3>
        <br>
        <v-icon small>mdi-information-outline</v-icon> 
        Indiquez la position qui correspond le mieux ! <br>
        Vous êtes libres de vous placer où vous le souhaitez sur la carte.
        <br><br>
      

      <v-alert dense outlined type="error" color="error">
          <small> Attention : un seul changement de position autorisé par jour</small>
      </v-alert>
      <small class="error--text">
          Par mesure de sécurité, et afin de limiter les risques de surveillance du réseau par des 
          personnes malveillantes, la position des pages ne peut être modifiée qu'une fois par jour.
      </small>

      </v-card-text>


      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          text small
          @click="dialog = false"
        >
          <v-icon small>mdi-close</v-icon> Fermer la fenêtre
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
  export default {
    props: [],
    data () {
      return {
        dialog: false,
      }
    },
    mounted: function(){
        this.dialog = this.show
    },
    watch: {
        show: {
            // the callback will be called immediately after the start of the observation
            immediate: true, 
            handler (val, oldVal) {
                if(window.isDev) { console.log("watch preSelectUid", val, oldVal); }
                if(val != null)
                    this.dialog = true
                
            }
        },
    }
  }
</script>
