<template>
  <v-dialog v-model="$store.state.app.popupEmailOpen" max-width="700" persistent>
    <v-card color="#28292f">
      <v-card-actions>
        <v-card-title style="font-size:1.8em;">
          Bonjour {{ $store.state.auth.profile.name }}, &#128515;
        </v-card-title>
        <v-spacer></v-spacer>
        <v-btn color="red lighten-1" class="mr-" small fab 
               @click="$store.dispatch('app/setPopupEmailOpen', false)">
          <v-icon small>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>

      <v-card-actions>
        <h3 class="px-2">
          <v-icon class="mr-2">mdi-mail</v-icon> 
          Souhaitez-vous recevoir vos notifications par e-mail ? *
        </h3>
      </v-card-actions>

      <v-card-text>
        <p>
          Pour ne rien manquer des dernières actualités du réseau, 
          <b>vous pouvez vous abonner</b> aux notifications en indiquant votre adresse e-mail.</p>
        <p>
          Vous recevrez automatiquement des e-mails pour vous signaler vos dernière notifications (commentaires, messages privés, like, etc), 
          ainsi qu'un mail hebdomadaire pour récapituler l'activité du réseau, et vous inviter à revenir survoler la Plaanet de temps en temps...
          <small class="d-md-none white--text">
            <br>* Cette option n'est pas obligatoire.
          </small>
        </p>
        <v-text-field v-model="email" color="orange lighten-2" @change="rulesEmail = rulesEmailTmp"
                      outlined rounded placeholder="Adresse e-mail ?"
                      :rules="[rulesEmail]">
          </v-text-field>
        <small>
          Votre adresse sera stockée de façon sécurisée sur un serveur protégé, 
          et ne sera jamais utilisée à d'autres fins que celles énoncées ci-dessus, ni partagée, ni revendue à qui que ce soit.
        </small>
        <small>
          Toutefois, par précaution, nous vous invitons aussi à fournir de préférence une adresse e-mail anonyme, 
          ne permettant pas de vous identifier formellement.
        </small>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions class="py-4">
        <small class="d-none d-md-inline">
          *Cette option n'est pas obligatoire.
        </small>

        <v-spacer></v-spacer>

        <v-btn v-if="$store.state.auth.user.allowEmail != true" color="red lighten-1"  text @click="cancelEmail">
          <v-icon small class="mr-1">mdi-cancel</v-icon>  Non merci
        </v-btn>
        <v-btn v-if="$store.state.auth.user.allowEmail == true" color="red lighten-1"  text @click="cancelEmail">
          <v-icon small class="mr-1">mdi-cancel</v-icon>  Annuler l'abonnement
        </v-btn>
        <v-btn color="secondary darken-1" class="ml-3 pr-4" :disabled="email=='' || !rulesEmailValid" @click="saveEmail">
          <v-icon small class="mr-2">mdi-check</v-icon>  Enregistrer <span class="ml-1 d-none d-md-inline"> mon adresse</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

import axios from 'axios'
export default {
  name: 'modalSetEmail',
  components: {  },
  props: [ 'open' ],
  data:() => ({
    email: "",
    rulesEmail: true,
    rulesEmailTmp: value => (value.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) || "Le format de l'adresse e-mail est incorrecte",
  }),
  async mounted(){
    this.email = this.$store.state.auth.user.email != null ? this.$store.state.auth.user.email : ""
  },
  methods: {
    async saveEmail(){
        let res = await axios.post('/user/set-email', { email: this.email, allowEmail: true })
        if(res.data.success == true){
          await this.$store.dispatch('app/setPopupEmailOpen', false)
          this.$store.dispatch('auth/fetchUserContext')
        }
    },
    async cancelEmail(){
        let res = await axios.post('/user/set-email', { allowEmail: false })
        if(res.data.success == true){
          this.email = ""
          this.rulesEmail = true
          await this.$store.dispatch('app/setPopupEmailOpen', false)
          this.$store.dispatch('auth/fetchUserContext')
        }
    },
  },
   computed: {
    rulesEmailValid() {
      return (this.email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/))
    },
  },
  watch: {
      'open': { immediate: true, 
          handler (val, oldVal) {
            if(window.isDev) { console.log("#open has changed", oldVal, val); }
            this.show = val
          }
      },
  }, 
}
</script>
