<template>
  <v-dialog v-model="show" max-width="700" persistent>
    <v-card>
      <v-card-actions>
        <v-card-title class="">
          <v-icon  class="mr-2">mdi-hexagon-multiple-outline</v-icon> 
          Règles de vote & création d'assemblée
        </v-card-title>
        <v-spacer></v-spacer>
        <v-btn color="purple darken-3" class="mr-3" small fab 
               @click="$parent.openPopupInfoAssembly = false">
          <v-icon small>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>

      <v-card-text>
        <ul>
          <li>Chaque utilisateur du réseau peu créer une assemblée, 
            dans un rayon de {{ kmMax }} km autour de lui.
          </li>
          <br>
          <li>Chaque utilisateur du réseau peu participer aux sondages publiés 
            dans les assemblées situées à moins de {{ kmMax }} km autour de lui.
          </li>
          <br>
          <li>Vous ne pouvez pas participer aux sondages publiés à plus de {{ kmMax }} km de vous,
            mais vous pouvez y accéder pour les lire.
          </li>
          <br>
          <li>Si vous souhaitez participer à un sondage qui se trouve à plus de {{ kmMax }} km,
            vous pouvez le dupliquer dans assemblée plus proche de vous.
          </li>
          <br>
          <li>Si aucune assemblée ne se trouve assez proche, 
            vous pouvez créer une nouvelle assemblée. <br><br>
            Vous pourrez alors y publier un premier sondage, 
            et permettre aux utilisateurs proches de vous d'en publier à leur tour.
          </li>
        </ul>
        <br>
        <h3 class="text-center">Pourquoi restreindre<br>les droits de publication ?</h3><br>
        L'objectif est de permettre à tous les territoires de traiter 
        des <b>problématiques locales</b>.
        <br><br>
        Lorsqu'un un sondage porte sur une problématique plus générale, il est possible de <i>dupliquer</i> 
        ce sondage dans une ou plusieurs autres assemblées, pour y faire participer un plus grand nombre de personnes.
        <br><br>
        Ce système permet de distribuer les sondages en fonction de leur pertinence territoriale.
        <br><br>
        
          
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="purple lighten-1" class="mr-3" text @click="$parent.openPopupInfoAssembly = false">
          <v-icon small class="mr-2">mdi-check</v-icon>  OK
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

export default {
  name: 'modalInfoAssembly',
  components: {  },
  props: [ 'openPopupInfoAssembly' ],
  data:() => ({
    show: false,
    kmMax: 200
  }),
  async mounted(){
    
  },
  methods: {    
  },
  watch: {
      'openPopupInfoAssembly': { immediate: true, 
          handler (val, oldVal) {
            if(window.isDev) { console.log("#openPopupInfoAssembly has changed", oldVal, val); }
            this.show = val
          }
      },
  }, 
}
</script>
