<template>
  <v-dialog v-model="openPopupInfoSurveySupport" max-width="850">
    <v-card>
      <v-card-title>
        <v-icon small class="mr-2">mdi-vote</v-icon> Règles d'ouverture d'une séance de vote
      </v-card-title>

      <v-card-text><br>
        <ul>
          <li>Lorsqu'un nouveau sondage ou référundum est publié, les votes restent fermés pendant 24h.
          </li>
          <br>
          <li>Au cours de ces 24h, il est seulement possible de voter pour SOUTENIR ou REJETER l'ouverture de la séance.
          </li>
          <br>
          <li>Au terme des premières 24h, la séance de vote est ouverte si elle reçoit une majorité de SOUTIENT.
          </li>
          <br>
          <li>Sinon, elle est rejetée, et le vote n'aura pas lieu.
          </li>
        </ul>
        <br>
        <h3 class="">Pourquoi mettre en place cette période de validation ?</h3>
        <br>
        L'objectif est de réguler démocratiquement l'usage abusif (trolls, etc) de ce système de vote, 
        afin de ne conserver que les propositions véritablement sérieuses.
        <br><br>
        Nous comptons sur vous tous pour éliminer les propositions abusives, afin qu'elles ne restent pas disponibles dans la durée.
        En effet, dès lors qu'une séance de vote est ouverte, il n'est plus possible de la supprimer avant la fin du vote.
       
        
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="$parent.openPopupInfoSurveySupport = false">
          Ok
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

export default {
  name: 'ModalInfoSurveySupport',
  components: {  },
  props: [ 'openPopupInfoSurveySupport' ],
  data:() => ({
    kmMax: 200
  }),
  async mounted(){
    
  },
  methods: {    
  },
}
</script>
