<template>
  <v-dialog v-model="openPopupInfoSurvey" max-width="650">
    <v-card>
      <v-card-title>
        <v-icon small class="mr-2">mdi-vote</v-icon> Règles d'organisation des votes
      </v-card-title>

      <v-card-text>
        <ul>
          <li>Vous pouvez des séances de vote dans les assemblées situées à moins de {{ kmMax }} km
          de votre position principale.
          </li>
          <br>
          <li>Si aucune assemblée n'existe dans un rayon de {{ kmMax }} km autour de vous, 
              vous pouvez en créer une par vous-même.
          </li>
          <br>
          <li>Tous les membres situés à moins de {{ kmMax }} km pourront alors à leur tour oragniser des votes 
            dans cette nouvelle assemblée.
          </li>
        </ul>
        <br>
        <h3 class="text-center">Pourquoi restreindre<br>les droits de publication ?</h3><br>
        L'objectif est de permettre à tous les territoires de traiter 
        des <b>problématiques locales</b>.
        <br><br>
        Lorsqu'un un sondage porte sur une problématique plus générale, il est possible de <i>dupliquer</i> 
        ce sondage dans une ou plusieurs autres assemblées, pour y faire participer un plus grand nombre de personnes.
        <br><br>
        Ce système permet de distribuer les sondages en fonction de leur pertinence territoriale.
        
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="openPopupInfoSurvey = false">
          Ok
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>

export default {
  name: 'modalInfoSurvey',
  components: {  },
  props: [ 'openPopupInfoSurvey' ],
  data:() => ({
    kmMax: 200
  }),
  async mounted(){
    
  },
  methods: {    
  },
}
</script>
