<template>
<v-card  class="mx-auto mt-3" color="rgb(38, 37, 40)">
    <v-row class="ma-0 pa-0">
    <v-col cols="12" sm="6" md="8">
            
        <v-chip small text-color="primary" color="rgba(29, 59, 70, 0.5)" class="mr-2 pl-1">
            <v-icon x-small color="" class="ml-1 mr-1">mdi-mail</v-icon>
            <time-ago style="margin-left: -4px;"
                    :datetime="user.lastDailyEmailDate" 
                    :refresh="60" 
                    long :locale="$vuetify.lang.current">
            </time-ago>
        </v-chip>

        <router-link style="color:white; text-decoration:none;" class="mb-2"
                :to="user._id" v-text="user.name"></router-link>

        <small class="ml-2" v-if="user.page != null && user.page.city!=null">
            <v-icon x-small>mdi-map-marker</v-icon> {{ user.page.city }}
        </small>
        
    </v-col>
    <v-col cols="12" sm="6" md="4" class="text-right">

        <v-chip small text-color="" :color="user.nbNotifTotal > 0 ? 'green darken-2' : 'grey darken-3'" class="mr-2">
            <v-icon x-small color="" class="mr-1">mdi-asterisk</v-icon>
            {{ user.nbNotifTotal }}
        </v-chip>
        
        <v-chip small text-color="" :color="user.nbLiveMsgNotRead > 0 ? 'red darken-2' : 'grey darken-3'" class="mr-2">
            <v-icon x-small color="" class="mr-1">mdi-comment</v-icon>
            {{ user.nbLiveMsgNotRead }}
        </v-chip>

        <v-chip small text-color="" :color="user.nbNotif > 0 ? 'red darken-2' : 'grey darken-3'" class="mr-2">
            <v-icon x-small color="" class="mr-1">mdi-bell</v-icon>
            {{ user.nbNotif }}
        </v-chip>
        
                
    </v-col>
    </v-row>
</v-card>
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }

    .yellow--text .v-time-ago__text{
        color:#fbc02d!important;
    }
    .yellow--text .v-time-ago__text{
        color:#fbc02d!important;
    }
    .v-time-ago__text{
        color:white!important;
    }
</style>

<script>
import TimeAgo from 'vue2-timeago'

import core from '../../plugins/core.js'

export default {
  name: 'userCard',
  components: { TimeAgo },
  data:() => ({
      toolKey: '',
  }),
  props: ['user', 'activeSuperAdmin' ],
  mounted: function(){
      
  },
  methods: {
     
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }, 
    completeText: function(text){
        return core.completeText(text, null, false)
    }

  },

  computed: {
   
    diffInDays: function() {
          if(this.user.dateConnected == null) return 200
          
        let d1 = new Date(this.user.dateConnected)
        let d2 = new Date()

        var t2 = d2.getTime()
        var t1 = d1.getTime()

        return parseInt((t2-t1)/(24*3600*1000))
    },
    
  }
  
  
}
</script>