<template>
<div class="dashboard">


  <v-row class="d-flex" v-if="instance == null">
    <v-col class="mx-auto" style="max-width:400px;">
      <v-card class="pa-5 text-center">
        <img alt="Plaanet" src="../../assets/plaanet-logo.png" height=80 style="position: absolute;margin-left: -13px;margin-top: -12px;">
        <v-btn style="border-width:3px;" :loading="true" fab outlined color="white"><v-icon>mdi-close</v-icon></v-btn><br><br>
        <h3 class="font-konkretika">Chargement des données</h3>
      </v-card>
    </v-col>
  </v-row>

  <v-row class="d-flex" v-if="instance != null">

    <l-map 
      ref="nodeMapStatus" 
      :zoom="zoom"  
      :maxZoom="11"
      :minZoom="3"
      :center="mapCenter"  
      id="map-container"
      class="admin-map" 
      style="width:100%;height:450px;margin-top:-15px;" 
    >
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <template v-for="(instance, i) in network">
          <l-marker :key='i' color="red" :icon="getIconCircle(instance)"
                    :lat-lng="[instance.position.coordinates[1], instance.position.coordinates[0]]"
                    ref="markerToOpenPopup">
              <l-popup class="" open="true">
                <NodeBox :instance="instance" :showBtn="false"/>
              </l-popup>
          </l-marker>
        </template>
    </l-map>

    <div style="position:absolute; top:15px; right:10px;" class="text-center"
         v-if="this.$store.state.auth.isAdmin">
      <v-btn large  class="white--text" color="ml-5 mr-3 blue darken-1 mb-2" 
            title="Check node activity"
            @click="checkActivity()" >
        <v-icon>mdi-check</v-icon> 
        <span class="d-none d-sm-inline">Check activity</span>
      </v-btn>
    </div>

    <v-col cols="12" md="12" sm="12" class="pa-0">
      <v-alert border="bottom" colored-border 
               color="blue" elevation="0" class="pa-0 pb-5" style="border-radius:0px;">
        <v-row class="d-flex">

          <v-col cols="12" class="px-5 mt-2 pb-0 pt-5 text-center">
            <h3>
              <!-- <v-icon x-large class="mb-2">mdi-chart-line</v-icon><br>  -->
              Statistiques globales de l'ensemble du réseau
            </h3>
            <br>
            <hr>
          </v-col>

          <v-col cols="6" md="4" sm="4" lg="2" class="text-center">
            <span style="font-size:50px;">
              {{ nbUserGlobal }}
            </span> <br><v-icon>mdi-account-group</v-icon>
            Utilisateurs
          </v-col>

          <v-col cols="6" md="4" sm="4" lg="2" class="text-center">
            <span style="font-size:50px;">
              {{ nbUserGlobal - nbMobileUsers }}
            </span> <br><v-icon>mdi-desktop-classic</v-icon>
            Web App
          </v-col>

          <v-col cols="6" md="4" sm="4" lg="2" class="text-center">
            <span style="font-size:50px;">
              {{ nbMobileUsers }}
            </span> <br><v-icon>mdi-cellphone</v-icon>
            Mobile App
          </v-col>

          <v-col cols="6" md="4" sm="4" lg="2" class="text-center">
            <span style="font-size:50px;">
              {{ nbPostGlobal }}
            </span> <br><v-icon>mdi-newspaper-variant-multiple</v-icon>
            Publications
          </v-col>

          <v-col cols="6" md="4" sm="4" lg="2" class="text-center">
            <span style="font-size:50px;">
              {{ nbNotifGlobal }}
            </span> <br><v-icon>mdi-bell</v-icon>
           Notifications
          </v-col>

          <v-col cols="6" md="4" sm="4" lg="2" class="text-center">
            <span style="font-size:50px;">
              {{ nbInstanceActive }}
            </span> <br><v-icon>mdi-spider-web</v-icon>
            Serveurs actifs
          </v-col>

        </v-row>
      </v-alert>
    </v-col>

  </v-row>

  <v-row class="d-flex" v-if="instance != null">
    <v-col cols="12" md="4" sm="4" class="text-center">
      <v-alert height="" border="top" colored-border class="text-center"
              :color="instance.isActive ? 'yellow' : 'red'" elevation="2">
          <small class="yellow--text">Instance locale</small>
          <h1><v-icon>mdi-spider-web</v-icon> {{ instance.name }}</h1>
          {{ instance.city }} {{ instance.state }}<br>
          <small>{{ instance.url + ":" + instance.port }} - {{ instance.env }}</small>
      </v-alert>
    </v-col>

    <v-col cols="12" md="8" sm="8" class="text-center">
      <v-alert border="top" colored-border class="pt-5"
              :color="instance.isActive ? 'yellow' : 'red'" elevation="2">
          <v-row class="d-flex mt-2 mb-2">
            <v-col cols="4" md="4" sm="4" class="text-center">
              <span style="font-size:35px;">
                {{ instance.nbUsers }}
              </span> <v-icon color="yellow">mdi-account-network</v-icon>
              <br>Utilisateurs
            </v-col>


            <v-col cols="4" md="4" sm="4" class="text-center">
              <span style="font-size:35px;">
                {{ instance.nbPosts }}
              </span> <v-icon color="green">mdi-newspaper-variant-multiple</v-icon>
              <br>Publications
            </v-col>


            <v-col cols="4" md="4" sm="4" class="text-center">
              <span style="font-size:35px;">
                {{ instance.nbNotifs }}
              </span> <v-icon color="red">mdi-bell</v-icon>
              <br>Notifications
            </v-col>

          </v-row>
          
      </v-alert>
    </v-col>

    <v-col cols="12" md="12" sm="12" class="text-center">
      <v-alert  class="px-0" colored-border style="overflow-x:hidden;"
               color="secondary" elevation="2" height="380">
          <small><v-icon small>mdi-clock</v-icon><br>State history</small>
          <Chart :height="300" :width="100"/>
      </v-alert>
    </v-col>

  </v-row>
        
  <v-row class="d-flex px-4" v-if="instance != null">
    <v-col cols="12" md="12" sm="12" class="pa-0">
      <v-alert border="top" colored-border color="blue" 
              style="overflow-x:hidden;"
              elevation="2" class="px-0 pb-0">

      <v-layout row wrap class="px-1 mt-2 mx-0">
        <v-btn small rounded  class="white--text" color="ml-2 mr-2 blue darken-1 mb-2" 
              title="Check node activity"
              @click="checkActivity()"
               v-if="this.$store.state.auth.isAdmin" >
          <v-icon small>mdi-check</v-icon> 
          <span class="d-none d-sm-inline">Check activity</span>
        </v-btn>
        <small v-if="instance.dateInfoUpdated != null" class="grey--text pa-1">
          <v-icon small>mdi-clock</v-icon>  
          Dernière mise à jour : {{ instance.dateInfoUpdated.substr(0,10) }} -
           {{ instance.dateInfoUpdated.substr(11,8) }} -
        </small>
        <time-ago v-if="instance!=null && instance.dateInfoUpdated != null" :datetime="instance.dateInfoUpdated"
                  :refresh="60" :key="instanceUp" long :locale="$vuetify.lang.current">
        </time-ago>
        <!-- <v-btn small rounded class="white--text" 
              color="ml-2 secondary darken-2 mb-2" 
              title="Update instance informations"
              @click="getInstanceInfo()">
          <v-icon small>mdi-refresh</v-icon> 
          <span class="d-none d-sm-inline">Update infos</span>
        </v-btn> -->
      </v-layout>

      <v-data-table
          v-model="selected"
          :headers="headers"
          :items="network"
          :single-select="singleSelect"
          item-key="name"
          class="elevation-1 nodetable"
      >
        <template v-slot:item.name="{ item }">
          <span style="text-transform:capitalize;" 
                :title="'API URL >> '+item.url+':'+item.port">
                {{ item.name }}
          </span>
        </template>

        <template v-slot:item.isActive="{ item }">
          <v-chip dark color="transparent">
            <v-icon  small
                    :title="item.isActive ? isLocalInstance(item) 
                                            ? 'Le serveur auquel vous êtes connecté en ce moment' 
                                            : 'Ce serveur est actif' 
                                          : 'Ce serveur est injoignable'"
                    :color="item.isActive ? isLocalInstance(item) ? 'yellow' : 'green' : 'red'">
              mdi-spider-web
            </v-icon> 
          </v-chip>
        </template>
        <template v-slot:item.unreachable="{ item }">
          <v-chip dark color="transparent">
            <v-icon  x-small
                    :title="item.unreachable ? 'Ce serveur ne répond pas'
                                             : 'Ce serveur est actif'"
                    :color="item.unreachable ? 'red ': 'green'">
              mdi-circle
            </v-icon> 
          </v-chip>
        </template>


        <template v-slot:item.admins="{ item }">
          <v-btn :color="'transparent'" x-small
                 title="Afficher la liste des administrateurs"
                 @click="showAdmins(item)">
            <v-icon x-small>mdi-account-cowboy-hat</v-icon>
          </v-btn> 
        </template>

      
        <template v-slot:item.lockBy="{ item }">
          <v-chip v-if="!isLocalInstance(item)" 
                :color="item.lockBy ? 'red' : 'transparent'" x-small
                title="Cette instance bloque vos requêtes">
            <v-icon v-if="item.lockBy" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockBy" x-small>mdi-lock-open</v-icon>
          </v-chip> 
        </template>
        <template v-slot:item.lockOut="{ item }">
          <v-btn v-if="!isLocalInstance(item) && isAdmin"
                :color="item.lockOut ? 'red' : 'transparent'" x-small
                title="Ne plus faire de requête vers cette instance"
                @click="lockInOut('out', item)">
            <v-icon v-if="item.lockOut" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockOut" x-small>mdi-lock-open</v-icon>
          </v-btn> 
          <v-chip v-if="!isLocalInstance(item) && !isAdmin"
                :color="item.lockOut ? 'red' : 'transparent'" x-small
                title="Ne plus faire de requête vers cette instance">
            <v-icon v-if="item.lockOut" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockOut" x-small>mdi-lock-open</v-icon>
          </v-chip> 
        </template>
        <template v-slot:item.lockIn="{ item }">
          <v-btn v-if="!isLocalInstance(item) && isAdmin"
                :color="item.lockIn ? 'red' : 'transparent'" x-small
                title="Ne plus répondre aux requêtes de cette instance"
                @click="lockInOut('in', item)">
            <v-icon v-if="item.lockIn" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockIn" x-small>mdi-lock-open</v-icon>
          </v-btn> 
          <v-chip v-if="!isLocalInstance(item) && !isAdmin"
                :color="item.lockIn ? 'red' : 'transparent'" x-small
                title="Ne plus répondre aux requêtes de cette instance">
            <v-icon v-if="item.lockIn" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockIn" x-small>mdi-lock-open</v-icon>
          </v-chip> 
        </template>
        
      </v-data-table>
      </v-alert>
    </v-col>


  </v-row>

  <v-row class="d-flex px-4" v-if="isAdmin">
    <v-col cols="12" md="12" sm="12" class="pa-0">
      <template v-for="(node, i) in network">
        <template v-if="node.isActive == false">
          <v-card text :key="i" outlined color="red" 
                  style="background-color:#511c1ca1!important;" class="pa-3">
            <v-icon small>mdi-spider-web</v-icon>
            {{ node.name }} est injoignable 
            <v-btn color="red" outlined 
                    @click="getTracesInfo(node.name); showDialogTraces = true" 
                    small class="ml-2">
              <v-icon small>mdi-radar</v-icon> Voir les traces
            </v-btn>
            <v-btn color="red" 
                    @click="getTracesInfo(node.name); showDialogTraces = true" 
                    small class="ml-2">
              <v-icon small>mdi-radar</v-icon> Effacer les traces
            </v-btn>
            <v-btn color="red darken-3" 
                  @click="getTracesInfo(node.name); showDialogDisconnect = true" 
                  
                  small class="ml-2">
              <v-icon small>mdi-pipe-disconnected</v-icon> Déconnecter :{{ node.name }}
            </v-btn>
            <v-btn icon v-if="loadingInfo" :loading="loadingInfo">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>

          </v-card>

        </template>
      </template>
      
    </v-col>
  </v-row>

  <v-dialog v-model="showDialogTraces" width="400">
    <v-card v-if="isAdmin && traces != null">
      <v-card-title class="headline">
        <v-icon>mdi-radar</v-icon>
        Traces du serveur :{{ traces.nodeName }}
      </v-card-title>

      <v-card-text>
        Lorsqu'un serveur n'est plus joignable, les traces qu'il a laissé peuvent
        engendrer des bugs sur votre serveur.
        <br><br>
        Pour éviter ces bugs, il peut être nécessaire d'effacer de votre serveur 
        les données liées au serveur injoignable.

        <br><br><hr>
      </v-card-text>

      <v-card-text>
        <h5>Traces présentes en ce moment sur votre serveur :</h5>
      <ul>
        <li>{{ traces.comments.length }} commentaires dont l'auteur est sur {{ traces.nodeName }}</li>
        <li>{{ traces.sharedPosts.length }} publications de {{ traces.nodeName }} partagées sur {{ instance.name }}</li>
        <li>{{ traces.notifs.length }} notifications lié à {{ traces.nodeName }}</li>
        <br>
        <li>{{ traces.follows.length }} abonnements de {{ instance.name }} >  {{ traces.nodeName }}</li>
        <li>{{ traces.followers.length }} abonnés de {{ traces.nodeName }} > {{ instance.name }} </li>
        <li>{{ traces.blacklist.length }} blacklist de {{ instance.name }} >  {{ traces.nodeName }} </li>
        <br>
        <li>{{ traces.inRoles.length }} page avec roles liés à des users situés sur {{ traces.nodeName }} </li>
      </ul>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="showDialogTraces = false">
          Annuler
        </v-btn>
        <v-btn color="red" @click="showConfirmDeleteTrace = true" 
              :disabled="showConfirmDeleteTrace" small class="ml-2">
          <v-icon small>mdi-radar</v-icon> Effacer les traces
        </v-btn>
      </v-card-actions>

      <v-col cols="12" v-if="showConfirmDeleteTrace && deleteTracesRes.error == null">
        <v-alert border="top" color="red darken-3">
          Etes-vous sur de vouloir effacer ces traces ?
          <small>Les données seront définitivement perdues.</small>
          <v-btn color="red" @click="deleteTraces(traces.nodeName)" small class="ml-2 mt-2">
            <v-icon small>mdi-radar</v-icon> Oui, effacer
          </v-btn>
          <v-btn @click="showConfirmDeleteTrace = false" text small class="ml-2 mt-2">
            <v-icon small>mdi-cancel</v-icon> Annuler
          </v-btn>
        </v-alert>
      </v-col>

      <v-col cols="12" v-if="deleteTracesRes.error == false">
        <v-alert border="top" color="green darken-2">
          Les traces ont été effacées avec succès
        </v-alert>
        <v-btn @click="showConfirmDeleteTrace = false; showDialogTraces = false" 
                color="green"
                block small class="mt-2">
          <v-icon small>mdi-check</v-icon> Ok
        </v-btn>
      </v-col>
      
    </v-card>
  </v-dialog>


  <v-dialog v-model="showDialogDisconnect" width="400">
    <v-card v-if="isAdmin && traces != null">
      <v-card-title class="headline">
        <v-icon>mdi-pipe-disconnected</v-icon>
        Déconnecter le serveur :{{ traces.nodeName }}
      </v-card-title>

        <v-card-text>
          <b>Déconnecter le serveur {{ traces.nodeName }}</b> signifie couper toute interraction avec ce serveur.<br><br>
          L'instance <b>{{ traces.nodeName }}</b> sera effacée de la base de données locale, 
          et votre serveur n'enverra plus aucune requête vers <b>{{ traces.nodeName }}</b>.
          <br><br>
          Pour reconnecter <b>{{ traces.nodeName }}</b>, 
          son administrateur devra suivre la procédure d'entrée sur le réseau, comme si c'était la première fois.
        </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>        
        <v-btn text small @click="showDialogDisconnect = false">
          Annuler
        </v-btn>
        <v-btn color="red"  @click="disconnectNode(traces.nodeName)" small class="">
          <v-icon small>mdi-pipe-disconnected</v-icon> 
          Déconnecter :{{ traces.nodeName }}
        </v-btn>
      </v-card-actions>

      <v-col cols="12" v-if="showConfirmDeleteTrace && deleteTracesRes.error == null">
        <v-alert border="top" color="red darken-3">
          Etes-vous sur de vouloir effacer ces traces ?
          <small>Les données seront définitivement perdues.</small>
          <v-btn color="red" @click="deleteTraces(traces.nodeName)" small class="ml-2 mt-2">
            <v-icon small>mdi-radar</v-icon> Oui, effacer
          </v-btn>
          <v-btn @click="showConfirmDeleteTrace = false" text small class="ml-2 mt-2">
            <v-icon small>mdi-cancel</v-icon> Annuler
          </v-btn>
        </v-alert>
      </v-col>

      <v-col cols="12" v-if="disconnectNodeRes.error == false">
        <v-alert border="top" color="green">
          Le serveur a été déconnecté avec succès
        </v-alert>
        <v-btn @click="showDialogDisconnect = false; showDialogTraces = false" 
                color="green"
                block small class="mt-2">
          <v-icon small>mdi-check</v-icon> Ok
        </v-btn>
      </v-col>
      <v-col cols="12" v-else>
        <v-alert border="top" color="orange darken-4" text outlined dense>
          <small>Toutes les traces seront automatiquement effacées 
          avant d'effectuer la déconnection du serveur.</small>
        </v-alert>
      </v-col>
      
    </v-card>
  </v-dialog>

  <v-dialog v-model="showModalAdmins" width="400">
    <v-card v-if="currentInstanceModalAdmins != null">
      <v-card-title class="headline">
        <v-icon>mdi-chevron-down</v-icon>
        Admin de l'instance {{ currentInstanceModalAdmins.name }}
      </v-card-title>

      <v-card-text>
        <br>

        <template v-for="(page, i) in currentInstanceModalAdmins.admins">
            <v-card max-width="800" class="mx-auto mt-3" color="rgb(38, 37, 40)" :key="i">
              <v-list color="transparent">
                  <v-list-item>
                      <router-link style="color:white; text-decoration:none;"  :to="'/page/'+page.uid">
                          <img :src="avatarUrl(page.uid)" height="45" class="mr-3">
                      </router-link>

                      <v-list-item-content>
                          <router-link style="color:white; text-decoration:none;" 
                                      :to="'/page/'+page.uid" v-text="page.name">
                          </router-link>
                      </v-list-item-content>
                  </v-list-item>
              </v-list>
            </v-card>
        </template>
        
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="showModalAdmins = false">
          Ok
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</div>
</template>
<style >


  .admin-map .leaflet-popup-content-wrapper, .admin-map .leaflet-popup-tip {
      color: #FFF!important;
  }
  .admin-map .leaflet-control-attribution{
    display:none!important;
  }
  .nodetable tr:hover{
    background:rgba(0,0,0,0.1)!important;
  }
  div.v-alert__content{
    text-align: center !important;
  }
</style>

<style>
  @import "~leaflet/dist/leaflet.css";
  .dashboard{
    margin-bottom:150px;
  }
  .dashboard #map-container{
    position:relative !important;
    top: 0px;
    z-index:0;
    background-color: #1b2f35;
  }
  .dashboard .leaflet-tile{
    opacity: 0.6 !important;
  }

  .dashboard .leaflet-popup-content {
    margin: 0px!important;
    line-height: 1.2;
    min-width:250px;
  }
  .dashboard .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(40, 40, 40, 0.92)!important;
    box-shadow: rgba(79, 78, 78, 0.92)!important;
    color:white;
    padding:0px;
  }
  .dashboard .leaflet-container{
    font-family: 'Raleway', sans-serif;
    font-weight: 500 !important;
    letter-spacing: unset !important;
  }
  .dashboard .v-data-table.nodetable{
    background-color: transparent!important;
  }
</style>

<script>

import axios from 'axios'
//import router from '../../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

import Chart from '@/components/admin/Chart.vue'

import NodeBox from '@/components/instance/NodeBox.vue'

import '@/assets/css/main.css'
import core from '../../plugins/core.js'

import TimeAgo from 'vue2-timeago'

const config = require('../../config/' + process.env.NODE_ENV)

export default { 
  name: 'admin-dashboard',
  props: [],
  components: {
    LMap, LTileLayer, LMarker, LPopup, Chart, TimeAgo, NodeBox
  },
  computed: {
    isAdmin: {
      get() {
        return this.$store.state.auth.isAdmin;
      },
    },
  },
  data: () => ({
    network: [],
    instance: null,
    instanceUp: 0,
    rebootInstanceName: '',
    nbUsers: 0,
    nbPosts: 0,
    nbUserToCreate: 10,
    UDWtimer: null,
    lineChart: null,
    nbUserGlobal: 0,
    nbPostGlobal: 0,
    nbNotifGlobal: 0,
    nbMobileUsers: 0,
    countConnected: 0,
    
    nbInstanceActive: 0,
    apiEnv: 'dev',
    selected: [],
    rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        minName: v => v.length >= 3 || 'Min 3 characters',
    },

    singleSelect: false,
    headers: [
      // { text: 'URL', value: 'url' },
      {
        text: 'Nom',
        align: 'left',
        value: 'name',
      },
      { text: 'Localisation', value: 'city' },
      //{ text: 'Port', value: 'port' },
      { text: 'Inscrits', value: 'nbUsers' },
      { text: 'Posts', value: 'nbPosts' },
      { text: 'Notifs', value: 'nbNotifs' },
      { text: 'État', value: 'isActive' },
      { text: 'Ping', value: 'unreachable' },
      { text: 'Admins', value: 'admins' },

      { text: 'lockBy',  value: 'lockBy' },
      { text: 'lockIn',  value: 'lockIn' },
      { text: 'lockOut', value: 'lockOut' },
      // { text: 'MML', value: 'moneyMassLocal' },
      // { text: 'UDV', value: 'UDValue' },
    ],
    /* MAP */
    showMap: false,
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    url : config.mapTilesUrl,
    attribution:'', //&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    popupContent: "ok",

    history: [],
    currentInstanceModalAdmins: null,
    showModalAdmins: false,

    traces: null,
    showDialogTraces: false,
    showConfirmDeleteTrace: false,
    deleteTracesRes: [],
    showDialogDisconnect: false,
    loadingInfo: false,
    disconnectNodeRes: {}
  }),
  async mounted(){
    const baseUrl = localStorage.getItem("baseUrl")
    if(window.isDev) { console.log("BASEURL", baseUrl); }
    //axios.defaults.baseURL = baseUrl != null ? baseUrl : ""
    
    //init icon map
    delete L.Icon.Default.prototype._getIconUrl  
    L.Icon.Default.mergeOptions({  
      iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
      iconUrl: require('leaflet/dist/images/marker-icon.png'),  
      shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
    })
    
    // socket.on('count-connected', (data) => {
    //     if(window.isDev) { console.log("you receive count connected", data); }
    //     this.countConnected = data.count
    // })
    // socket.emit('get-count')

    await this.readInstanceInfo()
     
    const nodeBounds = this.$store.state.network.nodes.map(node => [
      node.position.coordinates[1],
      node.position.coordinates[0]
    ]);
    const mapBounds = new L.LatLngBounds(nodeBounds);

    // Add a virtual padding.
    mapBounds.pad(0.5);
    this.$refs.nodeMapStatus.fitBounds(mapBounds);
    setTimeout(()=>{ 
      this.$refs.nodeMapStatus.setZoom(this.$refs.nodeMapStatus.mapObject.getZoom()-1); 
      this.showCurrentNode()
    }, 500) 
    
  },
  methods: {

    showCurrentNode: function(){
      let i = 0
      this.$store.state.network.nodes.map((node, x) => {
        if(node.name == this.$store.state.network.localName) i=x
      })
      this.$refs.markerToOpenPopup[i].mapObject.openPopup()
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    async getInstanceInfo(){
        try{ 
            const res = await axios.get('/admin/update-network')
            this.network = res.data.network
            this.calculateGlobalValues()
        }catch(e){
            if(window.isDev) { console.log("error /admin/instance-info", e); }
            //router.push('/stream');
        }
    },
    async readInstanceInfo(){
      try{ 
        const res = await axios.get('/instance/get-network')
        this.network = res.data.network
        this.calculateGlobalValues()
      }catch(e){
          if(window.isDev) { console.log("error /admin/instance-info", e); }
          //router.push('/stream');
      }
    },
    
    async checkActivity(){
        try{ 
            const res = await axios.get('/admin/check-instance-activity')
            if(window.isDev) { console.log("check-instance-activity res ?", res.data); }
            this.network = res.data.network
            this.calculateGlobalValues()
        }catch(e){
            if(window.isDev) { console.log("error /admin/instance-info", e); }
            //router.push('/stream');
        }
    },

    async getHistory() {
        try{ 
          await axios.get('/admin/get-state-history')
                      .then(res => {
                          if(window.isDev) { console.log("get-state-history res ?", res.data); }
                          this.history = res.data.history
                      }).catch(res => {
                        if(window.isDev) { console.log('error get-state-history ?', res); }
                      })
        }catch(e){
            if(window.isDev) { console.log("error /admin/get-state-history", e); }
            //router.push('/stream');
        }
    },


    async lockInOut(typeInOut, instance){
        try{
            await axios.post('/admin/lock-instance',
                            { typeInOut: typeInOut,
                              name: instance.name,
                              url: instance.url,
                              port: instance.port })
                            .then(res => {
                                this.network.forEach((ins, i) => {
                                  if(ins.name == instance.name && ins.url == instance.url && ins.port == instance.port){ 
                                    this.network[i].lockIn = res.data.instance.lockIn
                                    this.network[i].lockOut = res.data.instance.lockOut
                                  }
                                })
                            })
        }catch(e){
            //router.push('/stream');
            console.log("catch error", e)
        }
    },

    async getTracesInfo(nodeName){
      try{
          this.loadingInfo = true
          await axios.post('/admin/get-traces-infos',
                          { nodeName: nodeName })
                          .then(res => {
                              console.log("/admin/get-traces-infos", res.data)
                              this.traces = res.data
                          })
          this.loadingInfo = false
      }catch(e){
          console.log("error /admin/get-traces-infos", e)
      }
    },

    async deleteTraces(nodeName){
      try{
          await axios.post('/admin/delete-traces',
                          { nodeName: nodeName })
                          .then(res => {
                              console.log("/admin/delete-traces", res.data)
                              if(res.data.error == false)
                                this.deleteTracesRes = res.data
                          })
      }catch(e){
          console.log("error /admin/delete-traces", e)
      }
    },

    async disconnectNode(nodeName){
      await this.deleteTraces(nodeName)
      try{
          await axios.post('/admin/disconnect-node',
                          { nodeName: nodeName })
                          .then(res => {
                              console.log("/admin/disconnect-node", res.data)
                              if(res.data.error == false){
                                this.disconnectNodeRes = res.data
                                this.getInstanceInfo()
                              }
                                
                          })
      }catch(e){
          console.log("error /admin/delete-traces", e)
      }
    },

    showAdmins(item){
      this.showModalAdmins = true
      this.currentInstanceModalAdmins = item 
    },   

    getIcon(item) {
      let color = 'blue'
      if(item.url + ':' + item.port == localStorage.getItem("baseUrl")) color = 'gold'
      if(item.isActive === false) color = 'red'
      
      return new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-'+color+'.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });
    },
    getIconCircle: function(instance){
      let avatar = instance.isActive ? 'logo-earth.png' : 'logo-earth-down.png'
      return L.icon({
          iconUrl: avatar, //'markers/root-marker-earth.png',
          iconSize:     [40, 40], // size of the icon
          iconAnchor:   [20, 20], // point of the icon which will correspond to marker's location
          popupAnchor:  [0, -20] // point from which the po
      });
    },

    isLocalInstance(instance){
      return (instance.url + ':' + instance.port) == localStorage.getItem("baseUrl")
    },

    calculateGlobalValues(){
      this.nbUserGlobal = 0
      this.nbPostGlobal = 0
      this.nbNotifGlobal = 0
      this.nbInstanceActive = 0
      this.nbMobileUsers = 0

      this.instanceUp++
      this.network.forEach(i => {
        if(window.isDev) { console.log("calculateGlobalValues", i.nbUsers, i.nbPosts, i.nbNotifs); }
        if(i.url + ':' + i.port == localStorage.getItem("baseUrl")){
          this.instance = i
        }
        if(i.nbUsers == null) i.nbUsers = 0
        if(i.nbPosts == null) i.nbPosts = 0
        if(i.nbNotifs == null) i.nbNotifs = 0
        if(i.nbMobileUsers == null) i.nbMobileUsers = 0

        if(i.isActive) this.nbInstanceActive++
        if(i.isActive) this.nbUserGlobal += i.nbUsers
        if(i.isActive) this.nbPostGlobal += i.nbPosts
        if(i.isActive) this.nbNotifGlobal += i.nbNotifs
        if(i.isActive) this.nbMobileUsers += i.nbMobileUsers
      })
    }
  },
}
</script>
