/* scoped */

#live .main-live-textbar{
  position:fixed !important;
  bottom:0px !important;
  right:70px;
  font-size:14px;
  padding:0px 10px;
  padding-top: 0px;
  padding-right: 20px;
  background-color:#2F3136;
}

 #live #main-live-container{
  border-radius:0px; 
  padding: 75px 90px 100px 12px;
}

 #live #container-live-conv.drawer-live-close{
  width:100%!important;
  max-width:100%!important;
  flex: 0 0 100%;
}
 #live .msg-text-conv{
  font-size:14px;
}
 #live .link-author-name{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
 #live .chanel{
  color: rgb(151, 151, 151);
  font-size:15px;
}
 #live .chanel.selected{
  color: rgb(255,255,255);
}
 #live .chanel.pending{
  color: rgb(228, 228, 228);
  font-weight: bold;
  font-size:15px;
}
 #live .live-textarea{
  font-size:14px;
}

#live #members .v-list-item{
  min-height: 42px;
}
#live #members .v-list-item__content{
  padding:0px;
}
#live #members .v-list-item__title{
  padding:8px;
}
#live #members .v-list-item__title.selected{
  background-color: #b4b4b430;
}

#live #members .v-list-item.v-item--active:before{
  opacity: 0 !important;
}

#live .listContact{
  z-index:10;
  overflow-y:hidden;
}
#live .listContact:hover{
  overflow-y:auto;
}

#live .elipsis{
   /* overflow: hidden;  */
   /* text-overflow: ellipsis;  */
   white-space: nowrap;
   /* max-width:90%; */
}

#live .sub-channel .btn-crud-channel{
  display:none;
}
#live .sub-channel:hover .btn-crud-channel{
  display:flex;
}

#live .msg-text-conv:hover .btn-dots-conv{
  display:inline;
}
#live .msg-text-conv .btn-dots-conv{
  display:none;
}


.theme--dark #live .v-navigation-drawer{
  background-color:#232528;
  top:64px !important;
}
.theme--dark #live .v-navigation-drawer .v-list{
  background-color:transparent;
}

#live #lastMsgNotRead{
  cursor:pointer;
}
#live #lastMsgNotRead:hover{
  background:rgb(71, 73, 73);
}


@media (max-width: 600px){
  #container-live-conv.drawer-live-open{
    width:0%!important;
    max-width:0%!important;
    flex: 0 0 0%;
  }
  .drawer-live-open.main-live-textbar{
    display: none;
  }

  .main-live-textbar{
    position:fixed !important;
    bottom:0px !important;
    right:0px;
    left:0px;
  }
  .main-live-textbar .live-textarea{
    width:100%!important;
  }

  #main-live-container{
    border-radius:0px; 
    padding: 45px 15px 100px 12px;
  }

  .msg-text-conv{
    font-size:12px;
  }
}


/* not scoped */


#live .main-live-textbar .v-list-item.selected{
  background-color: #2d7c99;
}

#live .v-textarea.v-text-field--box.v-text-field--single-line .v-text-field__prefix, 
#live .v-textarea.v-text-field--box.v-text-field--single-line textarea, 
#live .v-textarea.v-text-field--box.v-text-field--outlined .v-text-field__prefix, 
#live .v-textarea.v-text-field--box.v-text-field--outlined textarea, 
#live .v-textarea.v-text-field--enclosed.v-text-field--single-line .v-text-field__prefix, 
#live .v-textarea.v-text-field--enclosed.v-text-field--single-line textarea, 
#live .v-textarea.v-text-field--enclosed.v-text-field--outlined .v-text-field__prefix, 
#live .v-textarea.v-text-field--enclosed.v-text-field--outlined textarea {
    margin-top: 0px;
}
#live .v-textarea.v-text-field--box.v-text-field--single-line .v-label, 
#live .v-textarea.v-text-field--box.v-text-field--outlined .v-label, 
#live .v-textarea.v-text-field--enclosed.v-text-field--single-line .v-label, 
#live .v-textarea.v-text-field--enclosed.v-text-field--outlined .v-label {
    top: 8px;
}
#live .v-textarea.v-text-field--solo .v-input__prepend-inner, 
#live .v-textarea.v-text-field--solo .v-input__prepend-outer, 
#live .v-textarea.v-text-field--solo .v-input__append-inner, 
#live .v-textarea.v-text-field--solo .v-input__append-outer {
    margin-top: 13px;
}


#live .v-list-item__avatar.online img{
  border: 3px solid rgb(28, 158, 49);
}
/* .live-textarea .v-input__append-inner,
.live-textarea .v-input__prepend-inner{ 
  margin-top: 0px !important;
} */

#live .live-textarea.v-text-field.v-text-field--solo .v-input__append-inner,
#live .live-textarea.v-text-field.v-text-field--solo .v-input__prepend-inner{
  align-self: flex-start !important;
}


#live .live-textarea .v-text-field__slot .v-label{
  top: 13px !important;
}
#live .live-textarea .v-text-field__slot textarea{
  margin-top: 10px !important;
}