<template>
    <v-list three-line>
        <template v-for="(item) in pages">
        
            <v-list-item :key="item.name">
            <v-list-item-avatar>
                <v-img :src="avatarPath(item.uid)"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
                <v-list-item-title v-text="item.name"></v-list-item-title>
                <v-list-item-subtitle v-text="item.description"></v-list-item-subtitle>
            </v-list-item-content>
            </v-list-item>
        </template>
    </v-list>
</template>


<script>
//import axios from 'axios'
import core from '../../plugins/core.js'
export default {
  name: 'app',
  props: ['pages'],
  data: () => ({
  }),
  async mounted(){
    
  },
  methods: {
      avatarPath : function(uid){
      if(window.isDev) { console.log("avatarPath"); }
      return core.avatarUrl(uid)
    }
  },
  
}
</script>