<template>
<div>
    
  <v-col cols="12" md="12">
    <v-card class="mx-auto" style="max-width: 800px;padding:15px; font-size:0.8em">
      <v-col cols="12" class="">
        <h1>Les règles de la monnaie <img alt="UNI" src="../assets/uni-logo-white.png" height=40></h1>
        <hr><br>
        <p>
          - Chaque utilisateur dispose automatiquement (dès son inscription) d'un compte courant (current wallet).
        </p>
        <p>
          - Chaque compte courant est créateur de monnaie : il reçoit chaque jour 1 ùni.
        </p>
        <p>
          - Chaque compte courant tend vers une valeur moyenne d'environ 30 ùni
        </p>
        <p>
          - Un compte courant d'une valeur inférieure à 30 uni augmente progressivement vers 30 uni
        </p>
        <p>
          - Un compte courant d'une valeur supérieure à 30 uni diminue progressivement vers 30 uni
        </p>
        <p>
          - Dès sa création, un compte courant est crédité de 30 uni, 
          pour disposer immédiatement de la valeur moyenne du système 
          (permet d'équilibrer les comptes et de ne pas perturber la valeur d'1 ùni 
          sur les autres comptes courants)
        </p>
        <p>
          - Chaque utilisateur peut créer des comptes supplémentaires (custom wallet), publics ou privés
        </p>
        <p>
              - Un compte public peut échanger des transactions avec tous les autres comptes publics
        </p>
        <p>
              - Un compte privé peut échanger des transactions seulement 
              avec les autres comptes de son propriétaire
        </p>
        <p>
              - On pourra gérer les comptes custom&public à plusieurs 
              (ajouter des user pour gérer l'envoi de monnaie depuis le compte, ex : compte d'une asso) 
        </p>
        <hr><br>
        <h2>Comment ça marche ?</h2><br>
        <p>
          - La monnaie unitaire créée par le système s'appelle <b>ù</b>
        </p>
        <p>
          - Mais les prix s'expriment en <b>ùni</b>
        </p>
        <p>
          - 1 ùni = 1 dividende universel<br><br>
          - 1 ùni = (masseMonétaireTotale / nbUtilisateurs) / 365.25 * 12<br><br>
          - 1 ùni est égale à la masse monétaire totale, divisée par le nombre d'utilisateur total, divisé par les 365.25 jours de l'année, et multiplié par les 12 mois de l'année.<br><br>
          - Selon cette formule, en distribuant 1 ùni par jour à chaque utilisateur, on fait tendre tous les comptes courants vers 30.437499 ùni<br><br>
          - 30.437499, c'est aussi la moyenne du nombre de jours présents dans 1 mois sur une année complète (365.25/12)<br>
          - Par cette formule, on fixe la moyenne de chaque compte à environ 30 ùni, soit 1 ùni / jour pendant 1 mois.<br>

        </p>
        <hr><br>
        <p>
          - Les comptes courant (current) comptent en ù
        </p>
        <p>
          - Les autres comptes (custom) comptent en ùni (dividendes)
        </p>
        <p>
          - La monnaie stockée sur les comptes custom n'est donc pas soumise à la déflation. Sa valeur reste stable.
        </p>
        <p>
          - Les comptes custom jouent le rôle de compte d'épargne, pour "mettre de l'argent de côté".
        </p>
        <hr><br>
        <p>
          - Si on considère que 1500€/mois constitue une somme suffisante pour vivre "correctement" dans les années qui viennent,
          on peut calculer une sorte de "taux de change" €uro/ùni selon cette formule :<br><br>
          1 ùni = (1500€/mois) / (30.437499 jour/mois) ~= 49.281314€/jour<br>
          1 ùni ~= 49.281314€ <br>
          1 € = 1/49.281314€ ~= 0.020291 ùni
        </p>
        <p>
          Important :<br>- Ce taux de conversion est fixe, il ne dépend que de la valeur de référence choisie au départ (ici 1500€)<br>
          - Il ne varie pas selon la taille de la masse monétaire (ù) puisqu'il se base sur des ùni.
        </p>
      </v-col>
    </v-card>
  </v-col>

</div>
</template>
