<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" md="8" sm="8" class="mx-auto"> 

    <v-card class="mx-auto mt-4" style="border: 2px solid rgb(82, 184, 207)">
      <v-col class="text-left pt-5">
        <h2 class="px-3"><v-icon>mdi-spider-web</v-icon> Enregistrer votre API</h2>
        <v-card-subtitle  class="text-left">
                Vous avez installé l'API Plaanet sur un nouveau serveur ?<br>
                Remplissez le formulaire suivant pour le connecter au reste du réseau.
          </v-card-subtitle>
      </v-col>
    </v-card>

    <v-card class="mx-auto mt-4" style="border: 2px solid rgb(82, 184, 207)">
      <v-col class="pa-5">
        <v-form @submit.prevent="bootNode">
          <h4 class="text-"><v-icon>mdi-wallet</v-icon> API informations</h4><br>
          <v-text-field outlined filled clearable :rules="[rules.required]"
                        v-model="initToken" id="init_token" label="Init Token"></v-text-field>
          
          <v-text-field outlined filled clearable :rules="[rules.required, rules.counter, rules.simplename]" @keyup="checkName"
                        v-model="nodeName" id="name" label="Nom de l'instance (alpha, synja, etc)"></v-text-field>
          
          <v-text-field outlined filled clearable :rules="[rules.required]"
                        v-model="nodeUrl" id="url" label="API URL (https://nomaine.name)"></v-text-field>
          
          <v-text-field outlined filled clearable :rules="[rules.required]"
                        v-model="nodePort" id="port" label="API PORT (444)"></v-text-field>
          
          <v-text-field outlined filled clearable :rules="[rules.required]"
                        v-model="nodePortSocket" id="port" label="SOCKET PORT (445)"></v-text-field>
          
          <!-- <hr><br>
          <h4 class="text-"><v-icon>mdi-monitor-cellphone</v-icon> Hébergez-vous aussi l'aaplication client Plaanet ?</h4><br>
          <v-text-field outlined filled clearable v-model="clientUrl" id="clientUrl" label="Client URL"></v-text-field>
          <v-text-field outlined filled clearable v-model="clientPort" id="clientPort" label="Client PORT"></v-text-field> -->
          <hr><br>
          <h4 class=""><v-icon>mdi-map-marker</v-icon>Localisation</h4>
          <small class="">
            Merci d'indiquer la position (approximative) de votre serveur, afin que les nouveaux membres puissent sélectionner le serveur le plus proche d'eux.
            Cliquez sur l'icon sur la carte pour valider la position choisie.
          </small>
          <br><br>
            <v-text-field outlined filled clearable v-model="nodeCity" :rules="[rules.required]" id="city" label="Ville" @change="searchCityPos"></v-text-field>
          
          <v-row class="mx-0">
            <v-text-field outlined filled clearable v-model="nodeState" id="state" label="Pays" @change="searchCityPos"></v-text-field>
            <v-btn fab class="ml-2" color="secondary" @click="searchCityPos"><v-icon>mdi-magnify</v-icon></v-btn>
          </v-row>
        </v-form>

        <l-map ref="nodeMap"  :zoom="zoom"  :maxZoom="11" :center="mapCenter"  
               style="width:100%;height:300px; margin-bottom:15px" 
               v-if="nodeLatLng.lat == null && showMap == true">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-marker v-for="(city, i) in citySuggests" :key='i' 
                      :lat-lng="[city.lat, city.lon]" 
                      draggable @dragend="nodeDragend">
              <l-popup class="text-center" :open="true">
                <br><h3>{{ city.display_name }}</h3><br>
                <v-btn color="blue" style="width:100%" @click="selectPosition(city.lat, city.lon)">
                    <v-icon>mdi-check</v-icon> Utiliser cette position
                </v-btn>
              </l-popup>
            </l-marker>
        </l-map>

        <v-alert type="success" v-if="nodeLatLng.lat != null">
          Position de l'instance : OK<br>
          <small>lat : {{ nodeLatLng.lat }}</small><br>
          <small>lng : {{ nodeLatLng.lng }}</small>
        </v-alert>
        <v-alert type="success" v-if="nodeLatLng.lat != null && nodeName!='' && isValideName == true && nodeUrl!='' && nodePort != ''">
          Vous êtes prêt à booter !
        </v-alert>
          
    <v-flex xs12>
    </v-flex>
    
        <div v-if="nodeExists!=null">
          <v-alert v-if="nodeExists == true" type="success">Ce serveur existe !</v-alert>
          <v-alert v-if="nodeExists == false" type="error">Désolé, ce serveur est injoignable !</v-alert>
        </div>
        <div v-if="nodeInited!=null">
          <v-alert v-if="nodeInited == false" type="success">Initialisation !</v-alert>
          <v-alert v-if="nodeInited == true" type="error">Mais ce serveur est déjà initialisé</v-alert>
        </div>

        <v-btn :disabled="nodeLatLng.lat == null || !isValideName" class="white--text" 
              color="orange lighten-1"  @click="bootNode" block>
          <v-icon>mdi-check</v-icon> Boot
        </v-btn>
      </v-col>
    </v-card>
  </v-col>
</v-row>

</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
  .leaflet-popup-close-button{
    margin: 10px;
  }
</style>

<script>

import axios from 'axios'
import router from '../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'
import nominatim from '../services/nominatim.js'


export default {
  name: 'home',
  components: { LMap, LTileLayer, LMarker, LPopup },
  data:() => ({
    rebootInstanceName: '',
    user: null,
    instance: null,
    network: [],
    instanceInit: null,
    initToken: '',
    nodeUrl: '',
    nodePort: '',
    nodePortSocket: '',
    nodeName: '',
    nodeCity: '',
    nodeState: '',
    nodeLatLng: { lat: null, lng: null },
    nodeExists: null,
    nodeInited: null,
    citySuggests: [],
    showMap: false,
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    popupContent: "ok",
    clientUrl: '',
    clientPort:'',

    rules: {
          required: value => !!value || 'Required',
          counter: value => value.length <= 10 || 'Max 10 caractères',
          
          simplename: value => {
            const pattern = /^[a-z]+$/
            return pattern.test(value) || 'Nom invalide : utilisez seulement des lettres minuscules'
          },
        },
  }),
  async mounted(){
      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
  
  },
  methods: {
    nodeDragend(e){ 
      e.target.openPopup()
      //let marker = this.$refs.nodeMarker.mapObject
      //this.nodePosition = marker.getLatLng()
    },
    selectPosition(lat, lng){
      this.nodeLatLng.lat = lat
      this.nodeLatLng.lng = lng
      this.showMap = false
    },
    searchCityPos(){
      //try{
         this.nodeLatLng.lat = null
         this.nodeLatLng.lng = null
         let query = this.nodeCity
         if(this.nodeState != "") query += "," + this.nodeState
         nominatim.search(query, (res)=>{
            if(res.error == false){
              //this.loadPlaces = false
              this.citySuggests = res.data
              this.showMap = true
              let fst = this.citySuggests[0]
              if(fst != null){
                this.mapCenter = L.latLng(fst.lat, fst.lon)
                this.zoom = 10
              }
            }//else{ }
          }, true, 1)
    },
    bootNode(){ 
      //must create 2dsphere index in mongodb after first node initialisation
      //db.instances.createIndex( { "coordinates" : "2dsphere" } )
      try{
         //try to contact the node at url:port given by user
         let baseUrl = this.nodeUrl + ":" + this.nodePort
         axios.defaults.baseURL = baseUrl
         axios.get('/instance/exists')
              .then( res => {
                  if(window.isDev) { console.log("res /instance/exists", res.data); }
                  this.nodeExists = !res.data.error
                  //if this new node exists
                  if(this.nodeExists){
                    this.nodeInited = res.data.instance
                    if(this.nodeInited == false){ this.initNode() //start real node initialization
                    }else{
                      //x
                    }
                  }else{
                    this.nodeInited = null
                    if(window.isDev) { console.log("inited ?", this.nodeInited); }
                  }
                  //if(this.nodeInited == false)
              }).catch(res =>{
                if(window.isDev) { console.log("error 1 /instance/exists", res); }
                this.nodeExists = false
                this.nodeInited = null
              })
      }catch(e){
        if(window.isDev) { console.log("error 2 /instance/exists", e); }
        this.nodeExists = false
        this.nodeInited = null
        //router.push('/');
      }
    },
    initNode(){
      try{
          //a node cant be initialized again
          if(this.nodeInited != false) return
          
          //try to contact the node at url:port given by user
          let baseUrl = this.nodeUrl + ":" + this.nodePort
          axios.defaults.baseURL = baseUrl
          axios.post('/instance/init', {
              name: this.nodeName,
              url: this.nodeUrl,
              port: this.nodePort,
              portSocket: this.nodePortSocket,
              city: this.nodeCity,
              state: this.nodeState,
              clientUrl: this.clientUrl,
              clientPort: this.clientPort,
              lat: this.nodeLatLng.lat,
              lng: this.nodeLatLng.lng
          }, {
            headers: {
              'X-Init-Token': this.initToken,
            },
          })
              .then( res => {
                  if(window.isDev) { console.log("res /instance/init", res.data); }
                  if(!res.data.error){
                    router.push('/')
                  }else{
                    if(window.isDev) { console.log("inited ?", this.nodeInited); }
                  }
              }).catch(res =>{
                if(window.isDev) { console.log("error 1 /instance/init", res); }
              })
      }catch(e){
        if(window.isDev) { console.log("error 2 /instance/init", e); }
        //router.push('/');
      }
    },
    async forgetAll(){
      await localStorage.setItem("baseUrl", "")
      await localStorage.setItem("url", "")
      await localStorage.setItem("port", "")
    },
    checkName(){ this.nodeName = this.nodeName.replace(/\s+/g, '') },
  },
  computed: {
      showBootInstance: function(){
          return (this.$store.state.auth.isAdmin) || this.instance == false
      },
    isValideName() {
      const pattern = /^[a-z]+$/
      return pattern.test(this.nodeName)
    }
  },
}
</script>
