<template>
<div>
  <v-col cols="12" lg="10" 
        class="px-0 mx-auto createSurvey" 
        v-if="roomPage != null && surveyType == '' && $route.params.surveyUid == null">
    <v-card class="pa-4 mt-4">
        <v-col cols="12" class="pb-5">
          <v-card-title class="">
            <v-icon class="">mdi-plus</v-icon> 
            <v-icon class="mr-2">mdi-vote-outline</v-icon>
            {{ $vuetify.lang.t('$vuetify.createSurvey.organizeSeanceVote') }} 
          </v-card-title>
          <v-card-subtitle class="">
            {{ $vuetify.lang.t('$vuetify.createSurvey.whatKindSurvey') }} ?
          </v-card-subtitle>

          <!-- <hr> -->
          <v-row>
            <v-col cols="12" sm="6" class="pb-0">
              <v-card class="pa-4 mt-4 card-btn-select" outlined @click="selectType('survey')">
                  <v-card-title class="">
                    <v-icon class="mr-2">mdi-vote-outline</v-icon> 
                    Sondage
                    <v-spacer></v-spacer>
                    <v-btn small fab color="purple darken-3" @click="selectType('survey')">
                      <v-icon>mdi-arrow-right</v-icon> 
                    </v-btn>
                  </v-card-title>
                  <v-card-subtitle class="">
                    Enquête statistique dont le but est de connaître, à un moment donné, 
                    la manière dont se répartissent les opinions individuelles à propos d'une question donnée.
                    <br><br>
                    Un sondage vous permet de connaître l'option général des autres membres du réseau sur une question précise.
                    <br><br>
                    Il n'a pas de valeur décisionnelle, seulement informative.
                  </v-card-subtitle>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6" class="pb-0">
              <v-card class="pa-4 mt-4 card-btn-select" outlined @click="selectType('referendum')">
                  <v-card-title class="">
                    <v-icon class="mr-2">mdi-vote-outline</v-icon> 
                    Référendum
                    <v-spacer></v-spacer>
                    <v-btn small fab color="purple darken-3" @click="selectType('referendum')">
                      <v-icon>mdi-arrow-right</v-icon> 
                    </v-btn>
                  </v-card-title>
                  <v-card-subtitle class="">
                    Procédure de vote permettant de prendre une décision collective, 
                    sur la base d'une proposition précise.<br><br>
                    Un référendum vous permet de soumettre vos propres propositions à l'approbation des autres membres du réseau.
                    <br><br>
                    L'objectif est de prendre une décision, pas seulement de donner son avis.
                  </v-card-subtitle>
              </v-card>
            </v-col>
         </v-row>
      
        </v-col>
    </v-card>
  </v-col>

  <v-col cols="12" md="8" 
        class="px-0 mx-auto createSurvey" 
        v-if="roomPage != null && surveyType != ''">
    
    <v-card class="pa-4 mt-4">
      <v-row>
        <v-col cols="12" class="pt-0 mt-3">
          <v-card class="pa-2" outlined elevation="4">
            <template v-if="roomPage != null">
              <v-list-item :to="'/room/'+roomPage.uid" title="cliquer pour afficher la page de cette assemblée">
                <router-link :to="'/room/'+roomPage.uid">
                  <img :src="avatarUrl(roomPage.uid)" height="30" width="30" class="mt-1 mr-2">
                </router-link>
                
                <router-link :to="'/room/'+roomPage.uid">
                  <v-list-item-content>          
                    <v-list-item-title 
                          class="" 
                          style="text-overflow: unset; white-space: normal; color:white;">
                      {{ roomPage.name }}
                    </v-list-item-title>       
                    <v-list-item-subtitle>
                      <v-icon small>mdi-spider-web</v-icon> 
                      {{ iName(roomPage.uid) }}
                      <v-icon small>mdi-map-marker</v-icon> 
                      {{ roomPage.city }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </router-link>
                <v-spacer></v-spacer>
                <v-btn icon fab><v-icon>mdi-chevron-right</v-icon></v-btn>
              </v-list-item>
            </template>
          </v-card>
        </v-col>
        
        <v-col cols="12" class="pb-0">
          <v-card-title style="border-bottom: 1px solid #9f4baf;">
            <v-icon class="">mdi-plus</v-icon> 
            <v-icon class="mr-2">mdi-vote-outline</v-icon>
            {{ $vuetify.lang.t('$vuetify.survey.typeEdition_'+typeEdition) }}
            {{ $vuetify.lang.t('$vuetify.survey.type_a_'+surveyType) }}
          </v-card-title>
        </v-col>
        
      </v-row>

      <v-form @submit.prevent="login">        
        <br>
        <template>
          <br>
          <h3><v-icon small>mdi-chevron-down</v-icon> Titre et proposition</h3>
          <small>Indiquez un titre simple, et rédigez un texte clair afin que tout le monde comprennent le sens de votre proposition<br></small><br>
          <v-text-field outlined v-model="title" id="title" color="white"
                        :label="$vuetify.lang.t('$vuetify.createSurvey.surveyTitle')+ ' ?'">
          </v-text-field>

          <v-textarea outlined  v-model="text" id="description" color="white" auto-grow
                      :label="$vuetify.lang.t('$vuetify.createSurvey.mainText')" spellcheck="false">
          </v-textarea>

          <v-text-field dense outlined v-model="tagsStr" id="title" color="white" label="#tag #tag #tag"></v-text-field>
          
          <v-col cols="12" class="pa-0 mt-5">
            <br>
            <h3><v-icon small>mdi-chevron-down</v-icon> Réponses</h3>
            <small>Indiquez les réponses parmis lesquelles les votants pourront choisir :<br></small><br>
            
            <template v-for="i in nbAnswers">
              <v-textarea filled v-model="answers[i-1]"  color="white" auto-grow spellcheck="false"
                            clearable id="title" :key="i"
                            :label="$vuetify.lang.t('$vuetify.createSurvey.answer')+' '+i">
              </v-textarea>
            </template>
          </v-col>

          <v-col cols="12" class="text-center py-0 mb-5">
            <v-btn @click="decNbAnswers()" small color="red" 
                  class="mr-2 mb-2" :disabled="nbAnswers===nbAnswersMin">
                  - Supprimer
            </v-btn>
            <v-btn @click="incNbAnswers()" small color="green" 
                  class="mr-2 mb-2" :disabled="nbAnswers===nbAnswersMax">
                  + Ajouter une réponse
            </v-btn>
            <v-btn @click="addWhiteVote()" small color="white" 
                  class="mr-2 mb-2" light>
              + Vote blanc
            </v-btn>
          </v-col>


          <v-col cols="12">
            <v-icon small>mdi-clock</v-icon> Durée des votes<br>
            <small>
              Pendant combien de jours souhaitez-vous recueillir 
              des votes ? (entre {{nbDaysMin}} et {{nbDaysMax}} jours)
            </small>
            <v-slider v-model="nbDays"  
                      color="purple" 
                      thumb-color="purple" 
                      track-color="purple darken-3" 
                      track-fill-color="purple" 
                      thumb-label
                      :min='nbDaysMin' :max='nbDaysMax'  
                      :label="nbDays+' jours'" inverse-label></v-slider>
          </v-col>         
          <br>
        </template>
        

        <v-btn class="white--text" color="purple"
               @click="saveSurvey()" 
               :disabled="false" 
               style="min-width:100%">
          <v-icon>mdi-check</v-icon> 
          {{ $vuetify.lang.t('$vuetify.createSurvey.publishThe_'+surveyType) }}
        </v-btn>

      </v-form>
      <v-card-subtitle v-if="resMsg != ''" :class="resColor">{{ resMsg }}</v-card-subtitle>    
    </v-card>
  </v-col>
</div>
</template>

<style scoped>  

  .v-time-picker-title__time .v-picker__title__btn, 
  .v-time-picker-title__time span{
    height: 57px;
    font-size: 57px;
  }

  .createSurvey .v-input__slider .v-input__slot:hover {
    background-color: rgba(49, 41, 53, 0.77) !important;
  }

</style>

<style>
  .createSurvey .v-input__slider .v-input__slot:hover {
    background-color: rgba(49, 41, 53, 0.77) !important;
  }
  .card-btn-select:hover{
    background-color: rgb(53, 48, 55);
  }
</style>

<script>

import router from '../router/router'
import axios from 'axios'
import moment from 'moment'
import core from '../plugins/core.js'

export default {
  name: 'login',
  components: {
  },
  data: () => ({
    roomPage: null,
    title: '',
    text: '',
    tagsStr: '',
    answers: ['', ''],

    nbDays: 7,
    nbDaysMax: 30,
    nbDaysMin: 1,

    nbAnswers: 2,
    nbAnswersMin: 2,
    nbAnswersMax: 10,
    resMsg: '',

    surveyType: '',
    typeEdition: 'publish',
    originalSurveyUid: null
  }),
  mounted: async function(){
    let date =  new Date()
    this.startDate = moment(date).format('YYYY-MM-DD');
    

    //console.log("route", this.$route.path, this.$route.path.indexOf('duplicate'))
    if(this.$route.path.indexOf('publish') > 0){
      this.typeEdition = 'publish'
    }else if(this.$route.path.indexOf('duplicate') > 0){
      this.typeEdition = 'duplicate'
      this.originalSurveyUid = this.$route.params.surveyUid
    }else if(this.$route.path.indexOf('edit') > 0){
      this.typeEdition = 'edit'
      this.originalSurveyUid = this.$route.params.surveyUid
    }

    let currentRoomUid = this.$route.params.roomUid

    if(this.$route.params.surveyUid != null){
      const res = await axios.get(`/room/get-survey/${this.$route.params.surveyUid}`)
      if (res.data.error == false) {
        console.log("#ROOM get survey", res.data)
        this.surveyType = res.data.survey.type != null ? res.data.survey.type : 'survey'
        this.title      = res.data.survey.title
        this.text       = res.data.survey.text
        this.tags       = res.data.survey.tags
        this.answers    = res.data.survey.answers
        this.nbDays     = res.data.survey.duration
        this.nbAnswers  = res.data.survey.answers.length
        currentRoomUid  = res.data.survey.parentPage.uid
      }else{
        router.back()
      }
    }

    const res = await axios.post(`/page/profil`, { pageUid: currentRoomUid })
    if(res.data.error == true){
      console.log("error /page/profil on createSurvey")
    }else{
      if(res.data.page.canSendSurvey == false) router.back()
      this.roomPage = res.data.page
    }

    core.incStat('/room/publish')
  },
  methods: {
    async saveSurvey(){
      let tagsArray = this.extractTags()
      const res = await axios.post(`/room/save-survey`, { 
                            roomUid: this.roomPage.uid, 
                            type: this.surveyType,
                            title: this.title,
                            text: this.text,
                            tags: tagsArray,
                            answers: this.answers,
                            duration: this.nbDays,
                            originalSurveyUid: this.originalSurveyUid,
                            typeEdition: this.typeEdition
                           
      })
      if(res.data.error == false){
        router.push('/room/survey/' + res.data.survey.uid)
      }
    },
    selectType(type){
      this.surveyType = type
    },
    extractTags(){
      if(this.tagsStr == '') return null
      return this.tagsStr.split(' ')
    },
    incNbAnswers(){
      if(this.nbAnswers < this.nbAnswersMax) this.nbAnswers++
    },
    decNbAnswers(){
      if(this.nbAnswers > this.nbAnswersMin) this.nbAnswers--
      this.answers.splice(this.nbAnswers, 1)
    },
    addWhiteVote(){
      if(this.nbAnswers< this.nbAnswersMax){
        this.nbAnswers++
        this.answers[this.nbAnswers-1] = "Blanc"
      } 
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    iName: function(){
      return core.iName(this.$store.state.auth.profile.uid)
    }
  }
}
</script>
