<template>
  
  <v-card class="mx-auto">
    <v-col cols="12">
      <v-card-title>
          <v-icon>mdi-plus</v-icon> <v-icon style="margin-right:10px">mdi-wallet</v-icon> Create a new wallet
      </v-card-title> 
      <v-form @submit.prevent="createWallet">
        <v-text-field filled v-model="walletName" id="name" label="Wallet name"
                      :rules="[rules.required, rules.minName]"></v-text-field>
        <v-row>
          <v-card-subtitle style="padding: 0px 16px;">
            <v-icon>mdi-lock</v-icon>
                By default, this account is private. 
                If you want other people send money to this wallet, activate the next option :
          </v-card-subtitle>
          <v-col cols="12">
            <v-switch style="margin-top:0px"
              v-model="isPublic"
              color="green"
              :label="`${isPublic ? 'public account' : 'private account'}`"
            ></v-switch>
          </v-col>
        </v-row>

      </v-form>
    </v-col>
        
    <v-card-actions>
      <v-btn class="white--text" color="secondary" @click="createWallet" style="min-width:100%">
        <v-icon>mdi-check</v-icon> Create
      </v-btn>
    </v-card-actions>

  </v-card>

</template>



<script>

import axios from 'axios'
import router from '../router/router'

const baseUrl = localStorage.getItem("baseUrl")

export default {
  name: 'auth',
  components: {},
  data: () => ({
      walletName: '',
      isPublic: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        minName: v => v.length >= 2 || 'Min 3 characters',
    },
  }),
  async mounted(){
      
  },
  methods: {
    async createWallet(){
        if(window.isDev) { console.log("create wallet", this.walletName); }
        try{
            await axios.post(baseUrl+'/user/createWallet', 
                            { walletName: this.walletName,
                              isPublic: this.isPublic })
                              .then(res => {
                                  if(window.isDev) { console.log("create wallet ok", res); }
                                  router.push('/profile');
                              })
        }catch(e){
            if(window.isDev) { console.log("error "+ baseUrl+"/user/createWallet", e); }
            router.push('/');
        }
    }
  }
}
</script>
