<template>
<div>
<v-row class="d-flex FAQ">
  <v-col cols="12" lg="10"  md="10" sm="10" class="mx-auto" style="max-width:1000px;">
    <v-col cols="12" class="mx-auto text-center">
      <v-col cols="12" class="pa-0 mx-auto" style="background-color:#231f20;">

        <v-col class="text-center mx-auto"  cols="12" sm="8">
          
          <h2 class="font-konk mt-5">
            <v-icon>mdi-book</v-icon> Foire aux questions
          </h2>
        </v-col>


        <v-card class="pa-5 mt-4" outlined >
          <h3 class="font-konk">1 - Plaanet, qu'est ce que c'est ?</h3>
          <p class="text-left"><br>
            Plaanet est un réseau social local créé par la Résistance, pour la Résistance.<br>
            Il a été conçu pour faciliter les rencontres physiques et l'organisation locale.<br>
            - C'est un logiciel libre : tout le monde peut se l'approprier.<br>
            - C'est un logiciel open source : le code source de l'application est ouvert et auditable.<br>Aucune mauvaise surprise, Plaanet n'a rien à cacher.<br>
            - C'est un réseau décentralisé : il ne repose pas sur un serveur central ayant autorité. Les serveurs sont interconnectés et indépendants.<br>
           </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">2 - Quelles différences avec les autres réseaux ?</h3>
           <p class="text-left"><br>
            - Pas d'e-mail pour s’inscrire.<br>
            - Possibilité de retrouver des membres proches de chez-vous sur une carte interactive.<br>
            - Rechercher de membres par aspirations et compétences.<br>
            - Diffuser des messages localisés de un à plusieurs centaines de kilomètres à la ronde.<br>
            - Organiser des évènements locaux sur un agenda ouvert.<br>
            - Créer et participer à des assemblées virtuelles, pour publier des sondages et des référendums, et participer aux votes.<br>
            - Fil d'actualités locales selon la zone définie.<br>
            - Et bien sûr, Plaanet est libre, open source, décentralisé, gratuit et sans publicité !<br>
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">3 - Comment est financé Plaanet ?</h3>
           <p class="text-left"><br>
            L'argent ne fait pas partie de notre équation.<br><br>
            Plaanet est développé uniquement par des bénévoles qui travaillent et s'investissent gratuitement pour une cause commune. 
            Les serveurs sont hébergés et financés par les bonnes âmes qui mettent leurs ressources à disposition de la résistance.<br>
            L'initiative de posséder un serveur est totalement désintéressée. Elle permet seulement de consolider le réseau.
            <br><br>
            Les personnes à l'origine de cette plateforme n'espèrent qu'une seule forme de retour sur investissement : notre libération collective.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">4 - Plaanet essaie-t-il de vous tracer via la géolocalisation ?</h3>
           <p class="text-left"><br>
            Plaanet n'utilise <b>JAMAIS</b> votre position GPS en temps réel.<br>
            Ni sur smartphone, ni sur PC.
            <br><br>
            Nous vous demandons seulement d'indiquer MANUELLEMENT un lieu proche de votre position réelle, afin de pouvoir vous transmettre les informations liées à cette zone géographique.
            <br><br>
            Vous pouvez déplacer votre icon sur la carte pour définir le lieux exacte où vous souhaitez apparaître.
            <br><br>
            Pour que Plaanet ait un réel intérêt pour vous, il est nécessaire de renseigner une position géographique.<br>
            Mais vous êtes toujours libres de décider de votre position sur la carte.
            <br><br>
            Une fois votre position enregistrée, vous ne pouvez en changer qu'une seule fois toutes les 24h,
            ceci afin de limiter la possibilité de surveillance généralisée du réseau.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">5 - Plaanet est-il sécurisé / crypté ?</h3>
           <p class="text-left"><br>
            Plaanet n'utilise actuellement pas de technique de cryptage poussée comme Telegram, Signal ou d'autres applications.<br>
            En revanche, il est naturellement sécurisé comme n'importe quel autre site web, afin d'empêcher les attaques les plus communes.
            <br>
            Si vous souhaitez accéder à Plaanet de façon 100% anonyme, vous pouvez utiliser le service 
            <a href="https://www.torproject.org/download/" target="_blank">Tor</a>.<br>
            Mais dans la mesure où vous ne fournissez jamais vous même vos informations personnelles (nom, email, etc), 
            seule une attaque de grande ampleur, sur l'ensemble du réseau, pourrait réellement compromettre votre identité...<br>
            Vous pouvez donc utiliser nos services sans courrir plus de risque qu'ailleurs sur internet... Au contraire...
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">6 - Comment sont gérées mes données personnelles ?</h3>
           <p class="text-left"><br>
            Plaanet ne souhaite obtenir ni stocker aucune donnée personnelle vous concernant.<br>
            Un simple pseudo et mot de passe suffisent à créer votre compte.<br>
            Vos adresses IP ne sont pas conservées dans nos données.<br>
            Il vous appartient de prendre soin des informations que vous transmettez au reste de la communauté. 
            Vous êtes le maître de vos données.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">7 - Quel serveur choisir à l'inscription ?</h3>
           <p class="text-left"><br>
            Vous êtes libre de choisir celui qui vous inspire le plus confiance, tout simplement.<br>
            Le serveur que vous choisissez à l'inscription devient le serveur qui stockera toutes vos données par la suite (publications, pages, sondages, etc).<br>
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">8 - J'ai perdu mon mot de passe, comment faire ?</h3>
           <p class="text-left"><br>
            Malheureusement, sans addresse e-mail liée à votre compte, impossible de récupérer votre mot de passe de façon sécurisée.<br>
            Nous ne pouvons que vous conseiller de recréer un compte.
            Si la sécurité a des avantages, elle peut aussi avoir certains inconvénients...
          </p>
        </v-card>
       
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">9 - Quel serveur choisir à l'inscription ?</h3>
           <p class="text-left"><br>
            Vous êtes libre de choisir celui qui vous inspire le plus confiance, tout simplement.<br>
            Le serveur que vous choisissez à l'inscription devient le serveur qui stockera toutes vos données (publications, pages, sondages, etc).<br>
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">10 - Je ne vois personne sur la carte, comment faire ?</h3>
           <p class="text-left"><br>
            Vérifiez vos filtres sur la carte.
            Il est possible que le temps de chargement soit conséquent, soyez patient le temps que votre connexion charge toutes les données.
          </p>
        </v-card>
       
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">11 - Je fais face à un bug, que faire ?</h3>
           <p class="text-left"><br>
            Merci d'envoyer un message sur Plaanet ici : <br>
            <a href="https://plaanet.io/page/alpha:60f20d6949e9a80da3521fad" target="_blank">https://plaanet.io/page/alpha:60f20d6949e9a80da3521fad</a>
            <br><br>
            Le réseau Plaanet est développé par des bénévoles.
            <br>Nous ne garantissons pas que l'application soit parfaites à 100%.<br>
            Des bugs peuvent survenir comme dans n'importe quelle applications.<br>
            Nous vous demandons de bien vouloir nous excuser si cela se produit, et de nous en informer au plus vite afin que nous puissions apporter les corrections nécessaires.
            Merci
          </p>
        </v-card>
        
        <v-card class="pa-5 mt-4" outlined>
          <h3 class="font-konk">12 - Comment peut-on contribuer au réseau Plaanet ?</h3>
           <p class="text-left"><br>
            Si vous êtes développeur et que vous souhaitez nous aider à améliorer la plateforme, le code se trouve ici : 
            <a href="https://gitlab.com/plaanet" target="_blank">https://gitlab.com/plaanet</a><br>

            N'hésitez pas à l'installer chez-vous, à le tester, et à 
            <a href="https://gitlab.com/plaanet/plaanet-api/-/issues/43" target="_blank">nous contacter</a> si vous souhaitez nous aider.
        </p>
        </v-card>

      </v-col>


    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>

.FAQ p{
  font-size: 14px;
}

@media (max-width: 960px){
  .home-main-title{
    margin-top:45px;
    font-size:20px; 
  }
}
@media (max-width: 600px){
  .home-main-title{
    margin-top:10px;
    font-size:15px; 
  }
}

</style>

<script>

//import axios from 'axios'
// import router from '../router/router'

// import core from '../plugins/core.js'

export default {
  name: 'home',
  components: {  },
  data:() => ({
    
  }),
  async mounted(){
  },
  methods: {
  },
}
</script>
