<template>

<v-row id="profil">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>


        <v-list-item-avatar height="60" width="60">
          <v-img :src="avatarUrl(page.uid)"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>

          <v-list-item-title class="headline">
            <small><v-icon>mdi-link-variant</v-icon> Pages auxquelles vous êtes abonné</small>
          </v-list-item-title>
          
        </v-list-item-content>

      </v-list-item>
    </v-card>
    
    <br>
    

    <!-- Stream page -->
    <!-- <v-btn block @click="loadStream">Refresh</v-btn> -->
    <v-card max-width="800" class="mx-auto">
      
      <v-list three-line v-if="page.follows != null && page.follows.length > 0">

        <v-subheader style="height:unset">
            You are following <strong class="pa-1">{{ page.follows.length }}</strong> 
            page{{ page.follows.length>1?"s":"" }}
        </v-subheader>
         <v-subheader style="height:unset" class="mb-3">
            <small>Click on "cancel" to stop following a page</small>
        </v-subheader>
        <hr>

        <template v-for="(p, i) in page.follows">
            
            <v-list-item :key="i">
                <router-link style="color:white; text-decoration:none;"  :to="'/page/'+p.uid">
                    <v-list-item-avatar class="mt-6 mr-2">
                                <v-img :src="avatarUrl(p.uid)"></v-img>
                    </v-list-item-avatar> 
                </router-link>

                <v-list-item-content>
                    <router-link style="color:white; text-decoration:none;" 
                                :to="'/page/'+p.uid" v-text="p.name"></router-link>
                </v-list-item-content>
                <v-list-item-content>
                    <v-btn small @click="removeFromFollows(p.uid)">
                        <v-icon small>mdi-link-variant-off</v-icon> cancel
                    </v-btn>
                </v-list-item-content>
            </v-list-item>
        </template>
      </v-list>

      <v-list v-if="page.follows == null || page.follows.length == 0">
          <v-list-item>
          <v-list-item-content>
                <v-list-item-title>
                    <v-icon>mdi-cancel</v-icon> Your follows list is empty
                </v-list-item-title>
                <v-list-item-subtitle>
                    Use the button <v-icon>mdi-link-variant</v-icon> to add post author to your follows,<br>
                    and retreive all their posts in your stream.
                </v-list-item-subtitle>
          </v-list-item-content>
          </v-list-item>
      </v-list>
     
    </v-card>

  </v-col>

</v-row>
</template>

<style>
  
</style>

<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

// import L from 'leaflet';
// import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

// import Cropper from '@/components/Cropper.vue'
//import Post from '@/components/Post.vue'

export default {
  name: 'auth',
  components: {  },
  data: () => ({
    user: { name: '' },
    page: { name: '' },
    
    stream: [],
    streamLoading: false,
    showStream: true
    
    
  }),
  async mounted(){
    this.page.name = this.$store.state.auth.user.name != null ? this.$store.state.auth.user.name : ", you are not logged in"
    this.page.uid = this.$store.state.auth.profile.uid

    await this.updateDataProfile()
  },
  methods: {
    
    async updateDataProfile(){
      try{
        axios.post('/page/profil', { pageUid: this.page.uid })
            .then( res => {
              if(res.data.error == false){
                this.user = res.data.user
                this.page = res.data.page
                //this.loadStream()
              }else{
                router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    nl2br: function(str, is_xhtml){
      var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
      return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    },
   
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 500)
    },

    removeFromFollows: async function(pageUid){
        if(window.isDev) { console.log("removeFromFollows"); }
        const res = await axios.post('/page/remove-from-follows', { 
                                        pageUid: pageUid
                                    })
                                    
        if(res.data.error == false){
            let pos = -1
            this.page.follows.forEach((p, i)=>{
                if(p.uid == pageUid) pos = i
            })
            if(pos > -1) this.page.follows.splice(pos, 1)
        }
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
    },

    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }

  },
  computed: {
    
    
  }
}
</script>
