<template>
<div class="homepage">

  <!-- SECTION : HEAD -->
  <v-row class="d-flex home-main-section" style="">
    <img src="../assets/home/bg-section-v2.png" class="d-none d-sm-inline" style="max-width:100%;">
    <img src="../assets/home/bg-section1-xs.png" class="d-sm-none" style="max-width:100%;min-width:100%;">
    <!-- <v-btn style="position:absolute; top: 250px; left:15px;text-transform: none">
      <v-icon small color="white" class="mr-2">mdi-login</v-icon> Se connecter
    </v-btn> -->
    <h1 class="d-none">La rébélion s'organise partout sur la plaanet !</h1>
  </v-row>

  <v-row>
    <v-col cols="12" class="py-0 d-none d-sm-inline col-btn-header" 
         style="">
      <v-btn @click="joinRebellion()" class="btn-onglet" elevation="0"
              color="red darken-1 mr-2" 
              style="text-transform:none;" >
          <v-icon small color="white">mdi-handshake</v-icon>
          {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }} !
        </v-btn>
        <v-btn to="/manifest" color="primary" class="btn-onglet" 
              style="text-transform:none; background-color:#101c1f;" elevation="0" 
              outlined >
          <v-icon small color="white">mdi-book</v-icon> 
          <span class="white--text">{{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}</span>
          <v-icon small class="ml-2">mdi-arrow-right</v-icon>
        </v-btn>
        <v-btn outlined color="secondary" to="/download-app"  class="btn-onglet ml-2" elevation="0" v-if="!isMobile"
               style="text-transform:none; background-color:#101c1f;"  >
          <v-icon color="white">mdi-android</v-icon>
          <span class="white--text">Installer l'app<span class="d-none d-md-inline"> Android</span></span>
          <v-icon class="ml-2">mdi-cellphone-arrow-down</v-icon> 
        </v-btn>
    </v-col>
    <div class="mt-3 d-sm-none" style="margin-top:-65px!important;padding-left:20px;">
      <v-btn @click="joinRebellion()" 
              color="red darken-1" class=" mb-1 mr-2" 
              small style="text-transform:none;" >
          <v-icon small color="white">mdi-handshake</v-icon>
          {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }} !
        </v-btn>
        <v-btn to="/login" color="blue" class="mb-1 mr-2"
              small  style="text-transform:none;">
          <v-icon small color="" class="mr-1">mdi-login</v-icon> Se connecter
        </v-btn>
    </div>
  </v-row>

  <!-- SECTION : VIDEO - un contact permanent -->

  <v-row class="d-flex border-top-primary bg-transparent" v-if="!isMobile && false">
    <v-btn block color="blue" to="/download-app" style="border-radius:0px; text-transform:none; height:110px;text-align:center;font-size:18px;" class="no-text-transform">
      <span style="white-space: normal;">
      <v-icon x-large>mdi-android</v-icon><br>
      <v-icon >mdi-cellphone-arrow-down</v-icon> 
      Télécharger l'application<br>Plaanet pour Android
      </span>
    </v-btn>
  </v-row>

  <v-row class="d-flex border-top-primary bg-transparent" v-if="false">
    <v-col cols="12" class="pa-0 text-center">
      <iframe width="100%" :height="heightIframe" class="mx-auto" id="iframeVid"
              sandbox="allow-same-origin allow-scripts allow-popups" 
              src="https://tube.nocturlab.fr/videos/embed/d3a32bdc-0f49-493d-97ef-1478a85b4e96?subtitle=fr&title=0&warningTitle=0" 
              frameborder="0" allowfullscreen></iframe>
    </v-col>
  </v-row>

  <!-- SECTION : ARTICLE 1 MANIFESTE -->

  <v-row class="d-flex bg-section-white px-5 black--text" 
        style="padding-top:15px;padding-bottom:30px;">
    <v-col cols="12" class="mx-auto text- ">

      <v-btn outlined block color="secondary darken-2" to="/download-app"  v-if="!isMobile" 
              class=" ml-2 d-sm-none" elevation="0" x-large
              style="text-transform:none;"  >
        <v-icon color="">mdi-android</v-icon>
        <span class="">Installer l'app Android</span>
        <v-icon class="ml-2">mdi-cellphone-arrow-down</v-icon> 
      </v-btn>

      <!-- <br><hr> <br> -->
      <br>
      <h1 class="font-konk text-center">LISEZ LE <span class="primary--text">MANIFESTE</span><br>ET REJOIGNEZ-NOUS !</h1>
      <br><br>
    </v-col>
    
    <v-col cols="12" md="5" lg="4" class="ml-auto black--text">
      <v-card elevation="4">
      <iframe width="100%" :height="heightIframe" class="mx-auto" id="iframeVid"
                sandbox="allow-same-origin allow-scripts allow-popups" style="margin-bottom: -10px;"
                src="https://tube.nocturlab.fr/videos/embed/d3a32bdc-0f49-493d-97ef-1478a85b4e96?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
      </v-card>
    </v-col>

    <v-col cols="12" md="6" lg="4" class="mr-auto">
      <h2 class="font-konk">Article 1°</h2>
      <p class="text-left">
        - Étant donnée l’illégitimité des mesures sanitaires, imposées aux peuples du monde entier, 
        de façon autoritaire et anti-démocratique, 
        <b>nous reconnaissons la rébellion légitime</b> partout où 
        les gouvernements violent la souveraineté des peuples.
      </p> 

      <v-btn to="/manifest" color="primary" class="ml-auto" 
              style="text-transform:none; background-color:transparent;"  >
        <v-icon small color="">mdi-book</v-icon> 
        <span class="">{{ $vuetify.lang.t('$vuetify.home.readTheManifest') }}</span>
        <v-icon small color="white" class="ml-2">mdi-arrow-right</v-icon>
      </v-btn>
    </v-col>

  </v-row>

  <!-- SECTION : Comment ça marche ? -->

  <v-row class="d-flex border-top-" style="padding-bottom:70px;">
    <v-col cols="12" class="text-center">

      <h3 style="text-transform:uppercase; font-size:30px; width:80%; margin-top:70px;"
          class="font-konk mx-auto mb-5">
        Comment ça marche ?
      </h3>
    </v-col>

    <v-col cols="12" sm="11" md="11" lg="10" class="mt-5 mx-auto">
      <v-row class="d-flex">
        <v-col cols="12" md="4">
          <v-card class="pa-4" color="rgb(44, 47, 51)">
            <v-btn fab color="primary" style="margin-top:-50px;font-size:1.2em;">1</v-btn>
            <h3 class="font-konk">
              <v-icon color="white">mdi-account-plus-outline</v-icon>
              S'inscrire
            </h3>
            <p style="font-size:0.8em;" class="primary--text">Rapide, gratuit et anonyme</p>
            <p style="font-size:0.84em;">
              Pas besoin d'adresse e-mail.<br>
              Juste un pseudo, et un point sur la carte !<br><br>
              Ton identité réel ne nous intéresse pas.<br>
              
            </p>
            <v-row>
              <v-col cols="12" class="text-right">
              <v-btn @click="joinRebellion()" color="red darken-1" style="text-transform:none;" >
                <v-icon small color="white">mdi-handshake</v-icon>
                {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }} !
              </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="pa-4" color="rgb(44, 47, 51)">
            <v-btn fab color="primary" style="margin-top:-50px;font-size:1.2em;">2</v-btn>
            <h3 class="font-konk">
              <v-icon color="white">mdi-map-marker</v-icon>
              Se localiser
            </h3><br>
            <p style="font-size:0.8em;">
              Plaanet te permet d’envoyer et recevoir des messages autour de toi.<br><br>
              Indiques simplement une position sur la carte pour pouvoir publier des messages et recevoir automatiquement tous les messages liés à ta position.<br><br>

              <span class="red--text">
                <v-icon small color="red">mdi-check</v-icon>  Posititionnement libre<br>
                <v-icon small color="red">mdi-check</v-icon>  Aucun traçage ni espionnage
              </span>

            </p>          
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="pa-4" color="rgb(44, 47, 51)">
            <v-btn fab color="primary" style="margin-top:-50px;font-size:1.2em;">3</v-btn>
            <h3 class="font-konk">
              <v-icon color="white">mdi-newspaper-variant-multiple</v-icon>
              Discuter et se rencontrer
            </h3><br>
            <p style="font-size:0.84em;">
              Tu peux enfin échanger en temps réel avec des rebelles proches de chez toi !<br><br>
              Utilise ton nouveau réseau de façon à participer à la vie et la révolte locale...
            </p>          
          </v-card>
        </v-col>
      </v-row>
      
    </v-col>
  </v-row>

  <!-- SECTION : Un vrai réseau social adapté aux besoins de la rébellion -->

  <v-row class="d-flex border-top-primary bg-section-darkocean" style=" padding-bottom:70px;">
    <v-col cols="12" md="10" lg="8" class="mx-auto text-center">

      <h3 style="text-transform:uppercase; font-size:30px; width:90%; margin-top:70px;"
          class="font-konk mx-auto">
        <span class="blue--text">Un vrai réseau social</span><br>
        adapté aux besoins de la rébellion
      </h3>
    </v-col>

    <v-col cols="12" sm="11" md="10" lg="8" class="mt-5 mx-auto">
      <v-row class="d-flex mb-5 px-5 bg-section-darkocean2 bg-section-radius-1">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs1.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              MESSAGES GÉO-LOCALISÉS
            </h2>
            <p ><br>
              Pour publier un message, sélectionnez simplement une zone sur la carte, 
              et il sera automatiquement envoyé à toutes les personnes qui se trouvent dans cette zone.<br><br>
              La possibilité de communiquer facilement au niveau local décuplera notre capacité à organiser la rébellion, 
              partout en même temps, tout en préservant l'autonomie de chaque territoire.
            </p>
        </v-col>
      </v-row>

      <!-- MD -->
      <v-row class="d-none d-md-flex pb-5 pt-5">
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              FIL D'ACTUALITÉS LOCALES
            </h2>
            <p><br>
              Le fil d’actualités principal est constitué des derniers messages géolocalisés publiés par les membres qui vous entourent.
              <br><br>
              Vous pouvez alors définir vous-meme la zone de reception qui vous intéresse, 
              entre 1 km et 600 km autour de vous.
            </p>
        </v-col>
        <v-col cols="12" md="6">
          <img src="../assets/home/needs2.png" style="max-width:100%;">
        </v-col>
      </v-row>
      <!-- XS  -->
      <v-row class="d-md-none pb-5 pt-5">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs2.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              FIL D'ACTUALITÉS LOCALES
            </h2>
            <p><br>
              Le fil d’actualités principal est constitué des derniers messages géolocalisés publiés par les membres qui vous entourent.
              <br><br>
              Vous pouvez alors définir vous-meme la zone de reception qui vous intéresse, 
              entre 1 km et 600 km autour de vous.
            </p>
        </v-col>
      </v-row>

      <v-row class="d-flex mt-5 px-5 bg-section-darkocean2 bg-section-radius-1">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs3.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-map-marker-radius-outline</v-icon>
              MESSAGES PRIVÉS
            </h2>
            <p style=""><br>
              Parce qu'on ne peut pas toujours tout dire à tout le monde, 
              la messagerie privée vous permettra de discuter 
              en toute discrétion, avec qui vous voulez...
            </p>
        </v-col>
      </v-row>



      <!-- MD -->
      <v-row class="d-none d-md-flex pb-5 pt-5">
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-vote</v-icon>
              ORGANISEZ VOTRE PROPRES SONDAGES ET RÉFÉRENDUMS
            </h2>
            <p><br>
              <!-- Organisez vos propres sondages et référendums pour recueillir l'avis des membres qui vous entourent.
              <br><br> -->
              <i><b>Découvrez le système d'Assemblées Virtuelles</b></i>,
              intégré à la plateforme, et organisez vos propres sondages et référendums !
              
              <!-- C'est à nous de nous donner les moyens de nos ambitions !<br><br> -->
              <br><br><i><b>Proposons. Votons. Décidons.</b></i>
              <br>
              Par nous-mêmes !
            </p>
        </v-col>
        <v-col cols="12" md="6">
          <img src="../assets/home/needs4.png" style="max-width:100%;">
        </v-col>
      </v-row>
      <!-- XS  -->
      <v-row class="d-md-none pb-5 pt-5">
        <v-col cols="12" md="6">
          <img src="../assets/home/needs4.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="6" class="mt-5">
            <h2 class="font-konk">
              <v-icon color="white">mdi-vote</v-icon>
              ORGANISEZ VOTRE PROPRES SONDAGES ET RÉFÉRUNDUMS
            </h2>
            <p><br>
              <i><b>Découvrez le système d'Assemblées Virtuelles Localisées</b></i> 
              et organisez vos propres sondages et référendums !
              <br><br>
              Vous en avez assez des scrutins tous les 5 ans ?<br>
              Vous voulez que votre avis soi pris en compte ?<br>
              Vous avez des choses à proposer ?
              <br><br>
              La démocratie, ce n'est pas élire ses maîtres, <br>c'est voter ses lois !
              <!-- C'est à nous de nous donner les moyens de nos ambitions !<br><br> -->
              <br><br><i><b>Proposons. Votons. Décidons.</b></i>
              <br>
              Par nous-mêmes !
            </p>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : Des pages pour tous vos besoins -->

  <v-row class="d-flex border-top-black bg-section-white" style="padding-bottom:50px;">
    <v-col cols="12" class="text-center">

      <h3 style="text-transform:uppercase; font-size:35px; width:90%; margin-top:40px;"
          class="font-konk mx-auto black--text">
        Des pages pour tous vos besoins
      </h3>
    </v-col>

    <v-col cols="12" sm="11" md="11" lg="10" class="mx-auto">
      <v-row class="d-flex black--text pt-5">
        <v-col cols="12" sm="4" class="text-center">
            <h3 class="font-konk">
              <v-icon large color="black">mdi-account-group</v-icon><br>
              GROUPES
            </h3><br>
            <p style="font-size:0.84em;">
              Besoin de relayer
              du contenu<br>à plusieurs sur une meme page ? <br><br>
              Crée un groupe !<br>Et fais passer les infos !
            </p>
        </v-col>
        <v-col cols="12" sm="4" class="text-center">
            <h3 class="font-konk">
              <v-icon large color="black">mdi-hexagon-multiple-outline</v-icon><br>
              ASSEMBLÉES CITOYENNES
            </h3><br>
            <p style="font-size:0.8em;">
              Les assemblées citoyennes servent à <br>
              publier des sondages et des référundum.
              <br><br>
              Proposer, voter, décider.<br>
              La rébellion commence ici !
            </p>         
        </v-col>
        <v-col cols="12" sm="4" class="text-center">
            <h3 class="font-konk">
              <v-icon large color="black">mdi-calendar-clock</v-icon><br>
              ÉVENEMENTS
            </h3><br>
            <p style="font-size:0.84em;">
              Besoin de faire connaitre un évènement ?<br>
              Publie-le sur Plaanet !<br><br>
              <small>#Manifestation #ConcertSauvage<br>#Assemblée #Désobéissance #...</small>
            </p>       
        </v-col>
      </v-row>
      
    </v-col>
  </v-row>

  <!-- SECTION : Plaanet est un réseau décentralisé -->

  <v-row class="d-flex border-top-primary px-2 py-4 bg-section-transparent">
    <v-col cols="12" md="6" class="px-2 text-center">
      <v-card outlined color="white" width="560" height="317" class="mx-auto">
      <iframe width="560" height="315" style="max-width:100%" sandbox="allow-same-origin allow-scripts allow-popups" 
                src="https://tube.nocturlab.fr/videos/embed/6168466d-0717-4a9b-90a0-322bc99cb1e1?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
      </v-card>
    </v-col>
    <v-col cols="12" md="6" class="px-2 text-center">
      <v-card outlined color="white" width="560" height="317" class="mx-auto">
      <iframe width="560" height="315" style="max-width:100%" sandbox="allow-same-origin allow-scripts allow-popups" 
                src="https://tube.nocturlab.fr/videos/embed/a57a4a67-5811-46d2-9b4b-2de4f4042a6e?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
      </v-card>
    </v-col>
  </v-row>

  <!-- SECTION : Plaanet est un réseau décentralisé -->

  <v-row class="d-flex border-top-primary bg-section-darkocean" style="padding-bottom:70px;">
    <v-col cols="12" class="text-center">
      <h3 style="text-transform:uppercase; font-size:25px; width:90%; margin-top:40px;"
          class="font-konk mx-auto">
        <span class="blue--text">Plaanet est un réseau</span> 
        <span class="secondary--text"> décentralisé</span><br>
        open-source, gratuit & sans pub
      </h3>
    </v-col>

    <v-col cols="12" sm="11" md="11" lg="10" class="mx-auto">
      <v-row class="d-flex  pt-5">
        <v-col cols="12" sm="4" class="text-center">
            <img src="../assets/home/decntz.png" style="max-width:100%; max-height:130px;">
            <h3 class="font-konk">
              DÉCENTRALISATION
            </h3><br>
            <p style="font-size:0.84em;">
              Sur un réseau décentralisé, les données ne sont pas toutes stockées sur le meme serveur, 
              mais sur plusieurs serveurs qui communiquent entre-eux. 
            </p>
            <v-btn outlined color="blue" to="/info-nodes" style="text-transform:none;">
                    En savoir plus
            </v-btn>
        </v-col>
        <v-col cols="12" sm="4" class="text-center"><br>
            <img src="../assets/opensource.png" style="max-width:30%; max-height:80px;">
            <img src="../assets/freesoftware.png" style="max-width:15%; max-height:80px; margin-left:5px; margin-bottom:30px;">
            <img src="../assets/gitlab.png" style="max-width:30%; max-height:80px;"><br><br>
              
            <h3 class="font-konk">
              OPEN-SOURCE
            </h3><br>
            <p style="font-size:0.8em;">
              Le code-source de l'application est accessible à tous.<br>
              Si tu sais lire le code (Javascript), click ici :
            </p>         
            <v-btn href="https://gitlab.com/plaanet" 
                   target="_blank" outlined color="orange" style="text-transform:none;">
              Lire le code
            </v-btn>
        </v-col>
        <v-col cols="12" sm="4" class="text-center"><br>
            <img src="../assets/home/priceless.jpg" style="max-width:80%; max-height:80px;"><br><br>
            <h3 class="font-konk">
              GRATUIT & SANS PUB
            </h3><br>
            <p style="font-size:0.84em;">
              Plaanet n’est pas une entreprise commerciale, 
              c’est un réseau libre géré par des bénévols engagés 
              pour vous offrir un outil libre et de qualité  c:
            </p>       
            <v-btn outlined color="blue" style="text-transform:none;">
              Merci de ne rien donner c:
            </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : Anonymous -->

  <v-row class="d-flex bg-section-black">
    <v-col cols="12" sm="11" md="10" lg="9" class="mt-5 mx-auto">
      <v-row class="d-flex mb-5">
        <v-col cols="12" md="4" sm="4">
          <img src="../assets/home/anonymous.png" style="max-width:100%;">
        </v-col>
        <v-col cols="12" md="8" sm="8" class="px-5"><br>
            <h2 class="font-konk">
              Le moyen le plus simple pour ne pas se
              faire voler ses données personnelles,
              c’est encore de ne les donner à personne ;)
            </h2>
            <p style="font-size:0.8em;"><br>
              Sur Plaanet, votre identité réelle ne nous intéresse pas. <br>
              Nous mettons tout en place pour garantir votre anonymat.
              <br>
              Un pseudo et un mot de passe suffisent à créer votre compte...<br>
            </p>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : GITLAB DISCORD - Vous souhaitez nous aider à développer la plateforme ? -->

  <v-row class="d-flex blue--text text--darken-4 bg-section-white">
    <v-col cols="12" class="text-center">
      <h3 style="text-transform:uppercase; font-size:25px; width:90%; margin-top:40px;"
          class="mx-auto font-konk">
        Vous souhaitez nous aider à développer la plateforme ?<br>
        Ou simplement poser une question ?
      </h3>
    </v-col>
    <v-col cols="12" sm="11" md="11" lg="10" class="mt-5 mx-auto">
      <v-row class="d-flex mb-5">
        <v-col cols="12" md="6" class="text-center">
          <a href="https://gitlab.com/plaanet/plaanet-install/-/project_members">
            <img src="../assets/gitlab.png" style="max-width:100%; max-height:100px;">
          </a>
          <br>
          <p>
            Rejoignez-nous sur GitLab
          </p>
          <a class="blue--text text--darken-2" target="_blank"
              href="https://gitlab.com/plaanet/plaanet-install/-/project_members">
              <small>https://gitlab.com/plaanet/plaanet-install/-/project_members</small>
          </a>
        </v-col>
        <v-col cols="12" md="6" class="text-center">
          <a  target="_blank"
              href="https://discord.gg/RbPdg7A">
              <img src="../assets/discord-Logo.png" style="max-width:100%; max-height:100px;">
          </a>
          <br>
          <p>
            Ou sur Discord
          </p>
          <a class="blue--text text--darken-2"  target="_blank"
              href="https://discord.gg/RbPdg7A">
              <small>https://discord.gg/RbPdg7A</small>
          </a>
        </v-col>
      </v-row>
    </v-col>
  </v-row>

  <!-- SECTION : Main Footer -->

  <Footer></Footer>

</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
</style>

<script>
import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

import '@/assets/css/landing.css'
import Footer from '@/components/main-layout/Footer.vue'
const config = require('../config/' + process.env.NODE_ENV)
// import Header from '@/components/home/Header.vue'
// import ModalVideoHome from '@/components/main-layout/modals/ModalVideoHome.vue'

//import FormLogin from '@/components/FormLogin.vue'

export default {
  name: 'home',
  props: [],
  components: { Footer },
  data:() => ({
    rebootInstanceName: '',
    user: null,
    //instance: null,
    isOnNetwork: false,
    network: [],
    networkInited: false,
    currentNodeName: '',
    showMoreInfoNode: false,
    showEnterNetwork: false,
    cityFindNode: '',
    loadPlaces: false,
    name: '',
    password: '',
    showpwd: false,
    places: [],
    isLogin: false,
    resMsg: '',
    resColor: 'green',
    local: 'fr',
    showModalVideoHome: false,
    readCarousel: false,
    heightIframe: 350,
  }),
  async mounted(){
    if(this.$store.state.network.localName){
    //if(localStorage.getItem("iname") != null){
      this.isOnNetwork = true
      this.currentNodeName = this.$store.state.network.localName
    }

    this.heightIframeVid()
    window.addEventListener('resize', this.heightIframeVid)

    core.incStat('/home')
  },

  methods: {
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 1)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    joinRebellion: function(){
      if(localStorage.getItem("signedCharte")){
        if(localStorage.getItem("nodeSelected") === true){
          router.push('/register')
        }else{
          router.push('/select-node')
        }
      }else{
        router.push('/manifest')
      }
    },
    heightIframeVid: function(){
      let iframe = document.getElementById("iframeVid")
      if(iframe == null) return 350

      let w = iframe.offsetWidth 
      console.log("height vid", w, w*9/16)
      this.heightIframe = parseInt(w*9/16)
    },
  },
  computed: {
    
    isMobile(){
      return config.mobileAppVersion != null
    },
    axiosBaseUrl(){ return axios.defaults.baseURL }
  },
}
</script>
