<template>
<div>
<h1 class="d-none">Qu'est-ce qu'un réseau décentralisé comme Plaanet ?</h1>
<v-row class="d-flex bg-section-darkocean section" style="padding-top:70px;">
  <v-col cols="12" sm="12" md="12" lg="10" style="position:absolute;right:0px;" class="d-none d-sm-inline">
      <img alt="" src="../assets/centralize_distributed.png" style="float:right;width:60%; margin-top:-60px; padding-right:5%">
  </v-col>
  <v-col cols="12" sm="12" md="8" lg="6">
    <h3 class="font-konk main-txt">
      Qu'est-ce qu'un <br>réseau
      <span class="primary--text">décentralisé</span> ?
    </h3>
    <p class="mt-3">
      <span class="">
        C'est un réseau sur lequel les données ne sont pas toutes stockées au même endroit, 
        mais sur plusieurs serveurs qui communiquent entre-eux.
      </span>
    </p>
  </v-col>
  <v-col cols="12" sm="12" md="12" lg="10" class="d-sm-none">
      <img alt="" src="../assets/centralize_distributed.png" style="width:100%;">
  </v-col>
</v-row>
    

<v-row class="d-flex bg-section-darkocean2 section">
  <v-col cols="12" sm="4" md="4" class="text-center"><br><br>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <br>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <br>
      <v-icon class="icon-illu" color="primary">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
  </v-col>
  <v-col cols="12" sm="8" md="8">
    <h3 class="font-konk main-txt">
      Qu'est-ce qu'un
      <span class="primary--text">serveur</span> ?
    </h3>
    <p class="mt-3">
      <span class="">
        Un serveur est un ordinateur connecté à internet qui héberge et partage des données.
        <br><br>
        Dans le cas d'un réseau informatique, on dit que le réseau est constitué de noeuds, ou chaque noeud est un serveur.
        <br><br><br>
      </span>
    </p>
  </v-col>
</v-row>
    
<v-row class="d-flex bg-section-darkocean section">
  <v-col cols="12" sm="7" md="7">
    <h3 class="font-konk main-txt">
       
      <span class="secondary--text">Comment</span> ça marche ?
    </h3>
    <p class="mt-3">
      <span class="">
        Sur Plaanet,
        vous choisissez le serveur sur lequel vous souhaitez stocker vos données.
        <br><br>
        Une fois relié à un serveur, vous êtes connecté à l'ensemble du réseau, 
        et tout se passe comme si toutes les données se trouvaient au même endroit. 
      </span>
    </p>
  </v-col>
  <v-col cols="12" sm="5" md="5" class="px-0 text-center"><br><br>
      <v-icon class="icon-illu">mdi-server-network</v-icon>
      <v-icon class="icon-illu" color="secondary">mdi-server-network</v-icon>
      <v-icon class="icon-illu">mdi-server-network</v-icon><br><br>
      <v-btn color="secondary" to="/select-node">
        Choisir un serveur
        <v-icon style="margin-left:8px;">mdi-arrow-right-circle</v-icon>
      </v-btn>
  </v-col>
</v-row>
    

<v-row class="d-flex bg-section-darkocean2 section">
  <v-col cols="12" sm="5" md="5" class="text-center"><br><br>
      <v-icon style="font-size:150px!important;">mdi-monitor-cellphone</v-icon>
  </v-col>
  <v-col cols="12" sm="7" md="7">
    <h3 class="font-konk main-txt">
      <span class="secondary--text">Qu'est-ce que</span> ça change ?
    </h3>
    <h2 class="font-konk primary--text">
      A l'usage, ça ne change rien
    </h2>
    <p class="mt-3">
      <span class="">
        Pour les utilisateurs, la décentralisation reste invisible.<br><br>
        Elle est gérée en arrière plan par le système, 
        qui vous distribue les informations qui vous concernent, 
        en provenance de tous les noeuds du réseau. 
      </span>
    </p>
  </v-col>
</v-row>
    

<v-row class="d-flex bg-section-darkocean section">
  <v-col cols="12" sm="7" md="7">
    <h3 class="font-konk main-txt">
      Alors ça sert
      <span class="secondary--text">à quoi </span> ?
    </h3>
    <h2 class="font-konk primary--text">
      La décentralisation est une sécurité. 
    </h2>
    <p class="mt-3">
      <span class="">
         Impossible pour un seul individu de contrôler l'ensemble du réseau, 
         ou de récupérer l'ensemble des données, 
         puisque les données sont réparties sur une multitude de serveurs indépendant à travers le monde.
         <br><br>
         Sur Plaanet, chaque serveur est administré par une personne ou un groupe de personnes différents,
         qui ne se connaissent pas forcemment.
         <br><br>
         La décentralisation augmente la résilience du réseau, 
         et limite les abus de pouvoir de la part des administrateurs (observation, censure, manipulation des données).  
      </span>
    </p>
  </v-col>
  <v-col cols="12" sm="5" md="5" class="text-center"><br><br>
      <v-icon style="font-size:150px!important;">mdi-lock</v-icon>
  </v-col>
</v-row>
    
<!-- <CarouselInfoNodes v-if="false"></CarouselInfoNodes> -->
</div>
</template>

<style>
 
  .container {
      padding-top: 0px !important;
      margin:0px;
      max-width: unset;
  }
</style>

<script>

//import axios from 'axios'
//import router from '../router/router'
import '@/assets/css/landing.css'
import core from '../plugins/core.js'

export default {
  name: 'home',
  components: { }, 
  data:() => ({
    
  }),
  async mounted(){
    core.incStat('/info-nodes')
  },
  methods: {
    
  },
}
</script>
