<template>

  <v-row class="d-flex">      
    <v-col cols="12" md="12" sm="12" class="">

      <v-card max-width="800" class="pa-3 mx-auto"  elevation="0">
        <small>Vous utilisez actuellement :</small><br>
        <h2>
          <v-icon>mdi-cellphone-cog</v-icon> {{ confName }} <span class="ml-5">v.{{ confVersion }}</span>
        </h2>
        <!-- api url : {{ axiosBaseUrl }}<br>
        base url : {{ baseUrl }} -->
      </v-card>

      <v-card max-width="800" class="pa-3 mt-4 mx-auto"  elevation="0" v-if="app != null">
        <small v-if="!newVersionAvailable">Dernière version disponible :</small>
        <span class="red--text" v-if="newVersionAvailable">
            <v-icon color="red">mdi-update</v-icon> Nouvelle version disponible :
          </span>
        <br>
        <h2>
          <v-icon>mdi-cellphone-cog</v-icon> {{ app.name }} <span class="ml-5">v.{{ app.version }}</span>          
        </h2>
        <p class="text-left grey--text ml-5 pl-2 pr-5" style="font-size:0.85em;">{{ app.description }}</p>
        <v-btn v-if="newVersionAvailable" color="blue darken-1" target="_blank" :href="pathToAPK" block>
          <v-icon>mdi-download</v-icon> Mettre à jour
        </v-btn>
        <v-alert v-else color="green"><v-icon>mdi-check</v-icon> Votre application est à jour</v-alert>
      </v-card>

      <v-card max-width="800" class="pa-3 mx-auto mt-5"  elevation="0" v-if="app != null && newVersionAvailable">
        <template v-if="newVersionAvailable"> 
          <!-- <v-alert border="left" color="red darken-4" class="mt-4">Nouvelle version disponible !</v-alert> -->
          <h3>Comment effectuer la mise à jour ?</h3>
          <p>
            En cliquant sur le bouton "Mettre à jour", votre smartphone va télécharger le nouveau fichier .apk 
            contenant la dernière version de l'application <b>Plaanet</b> pour Android.
            <br><br>
            Une fois le téléchargement terminé, vous devez ouvrir <b>manuellement</b> le fichier téléchargé pour lancer l'installation de la nouvelle version.
            <br><br>
            Lorsque l'installation est terminée, vous pouvez à nouveau utiliser Plaanet comme avant !
          </p>
          <h3 class="red--text">
            <v-icon small color="red">mdi-alert</v-icon> 
            Mise à jour obligatoire
          </h3>
          <small>
            Pour des raisons de sécurité, cette mise à jour est obligatoire.
            Il n'est pas possible d'assurer le bon fonctionnement de votre application sans installer la nouvelle version.
            Vous pourriez rencontrer et/ou provoquer de nombreux bugs en utilisant une version obsolète. Merci de votre compréhension.
          </small>
        </template>
        <template v-else>
          <v-alert border="left" color="blue darken-2" class="text-left mt-4">Votre application est à jour !</v-alert>
        </template>
      </v-card>

      <v-card max-width="800" class="pa-3 mx-auto mt-5" color="transparent"  elevation="0" v-if="axiosBaseUrl != baseUrl">
        <v-btn @click="initBaseUrl()" color="red darken-4" small><v-icon small class="mr-1">mdi-auto-fix</v-icon> réinitialiser paramètres</v-btn>
      </v-card>

    </v-col>
  </v-row>

</template>

<script>

import axios from 'axios'
//import ManageApp from '@/components/admin/ManageApp.vue'
import router from '../router/router'
import core from '../plugins/core.js'
const config = require('../config/' + process.env.NODE_ENV)

export default {
  name: 'admin-version-mobile',
  props: [],
  components: {
    //ManageApp
  },
  data: () => ({
    app: null
  }),
  mounted: function(){ 
    if(config.mobileAppName != null) this.checkMobileAppVersion()
    else router.push('/stream')
  },
  methods: {
    async checkMobileAppVersion(){
      console.log("current mobileAppVersion", config.mobileAppVersion)
      const res = await axios.get('/instance/last-mobile-app-version/'+config.mobileAppName )
      if(res.data.error==false){
        this.app = res.data.app
        if(this.newVersionAvailable)
          localStorage.setItem("updateAppVersion", this.app.version)
        else
          localStorage.removeItem("updateAppVersion")
      }
    },
    initBaseUrl(){
      localStorage.setItem("baseUrl", config.root_node.url + ":" + config.root_node.port)
      location.reload()
    }
  },
  computed: {
    confName(){ return config.mobileAppName },
    confVersion(){ return config.mobileAppVersion },
    newVersionAvailable(){ return (this.app != null && this.app.version != config.mobileAppVersion) },
    pathToAPK(){ return core.pathToAPK() },
    axiosBaseUrl(){ return axios.defaults.baseURL },
    baseUrl(){ return config.root_node.url + ":" + config.root_node.port }
  }
}
</script>