<template>
<div>
<v-row class="d-flex">
  <h1 class="d-none">Découvrez le manifeste du réseau Plaanet !</h1>
  <v-col cols="12" lg="7"  md="10" sm="10" class="mx-auto">
    <v-col cols="12" class="mx-auto text-center">
      <v-col cols="12" class="pa-0 mx-auto" style="background-color:#231f20;">

        <v-col class="text-center mx-auto"  cols="12" sm="8">
          <v-btn color="primary" block @click="signeCharte">
            <v-icon>mdi-check</v-icon> 
            Je signe le manifeste
          </v-btn>
          <v-chip color="transparent" class="pa-3 mt-2" small text-color="primary">
              Vous serez ensuite redirigé vers la suite de la procédure d'inscription
          </v-chip>
        </v-col>    
        <v-col cols="12" sm="12" class="pa-0 mt-5 text-center">
          <h1 class="d-none d-sm-inline font-konk mt-5">
            <v-icon>mdi-book</v-icon> Manifeste du réseau Plaanet
          </h1>
          <h3 class="d-sm-none font-konk mt-5">
            <v-icon>mdi-book</v-icon> 
            Manifeste du réseau Plaanet
          </h3>
        </v-col>


        <v-card class="pa-5 mt-4" outlined >
          <h1 class="font-konk">Article 1°</h1>
          <p class="text-left">
            - Étant donnée l’illégitimité des mesures sanitaires, imposées aux peuples du monde entier, 
            de façon autoritaire et anti-démocratique, 
            <b>nous reconnaissons la rébellion légitime</b> partout où 
            les gouvernements violent la souveraineté des peuples.
           </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h1 class="font-konk">Article 2°</h1>
           <p class="text-left">
            - Étant donné l'incapacité, ou la mauvaise volonté, de nos gouvernements, à prendre des décisions réellement dans l'intérêt de tous.<br><br>
            - Étant donné les conséquences désastreuses que leurs mesures engendreront à long terme, pour l'immense majorité d'entre nous.<br><br>
            - Étant donné que la violence et les sanctions sont les seules véritables réponses apportées lorsque nous contestons leurs mesures.<br><br>
            Nous considérons qu’il n’est plus possible de continuer à leur accorder notre confiance pour décider de tout à notre place.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h1 class="font-konk">Article 3°</h1>
           <p class="text-left">
            Nous avons conscience que les régimes politiques qui se prétendent démocratiques ne le sont pas, 
            dans la mesure où nous avons seulement le droit de déléguer notre pouvoir politique, 
            mais jamais de l'exercer par nous-mêmes.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h1 class="font-konk">Article 4°</h1>
           <p class="text-left">
            Nous considérons que l’absence de démocratie est l’une des causes principales de la situation catastrophique dans laquelle nous nous trouvons. 
            <br><br>
            C'est pourquoi nous souhaitons la mise en place d’une nouvelle structure démocratique, pour et par le peuple, 
            afin que nous soyons en capacité de réellement décider ensemble des mesures à prendre pour nous sortir de cette situation.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h1 class="font-konk">Article 5°</h1>
           <p class="text-left">
            En conséquence, nous considérons qu’il est de notre devoir de participer à ce qu'il convient maintenant d'appeler <b>la rébellion</b>, 
            chacun à notre échelle, dans tous nos villages et toutes nos villes.<br><br>
            D'une part pour tenter de mettre un terme au régime illégitime auquel nous sommes confrontés, 
            et d'autre part pour essayer de construire ensemble, par nos propres moyens, les conditions d'un monde viable pour les générations à venir.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h1 class="font-konk">Article 6°</h1>
           <p class="text-left">
            Nous savons que l’union fait la force, et nous souhaitons tous nous relier pour gagner en puissance.
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h1 class="font-konk">Article 7°</h1>
           <p class="text-left">
            Nous souhaitons entrer en contact avec tous ceux qui se reconnaitront dans ce manifeste,
            afin de <b>partager des informations, discuter de la situation, en débattre, 
            chercher des solutions, proposer des idées, etc...</b>
            <br><br>
            Tous ensemble, nous organiserons nos propres <b>sondages</b> et nos propres <b>référendums</b>,
            pour décider nous-mêmes des mesures que nous souhaitons voir mises en oeuvre. 
            
        </p>
        </v-card>
        <v-card class="pa-5 mt-4" outlined>
          <h1 class="font-konk">Article 8°</h1>
           <p class="text-left">
            Nous nous engageons à nous respecter toutes et tous, et à user de notre <b>intelligence</b> 
            pour faire avancer les discussions de la meilleure des façons.
          </p>
        </v-card>
        
        <br>
        <!-- <h2 class="font-konk text-center error--text">CECI N'EST PAS UNE FORMALITÉ</h2>
        <h4 class="text-center error--text">
          Le manifeste constitue le socle de valeurs communes à tous les membres du réseau.<br>
          Merci de vous assurer que vous êtes en accord avec ce qui est énoncé avant de signer.
        </h4>
        <br> -->

      </v-col>


      <v-col class="text-center">

          <small class="red--text text-left">
            Toute inscription est soumise à l'approbation du manifeste.
          </small><br>
        <br>
        <v-btn color="primary" block @click="signeCharte"><v-icon>mdi-check</v-icon> Je signe le manifeste</v-btn><br>
        <v-chip color="transparent" class="pa-4" large text-color="primary">
            <small>Vous serez ensuite redirigé<br>vers la suite de la procédure d'inscription</small>
        </v-chip>
        <br><br><br>
      </v-col>

    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>

@media (max-width: 960px){
  .home-main-title{
    margin-top:45px;
    font-size:25px; 
  }
}
@media (max-width: 600px){
  .home-main-title{
    margin-top:10px;
    font-size:15px; 
  }
}

</style>

<script>

//import axios from 'axios'
import router from '../router/router'

import core from '../plugins/core.js'

export default {
  name: 'home',
  components: {  },
  data:() => ({
    
  }),
  async mounted(){
       core.incStat('/manifest')
  },
  methods: {
    signeCharte : function(){
      localStorage.setItem("signedCharte", true)
      if(localStorage.getItem("nodeSelected")){
          router.push('/register')
      }else{
        router.push('/select-node')
      }
    }
  },
}
</script>
