<template>
  <v-col class="mx-auto" style="max-width:400px; margin-top:100px;">
    <v-card class="pa-5 text-center">
      <img alt="Plaanet" src="../assets/plaanet-logo.png" height=80 style="position: absolute;margin-left: -13px;margin-top: -12px;">
      <v-btn style="border-width:3px;" :loading="true" fab outlined color="white"><v-icon>mdi-close</v-icon></v-btn><br><br>
      <h3 class="font-konkretika">
        404<br />
        Not Found <br />
        <a href="/">Return to Home</a>
      </h3>
    </v-card>
  </v-col>
</template>

<script>

export default {
  name: 'not-found',
  components: { },
  data:() => ({


  }),
  async mounted(){

  },
  methods: {

  },
}
</script>
