<template>

<v-row id="profil" class="mt-5">

  <v-col cols="12" class="text-center pa-0" v-if="userPage.type=='event'">
    <v-card max-width="700" color="orange darken-3" class="pa-4 text-center mx-auto my-2 mt-4">
      <h1 style="font-weight:200;">
        <v-btn icon @click="showAgenda=!showAgenda"><v-icon >mdi-calendar</v-icon></v-btn>
        {{ eventStartDate }}
      </h1>
    </v-card>

    <v-date-picker style="max-width:700px;" v-model="eventStartDatePicker" v-if="userPage.type=='event' && showAgenda" 
              :locale="$vuetify.lang.current" full-width class="mt-3 mx-auto"
              color="primary"></v-date-picker>
    
  </v-col>
  
   <v-col class="pa-0 mt-3 text-center font-konkretika mx-auto" 
          style="max-width:700px;"
          v-if="userPage.type == 'user' && userPage.owner.referredCount && userPage.owner.referredCount > 0">
      <v-chip
        to="/me/invite-friends" small
        primary--text
        class="ml-2 mt-3 pl-3"
        color="rgba(104, 39, 33, 0.5)"
        text-color="red"
      >
        <v-icon x-small class="mr-1">mdi-account-heart</v-icon>
        <h3 v-if="userPage.owner != null">
          {{ userPage.owner.referredCount || 0 }} 
          <span class="">
            Recrue{{ userPage.owner.referredCount > 1 ? 's' : '' }}
          </span>
        </h3>
      </v-chip>

      
  </v-col>

  <v-col cols="12" class="py-3">
    <v-card max-width="700" elevation="0" class="mx-auto mt-5" style="border-radius: 4px 4px 0 0;">
      <v-row class="btn-lowerc px-3 py-3" v-if="userPage.roles != null">
        <v-col class="pt-0">
          <v-btn @click="showDialogFollowers=true" color="grey"
                text class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ userPage.followers.length }} 
              {{ $vuetify.lang.t('$vuetify.main.follower') }}{{ (userPage.followers.length > 1) ? 's' : '' }}
          </v-btn>
        </v-col>
        <v-col class="pt-0">
          <v-btn @click="openDialogRole('editor')" color="grey" v-if="userPage.type != 'user'"
                text class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ userPage.roles['editor'].length }} 
              {{ $vuetify.lang.t('$vuetify.page.role_editor') }}{{ (userPage.roles['editor'].length > 1) ? 's' : '' }}
          </v-btn>
          <v-btn @click="openDialogRole('editor')" color="grey" v-else
                text class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ userPage.roles['editor'].length }} 
              {{ $vuetify.lang.t('$vuetify.page.friend') }}{{ (userPage.roles['editor'].length > 1) ? 's' : '' }}
          </v-btn>
        </v-col>
        <v-col class="pt-0" v-if="userPage.type == 'user' && !isEditor">
          <v-btn @click="openDialogRole('editor')" color="blue"
                text class="m" small block>
              <v-icon class="mr-1">mdi-handshake</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.becomeFriend') }}
              </span>
          </v-btn>
        </v-col>
        <v-col class="pt-0" v-if="userPage.type != 'user'">
          <v-btn @click="openDialogRole('admin')" color="grey"
                text class="m" small block>
              <v-icon class="mr-1">mdi-crown</v-icon> 
              {{ userPage.roles['admin'].length }} 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.role_admin_short') }}{{ (userPage.roles['admin'].length > 1) ? 's' : '' }}
              </span>
          </v-btn>
        </v-col>
        <v-col class="pt-0" v-if="userPage.type != 'user'">
          <v-btn @click="openDialogRole('moderator')" color="grey"
                text class="m" small block>
              <v-icon class="mr-1">mdi-account-star</v-icon> 
              {{ userPage.roles['moderator'].length }} 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.role_moderator') }}{{ (userPage.roles['moderator'].length > 1) ? 's' : '' }}
              </span>
          </v-btn>
        </v-col>

        <v-col class="pt-0" v-if="userPage.type == 'user' && isEditor && userPage.uid != $store.state.auth.profile.uid">
          <v-chip @click="openDialogRole('editor')" color="blue"
                outlined class="m" small block>
              <v-icon class="mr-1" small>mdi-check</v-icon> 
              <v-icon class="mr-1" small>mdi-account</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.youAreFriend') }}
              </span>
          </v-chip>
        </v-col>
        <v-col cols="12" class="pt-0" v-if="userPage.type != 'user' && isEditor">
          <v-chip @click="openDialogRole('editor')" color="blue"
                outlined class="d-inline-block text-center" small style="width:100%;">
              <v-icon class="mr-1" small>mdi-check</v-icon> 
              <v-icon class="mr-1" small>mdi-account</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.youAreMember') }}
              </span>
          </v-chip>
        </v-col>
      </v-row>

      <template v-if="userPage != null && userPage.coordinates != null && (isAdmin == false || tab != 3)">
        <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" 
                :center="[userPage.coordinates[1], userPage.coordinates[0]]"  
                id="map-container-page">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            
            <l-marker  v-if="showMap" ref="rootMarker" :lat-lng="[userPage.coordinates[1], userPage.coordinates[0]]" 
                      :draggable="false"
                      :icon="markerIconRoot" id="myMarker"></l-marker>
        </l-map>
      </template>

      <v-list-item>
        <v-list-item-avatar class="mr-2"
            v-if="avatarUrl != '' && isAdmin" 
            height="50" width="50" 
            @click="startCropper">
          <v-img :src="avatarUrl" 
                 :title="isAdmin ? $vuetify.lang.t('$vuetify.page.changeImgProfil') : ''" 
                 :class="isAdmin ? 'btn-upload-img-profil' : ''"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>          
          <v-list-item-title class="headline" 
                             style="text-overflow: unset; white-space: normal;font-size:1.1em!important;">
                <v-icon class="" v-if="userPage.type=='user'">mdi-account</v-icon> 
            {{ userPage.name }}
          </v-list-item-title>
          
          <v-list-item-subtitle v-if="userPage.type != null">

            <template v-if="userPage.type=='user'">
              <small style="margin-right:10px;">
                {{ userPage.followers.length }} 
                {{ $vuetify.lang.t('$vuetify.main.follower') }}{{ (userPage.followers.length > 1) ? 's' : '' }}
              </small>
            </template>
            <small style="margin-right:10px;" title="type de page" v-if="userPage.type!='user'">
              <v-icon x-small class="">mdi-{{ iconsPageType }}</v-icon> 
              {{ $vuetify.lang.t('$vuetify.pageType.' + userPage.type) }}
            </small>
            <template v-if="userPage.city!=null">
              <small style="margin-right:10px;">
                <v-icon x-small style="margin-left:-5px;">mdi-map-marker</v-icon> 
                {{ userPage.address }} {{ userPage.city }}
              </small>
            </template>
            <small style="margin-right:10px;" title="nom du serveur qui héberge cette page">
              <v-icon x-small>mdi-spider-web</v-icon> {{ iName }}
            </small>

          </v-list-item-subtitle>
        </v-list-item-content>

        <v-btn  class="mb-2 mr-2" icon v-if="isAdmin && (userPage.type != 'user' || userPage.uid == $store.state.auth.profile.uid)"
                title="Gérer les rôles" small
                :to="'/page-roles/'+userPage.uid">
              <v-icon small>mdi-crown</v-icon>
        </v-btn>


        <v-btn  class="mb-2" icon v-if="isAdmin"
                title="Paramètres de la page" small
                :to="'/settings/'+userPage.uid">
              <v-icon small>mdi-cog</v-icon>
        </v-btn>

      </v-list-item>

      <v-row class="mx-0 px-0">
        <v-col class="py-3" v-if="userPage.type == 'assembly'">
          <v-btn :to="'/room/'+userPage.uid"  
                 class="" small block color="purple darken-2">
              <v-icon small class="mr-1">mdi-vote-outline</v-icon> 
              Salle de vote 
          </v-btn> 
        </v-col>
        <v-col class="py-3" v-if="isAdmin || isModerator || isEditor">
          <v-btn :to="'/live/'+userPage.uid"  
                 class="" small block color="blue darken-2">
              <v-icon small class="mr-1">mdi-comment</v-icon> 
              Tchat en direct
          </v-btn>
        </v-col>
        <v-col class="py-0" v-else>
           <ModalTchatForbiden :page="userPage" :onRoleRequestSuccess="onRoleRequestSuccess"></ModalTchatForbiden>
        </v-col>
      </v-row>

      <Cropper  v-if="isAdmin == true" :pageUid="userPage.uid" class="cropper"></Cropper>

      <v-col class="pt-0 " v-if="userPage.hashtags != null && userPage.hashtags.length > 0">
          <!-- <v-btn small class="mt-2 mr-2 " rounded
            @click="showFormDesc=false;showFormPosition=false;showFormTags=!showFormTags;">
            <v-icon small>mdi-pound-box</v-icon> tags
          </v-btn> -->

          <template v-if="isAdmin">
            <v-chip v-for="(tag, i) in userPage.hashtags" small
                    @click="showFormTags=true"
                  :key="i" class="mr-2 mt-2">
                    {{ tag }} 
            </v-chip>
          </template>
          <template v-if="!isAdmin">
            <v-chip v-for="(tag, i) in userPage.hashtags" small
                  :key="i" class="mr-2 mt-2">
                    {{ tag }} 
            </v-chip>
          </template>
      </v-col>

      <v-col cols="12">
        <v-alert class="pa-3 mt-1 mb-1" color="#1a1a1a" 
               style="font-size:0.9em;" elevation="3"
               v-if="userPage.description != null && userPage.description != ''" 
               v-html="completeText(userPage.description)">
        </v-alert>
      </v-col>
      
      
      <!-- <template v-if="userPage != null && userPage.coordinates != null && (isAdmin == false || tab != 3)">
        <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" 
                :center="[userPage.coordinates[1], userPage.coordinates[0]]"  
                id="map-container-page">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            
            <l-marker ref="rootMarker" :lat-lng="[userPage.coordinates[1], userPage.coordinates[0]]" 
                      :draggable="false"
                      :icon="markerIconRoot" id="myMarker"></l-marker>
        </l-map>
      </template> -->


    </v-card>
    

    <v-col cols="12" class="pa-0">
      <v-flex style="max-width:700px;" class="mx-auto">
        
        <template v-if="isAdmin == true">
          <v-tabs center-active grow background-color="#212121" dark v-model="tab"
                  style="border-top:1px solid rgb(57, 57, 57);border-radius: 0 0 4px 4px;">

                <v-tab @click="tab=0">
                  <v-icon>mdi-newspaper</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.stream.newsstream') }}
                  </span>
                </v-tab>              
                <v-tab @click="tab=1">
                  <v-icon>mdi-pencil</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.createPage.Description') }}
                  </span>
                </v-tab>
                <v-tab @click="tab=2">
                  <v-icon>mdi-pound-box</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.page.tags') }}
                  </span>
                </v-tab>
                <v-tab @click="tab=3; $root.$emit('invalidateSize');">
                  <v-icon>mdi-map-marker</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.stream.position') }}
                  </span>
                </v-tab>
                <v-tab @click="tab=4">
                  <v-icon>mdi-file</v-icon> <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.page.files') }}
                  </span>
                </v-tab>
          </v-tabs>

          
          <v-tabs-items touchless v-model="tab">
            
              <!-- STREAM -->
              <v-tab-item :value="0">
                
                <FormPostPrivate :userPage="userPage" 
                                 :loadStream="loadStream">
                </FormPostPrivate>
                
                <v-col class="text-center mt-3 py-0">
                  <v-btn class="mx-2 mt-0 mb-2"  fab dark  
                      color="blue" @click="pageNumber=1; loadStream()" :loading="streamLoading">
                      <v-icon dark title="actualiser">mdi-refresh</v-icon>
                  </v-btn><br>

                  <span v-if="!streamLoading && stream.length < 5">
                    {{ stream.length }} publication<template v-if="stream.length < 5">s</template>
                  </span>

                  <span v-if="streamLoading">Chargement en cours</span>
                </v-col>

                <div id="streamPage">
                  <div v-for="(post, i) in stream" :key="i" >
                      <Post :post="post" origin="stream"></Post>
                  </div>

                  <EndOfStream 
                    :endOfStream="endOfStream"
                    :mapMode="'posts'"
                    :pageNumber="pageNumber"
                    :searchContentStr="''"
                    :streamLoading="streamLoading"
                    :streamLength="stream.length"
                  />
                </div>
              </v-tab-item>
              <!-- STREAM -->

              <!-- DESCRIPTION -->
              <v-tab-item :value="1" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-pencil</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.FurtherInfo') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <v-col cols="12"><br>
                  <h5>
                    <v-icon>mdi-chevron-right</v-icon> 
                    {{ $vuetify.lang.t('$vuetify.page.DescInfo') }}...
                  </h5>

                  <br>
                  
                  <v-textarea spellcheck="false" label="Description..." auto-grow  :rules="rulesTxtareaEditPost" 
                              outlined v-model="description" style="font-size:0.9em;">
                  </v-textarea>

                  <v-btn block color="secondary" @click="saveDesc">
                    <v-icon small>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.page.saveDesc') }}
                  </v-btn>
                </v-col>
              </v-tab-item>
              <!-- DESCRIPTION -->

              <!-- TAGS -->
              <v-tab-item :value="2" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-pound-box</v-icon> 
                  <h4>Tags</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FormTags :page="userPage"></FormTags>
              </v-tab-item>
              <!-- TAGS -->

              <!-- POSITION -->
              <v-tab-item :value="3" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-map-marker</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.mainPosition') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FormPosition :userPage="userPage"></FormPosition>
              </v-tab-item>
              <!-- POSITION -->
           
              <!-- FILES -->
              <v-tab-item :value="4" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-file</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.files') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FileList :page="userPage"></FileList>
              </v-tab-item>
              <!-- FILES -->
           
          </v-tabs-items>
        </template>

        <template v-if="isAdmin == false">
          <v-tabs grow background-color="#212121" dark v-model="tab"
                style="border-top:1px solid rgb(57, 57, 57);border-radius: 0 0 4px 4px;">

              <v-tab @click="tab=0"><v-icon small>mdi-newspaper</v-icon> {{ $vuetify.lang.t('$vuetify.stream.newsstream') }}</v-tab>
              <v-tab v-if="!isFollowing" @click="tab=1">
                <v-icon small>mdi-link-variant</v-icon> 
                <span class="text-sm">{{ $vuetify.lang.t('$vuetify.page.follow') }}</span>
              </v-tab>
              <v-tab v-if="isFollowing" @click="tab=1">
                <v-icon small>mdi-link-variant</v-icon> <v-icon small>mdi-check</v-icon> 
                <span class="text-sm">{{ $vuetify.lang.t('$vuetify.main.follower') }}</span>
              </v-tab>
              <v-tab @click="tab=2" v-show="false" title="$vuetify.lang.t('$vuetify.page.addToContact')">
                <v-icon small>mdi-clipboard-account</v-icon> <v-icon small>mdi-plus</v-icon> 
                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.page.contact') }}</span>
              </v-tab>
              <v-tab @click="tab=3">
                <v-icon class="mr-1" small>mdi-scissors-cutting</v-icon> 
                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.page.blacklist') }}</span>
              </v-tab>
              <v-tab @click="tab=4">
                <v-icon>mdi-file</v-icon> <span class="ml-1 d-none d-sm-flex">
                  {{ $vuetify.lang.t('$vuetify.page.files') }}
                </span>
              </v-tab>
          </v-tabs>

          <v-tabs-items touchless v-model="tab">
              <!-- STREAM -->
              <v-tab-item :value="0">
                <FormPostPrivate v-if="isAdmin || isModerator || isEditor"
                                 :userPage="userPage" 
                                 :loadStream="loadStream">
                </FormPostPrivate>  
                <v-col class="text-center py-0">
                  <v-btn class="mx-2 mt-0 mb-2"  fab dark  
                      color="blue" @click="pageNumber=1; loadStream()" :loading="streamLoading">
                      <v-icon  dark title="actualiser">mdi-refresh</v-icon>
                  </v-btn><br>

                  <span v-if="!streamLoading && stream.length < 5">
                    {{ stream.length }} publication<template v-if="stream.length > 1">s</template>
                  </span>
                  
                  <span v-if="streamLoading">Chargement en cours</span>
                </v-col>

                <div id="streamPage">
                    <div v-for="(post, i) in stream" :key="i" >
                        <Post :post="post" origin="stream"></Post>
                    </div>
                  
                  <EndOfStream :endOfStream="endOfStream" 
                  :mapMode="'posts'" 
                  :pageNumber="pageNumber" 
                  :streamLoading="streamLoading" 
                  :streamLength="stream.length"></EndOfStream>
                </div>
              </v-tab-item>
              <!-- STREAM -->

              <!-- FOLLOW -->
              <v-tab-item :value="1">
                <BlockFollows :page="userPage"/>
              </v-tab-item>
              <!-- FOLLOW -->

              <!-- CONTACTS -->
              <v-tab-item :value="2">                
                <BlockContact :page="userPage" />
              </v-tab-item>
              <!-- CONTACTS -->
              
              <!-- BLACKLIST -->
              <v-tab-item :value="3">
                <BlockBlacklist :page="userPage" />
              </v-tab-item>
              <!-- BLACKLIST -->

              <!-- FILES -->
              <v-tab-item :value="4" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-file</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.files') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FileList :page="userPage"></FileList>
              </v-tab-item>
              <!-- FILES -->
          </v-tabs-items>
        </template>

      </v-flex>
    </v-col>
  </v-col>

  <v-snackbar v-model="showSnackbar" 
              :color="snackColor" right 
              :timeout="4000" :multi-line="true">
    {{ snackText }}
    <v-btn small icon
          @click="showSnackbar = false">
      <v-icon >mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
  <!-- <div v-show="false">{{ updateProfile }}</div> -->


    
  <v-dialog v-if="showDialogRole" v-model="showDialogRole" max-width="550">

    <v-card class="pa-5" v-if="!isRole">
      <v-card-actions class="pb-0">
          <v-icon  class="pr-1">mdi-{{ icons[currentRoleRequest] }}</v-icon> 
          <h3>Devenir {{ $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }}</h3>
          <v-spacer></v-spacer>
          <v-btn class="mr-3" icon @click="showDialogRole=false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-card-actions>

      <v-card-text class="px-3" v-if="isPending">
      Votre demande n'a pas encore été traité par les administrateurs
      </v-card-text>

      <template v-else>
        <v-card-text class="px-3" v-if="currentRoleRequest == 'admin'">
          Les administrateurs ont tout les droits sur la page.
        </v-card-text>
        <v-card-text class="px-3" v-if="currentRoleRequest == 'editor'">
          Les membres ont le droit de publier sur cette page.
        </v-card-text>
        <v-card-text class="px-3" v-if="currentRoleRequest == 'moderator'">
          Les modérateurs ont le droit de supprimer des commentaires et des publications sur cette page.
        </v-card-text>
        <v-card-text class="px-3" v-if="currentRoleRequest == 'follower'">
          Les abonnés reçoivent automatiquement les publications de cette page.
        </v-card-text>


        <h5 class="px-3">
          Souhaitez-vous envoyer une demande pour devenir 
          {{ $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }} ?
        </h5>
        
        <v-card-text class="px-3">
          <small>Votre demande devra être validée par les administrateurs de cette page.</small>
        </v-card-text>
      </template>
      
      <v-card-actions class="pa-3 btn-lowerc">
        <v-spacer></v-spacer>
        <v-btn color="" text @click="showDialogRole = false">
          Annuler
        </v-btn>
        <v-btn color="blue" :disabled="isPending"  @click="manageRole('add', 'pending')">
          <v-icon small>mdi-check</v-icon> Oui, envoyer la demande
        </v-btn>
      </v-card-actions>

    </v-card>

    <v-card class="pa-5" v-else>
      <v-card-actions>
          <v-icon  class="pr-1">mdi-{{ icons[currentRoleRequest] }}</v-icon> 
          <h3 v-if="userPage.type != 'user'">
            Vous êtes déjà {{ $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }}
          </h3>
          <h3 v-else>Vous êtes déjà {{ $vuetify.lang.t('$vuetify.page.friend') }} avec {{ userPage.name }}</h3>
          <v-spacer></v-spacer>
          <v-btn class="mr-3" icon @click="showDialogRole=false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-card-actions>

      <h5 class="px-3">
         Souhaitez-vous quitter ce rôle ?
      </h5>
      
      <v-card-actions class="pa-3 btn-lowerc">
        <v-spacer></v-spacer>
        <v-btn color="" text @click="showDialogRole = false">
          Annuler
        </v-btn>
        <v-btn color="blue"  @click="manageRole('cancel', 'role')">
          <v-icon small>mdi-check</v-icon> Oui, quitter
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-dialog v-if="showDialogFollowers" v-model="showDialogFollowers" max-width="550">
    <v-card class="pa-5">
      <v-card-actions>
          <v-icon  class="pr-1">mdi-link-variant</v-icon> 
          <h3 v-if="isFollowing">Vous êtes abonné à cette page</h3>
          <h3 v-if="!isFollowing">S'abonner</h3>
          <v-spacer></v-spacer>
          <v-btn class="mr-3" icon @click="showDialogFollowers=false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-card-actions>

      <v-card-text v-if="!isFollowing" class="px-3">
        Abonnez-vous à cette page si vous souhaitez suivre ses publications plus facilement dans votre fil d'actualités.
      </v-card-text>

      <h5 v-if="isFollowing" class="px-3">
         Souhaitez-vous vous désabonner ?
      </h5>
      
      <v-card-actions class="pa-3 btn-lowerc">
        <v-spacer></v-spacer>
        <v-btn color="" text @click="showDialogFollowers = false">
          Annuler
        </v-btn>
        <v-btn color="blue" v-if="!isFollowing" @click="addToFollows()">
          <v-icon small>mdi-check</v-icon> Je m'abonne
        </v-btn>
        <v-btn color="blue" v-if="isFollowing" @click="removeFromFollows()">
          <v-icon small>mdi-cancel</v-icon> Je me désabonne
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-row>
</template>

<style>
  #profil .postCard{
    margin-bottom:20px;
  }

  .btn.vodal-confirm-btn{
    display: none;
  }

  .cropper .container{
    padding:0px !important;
  }
  .cropper .vodal-dialog{
    background: #464646;
  }
  .cropper .vodal-cancel-btn, .cropper .vodal-confirm-btn{
    border: unset!important;
  }
  .cropper .vodal-confirm-btn {
      background: #0bccb1;
  }
  .cropper .vodal-cancel-btn {
      color: #000;
  }
  .v-slide-group__prev--disabled{
    display:none!important;
  }
  .v-tab{
    min-width:40px;
  }
  .v-tabs-items{
    padding:25px 0;
    background-color:transparent!important;
  }
  .enableShare .v-input__slot{
    padding-right: 55px;
  }
  .enableShare .v-input--switch .v-input--selection-controls__input{
    right: 0;
    position: absolute; 
  }
  #map-container-page{
    height:200px;
    z-index:0;
    background-color: #1b2f35;
  }
  .leaflet-tile{
    opacity: 0.4 !important;
  }
  .leaflet-bottom{
    display:none;
  }
  #stream{
    padding-bottom:400px;
  }
  .btn-upload-img-profil{
    cursor:pointer;
  }
  .btn-upload-img-profil:hover{
    border: 3px solid #00bae5;
  }
</style>
<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'
import moment from 'moment'


import Cropper from '@/components/Cropper.vue'
import Post from '@/components/Post.vue'
import FormTags from '@/components/page/FormTags.vue'
import FormPosition from '@/components/page/FormPosition.vue'
import FormPostPrivate from '@/components/private/FormPostPrivate.vue'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker} from 'vue2-leaflet'

import BlockFollows from '@/components/page/BlockFollows.vue'
import BlockContact from '@/components/page/BlockContact.vue'
import BlockBlacklist from '@/components/page/BlockBlacklist.vue'
import FileList from '@/components/page/FileList.vue'
import EndOfStream from '@/components/page/EndOfStream.vue'
import ModalTchatForbiden from '@/components/page/ModalTchatForbiden.vue'

const config = require('../config/' + process.env.NODE_ENV)

export default {
  name: 'auth',
  props: [],
  components: { FormTags, FormPosition, Cropper, Post, FormPostPrivate, ModalTchatForbiden,
                LMap, LTileLayer, LMarker, BlockFollows, BlockContact, BlockBlacklist, EndOfStream, FileList },

  data: () => ({
    user: { name: '' },
    page: { name: '' },
    userPage: { name: '' },
    avatarUrl: '',
    showFormDesc: false,
    showFormPosition: true,
    formPosOpacity: 0,
    description: "",
    stream: [],
    streamLoading: false,
    showStream: true,
    endOfStream: false,
    pageNumber: 1,
    myPages: [],
    showCutValidation: false,
    showFollow: false,

    showSnackbar: false,
    snackText: "",
    snackColor: "green",
    showFormTags: false,
    showInputPdf: false,


    rulesTxtareaEditPost: [v => (v != null && v.length <= 500) || 'Max 500 caractères'],
    sendingMsg: false,
    postText: "",
    postTextError: '',
    postTagText: "",
    postSignedUid: "",
    postSharable: false,
    showInputImage: false,
    showFormPost: false,
    urlToImage: '',
    postImage: null,
    embedMetaLinks: [],
    postPDF: null,
      
    tab: 0,
    eventStartDate: null,
    eventStartDatePicker: null,
    showAgenda: false,
    metaLoading: false,

    zoom:13,
    url : config.mapTilesUrl,
    attribution:'',
    showMap: true,

    showDialogRole: false,
    showDialogFollowers: false,
    currentRoleRequest: '',
    icons : { 'admin' : 'crown', 
              'moderator': 'account-star', 
              'editor': 'account-edit-outline',
              'follower' : 'link'},
  }),
  async updated(){
    //this.tab = 0
    if(window.isDev) { console.log("CHECK UPDATED"); }
  },
  async created(){
    //this.tab = 0
    if(window.isDev) { console.log("CHECK CREATED"); }
  },
  async mounted(){
    if(window.isDev) { console.log("CHECK MOUNT"); }
    this.tab = 0
    this.userPage.uid = this.$route.params.pageUid
    this.mode = this.$route.params.mode
    this.stream = []
    this.updateDataProfile()
    this.loadStream()
    this.$root.$emit('closeModalUserPage')
    
    this.$root.$on('changeAvatar', (avatarUrl, pageUid) => { 
      if(window.isDev) { console.log('changeAvatar in page', avatarUrl); }
      if(pageUid == this.userPage.uid)
        this.avatarUrl = avatarUrl
        this.showMap = false
        setTimeout(()=>{ this.showMap = true }, 200)
    })

    this.$root.$off('loadStream').$on('loadStream', () => { 
      if(window.isDev) { console.log('loadStream in page.js'); }
      this.pageNumber = 1
      this.$vuetify.goTo(300)
      setTimeout(()=>{
        if(window.isDev) { console.log("editpos timeout", this.mode); }
        if(this.mode != "editpos")
        this.loadStream();
      }, 300)
    })
    
    window.removeEventListener('scroll', ()=>{})
    window.addEventListener('scroll', ()=>{
      //if(window.isDev) { console.log("scroll", window.scrollY, document.getElementById("streamPage").offsetHeight - 400); }
      if(document.getElementById("streamPage") == null) return 
      //if(window.isDev) { console.log("scroll loadstream in page.vue", window.scrollY, document.getElementById("streamPage").offsetHeight-400, this.streamLoading, this.endOfStream, this.tab ); }
      if(!this.endOfStream && window.scrollY > document.getElementById("streamPage").offsetHeight-400 && this.tab==0){
        if(!this.streamLoading && !this.endOfStream){
            this.pageNumber++
            this.loadStream()
        }
      }
    })

    this.$root.$on('closeBlock', (uid) => { 
      if(this.userPage.uid == uid) this.tab = 0
    })
      
    this.$root.$on('updateDataProfile', () => { 
      this.updateDataProfile()
    })
      
  },
  methods: {
    async updateDataProfile(){
      this.pageNumber = 1
      try{
        axios.post('/page/profil', { pageUid: this.userPage.uid })
            .then( res => {
              if(res.data.error == false){
                this.stream = []
                this.user = res.data.user
                if(window.isDev) { console.log("res.data.user", res.data, res.data.user); }
                this.contactPrivatePost = [res.data.page]
                this.userPage = res.data.page
                this.avatarUrl = core.avatarUrl(this.userPage.uid)
                this.myPages = res.data.user.pages
                if(this.userPage.type == 'event'){
                  this.eventStartDate = moment(this.userPage.startDate).locale(this.$vuetify.lang.current).format('LLL')
                  this.eventStartDatePicker = moment(this.userPage.startDate).format('YYYY-MM-DD')
                }

                this.description= this.userPage.description


              if(this.mode == "editpos"){
                this.formPosOpacity = 1 
                this.showMap = false
                this.tab = 3
              }else{
                this.tab = 0
              }
            }
        })        
      }catch(e){
        //router.push('/login');
        console.log("error updateDataProfile", e)
      }
    },

    startCropper: function(){
      if(this.isAdmin == false) return
      var parentDOM = document.getElementById("inspire");
      let el = parentDOM.getElementsByClassName('btn vodal-confirm-btn')[0]
      if(window.isDev) { console.log("starCropper", el); }
      el.click()
    },

    saveDesc: async function(){
      try{
        if(window.isDev) { console.log("userpage ?", this.userPage.uid); }
        
        if(this.description.length > 500) return

        const res = await axios.post('/page/edit-description', 
                                      { pageUid: this.userPage.uid,
                                        description: this.description })
        if(window.isDev) { console.log("res", res.data); }
        if(res.data.error == false){
          this.userPage.description = this.description
          this.showFormDesc = false
        }
      }catch(e){
        router.push('/login');
      }
    },

    nl2br: function(str, is_xhtml){
      var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
      return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    },
   


    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 500)
    },

    loadStream: async function(){
      if(this.pageNumber == 1) this.stream = []
      this.streamLoading=true
      let currentPos = {lat: this.$store.state.auth.profile.coordinates[1], 
                        lng: this.$store.state.auth.profile.coordinates[0] }

      let radius = 300000; // Define for backward compat
      
      axios.post('/page/get-stream',{ search: "", 
                                      lat: currentPos.lat, 
                                      lng: currentPos.lng, 
                                      radius: radius,
                                      pageUid: this.userPage.uid,
                                      pageNumber: this.pageNumber })
                  .then((res)=>{

                    if(this.pageNumber == 1)  this.stream = res.data.stream
                    else                      this.stream = this.stream.concat(res.data.stream)

                    this.streamLoading = false
                    this.showScopeCircle = false
                    this.$root.$emit('streamLoaded');

                    this.endOfStream = (res.data.stream.length < res.data.nbPerPage)

                    if(window.isDev) { console.log("res /page/get-stream", res); }
                  })
                  .catch((e)=>{
                    if(window.isDev) { console.log("error /page/get-stream", e); }
                  })
    
    },

    sendPrivateMsg : async function(uid, name){ //, name){
        //await this.addToContact(uid, name)
        if(uid == null) router.push('/private/sendto')
        else            router.push('/private/sendto/'+uid+'/'+name)
    },

    addToContact : async function(uid, name){
        if(window.isDev) { console.log("addToContact"); }
        //this.loading = true
        const res = await axios.post('/page/add-to-contacts', { 
                                        pageUid: uid,
                                        pageName: name
                                    })
                                    
        if(res.data.error == false){
            this.$store.dispatch('auth/fetchUserContext')
        }
        this.loading = false
        if(window.isDev) { console.log("res /page/add-to-contact", res.data); }
    },

    goToProfile : async function(){
      console.log("goto PROFILE", this.userPage.uid, this.$route.params.pageUid)
      this.userPage.uid = this.$route.params.pageUid
      this.mode = this.$route.params.mode
      this.pageNumber = 1
      this.endOfStream = false
      await this.updateDataProfile()
      this.loadStream()
    },
    getUserLoggedPage: function(){
      let p = null
      this.myPages.forEach((page)=>{
        if(page.uid == this.$store.state.auth.profile.uid) p = page
      })
      return p
    },
    completeText: function(text){
        return core.completeText(text)
    },
    openDialogRole: function(role){
      this.showDialogRole = true
      this.currentRoleRequest = role
    },
    async manageRole(type, action){ //action is invite or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: type,
                                  action: action,
                                  role: this.currentRoleRequest,
                                  page: { uid: this.$store.state.auth.profile.uid, 
                                          name: this.$store.state.auth.profile.name },
                                  onPageUid: this.$route.params.pageUid,
                                 })
                   
      if(res.data.error == false){
          this.onRoleRequestSuccess()
      }
      console.log("/page/manage-role", res.data)
    },

    onRoleRequestSuccess: function(){
      this.showSnackbar = true
      this.snackText = "Le message est passé !"
      this.snackColor = "success"
      this.showDialogRole = false
      this.$store.dispatch('auth/fetchUserContext')
      this.updateDataProfile()
    },
    
    addToFollows: async function(){
        if(window.isDev) { console.log("addToFollows"); }
        //this.loading = true
        const res = await axios.post('/page/add-to-follows', { 
                                        pageUid: this.userPage.uid,
                                        pageName: this.userPage.name
                                    })
                                    
        if(res.data.error == false){
            this.showSnackbar = true
            this.snackText = "Vous êtes abonné à cette page : " + this.userPage.name
            this.snackColor = "success"
            this.showDialogFollowers = false
            this.$store.dispatch('auth/fetchUserContext')
            this.updateDataProfile()
        }
        //this.loading = false
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
    },

    removeFromFollows: async function(){
        if(window.isDev) { console.log("removeFromFollows"); }
        //this.loading = true
        const res = await axios.post('/page/remove-from-follows', { 
                                        pageUid: this.userPage.uid
                                    })
                                    
        if(res.data.error == false){            
            this.showSnackbar = true
            this.snackText = "Vous n'êtes plus abonné à cette page : " + this.page.name
            this.snackColor = "orange darken-3"
            this.showDialogFollowers = false
            this.updateDataProfile()
            this.$store.dispatch('auth/fetchUserContext')
        }
        //this.loading = false
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
    },


  },
  computed: {
    
    avatarUrlCMPT : function(){
      if(window.isDev) { console.log("avatarUrl", this.avatarUrl); }
      return this.avatarUrl
    },
    iName: function(){
      return core.iName(this.userPage.uid)
    },
    updateProfile : function(){
      console.log("updateProfile", this.userPage, this.$route.params.pageUid)
      if(this.userPage.uid != null && this.userPage.uid != this.$route.params.pageUid) this.goToProfile()
      return this.$route.params.pageUid
    },
    isMyPage: function(){
        let found = false
        this.myPages.forEach((page) => {
            if(page.uid == this.userPage.uid)
            found = true
        })
        return found
    },
    isFollowing: function(){
        let found = false
        if(this.userPage.followers==null) return false
        this.userPage.followers.forEach((page) => {
            if(window.isDev) { console.log("followers", page, this.$store.state.auth.profile.uid); }
            if(page == this.$store.state.auth.profile.uid)
            found = true
        })
        if(window.isDev) { console.log("followers", this.userPage.followers, this.$store.state.auth.profile.uid, found); }
        return found
    },
    isMyContact: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == this.$store.state.auth.profile.uid) loggedPage = page
        })
        let found = false
        loggedPage.contacts.forEach((page) => {
            if(page.uid == this.userPage.uid) found = true
        }); return found
    },
    isBlacklisted: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == this.$store.state.auth.profile.uid) loggedPage = page
        })
        let found = false
        loggedPage.blacklist.forEach((page) => {
            if(page.uid == this.userPage.uid) found = true
        }); return found
    },
    isMyProfil: function(){
        return this.userPage.uid == this.$store.state.auth.profile.uid
    },
    markerIconRoot: function(){
      if(this.showMap == true || this.showMap == false)
        console.log("refresh icon marker")

      let avatar = core.avatarUrl(this.userPage.uid)
      return L.icon({
          iconUrl: avatar, //'markers/root-marker-earth.png',
          iconSize:     [60, 60], // size of the icon
          iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
          popupAnchor:  [0, -30] // point from which the po
      });
    },

    isRole: function(){
      console.log('this.userPage.roles', this.userPage.roles)
      console.log('this.userPage.roles', this.currentRoleRequest)
      let f = false
      this.userPage.roles[this.currentRoleRequest].forEach((p)=>{
      console.log('this.userPage.roles p', p, this.$store.state.auth.profile.uid)
        if(p.uid == this.$store.state.auth.profile.uid) f = true
      })
      return f
    },
    isPending: function(){
      console.log('this.userPage.roles', this.userPage.roles)
      console.log('this.userPage.roles', this.currentRoleRequest)
      let f = false
      this.userPage.pendingRoles[this.currentRoleRequest].forEach((p)=>{
      console.log('this.userPage.pendingRoles p', p, this.$store.state.auth.profile.uid)
        if(p.uid == this.$store.state.auth.profile.uid) f = true
      })
      return f
    },

    isAdmin: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.userPage, 'admin')
    },
    isModerator: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.userPage, 'moderator')
    },
    isEditor: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.userPage, 'editor')
    },

    iconsPageType: function(){
      return core.iconPageType(this.userPage.type)
    }

  },
  watch: {
    '$store.state.auth.profile.coordinates': function() {
      if(this.isMyPage)
        this.userPage.coordinates = this.$store.state.auth.profile.coordinates

    },
    '$route.params.pageUid': function(){
      console.log("watch $route.params.pageUid", this.userPage, this.$route.params.pageUid)
      if(this.userPage.uid != null && this.userPage.uid != this.$route.params.pageUid) 
        this.goToProfile()
    }
  }
}
</script>
