<template>
  <div>
    <v-col cols="12" class="pa-0">
      
        <v-list-item class="px-0">
          <v-btn fab class="mr-2" :to="'/page/'+page.uid">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <router-link style="color:white; text-decoration:none;"
                       :to="'/page/'+page.uid">
            <v-list-item-avatar class="mr-2"
                v-if="avatarUrl != ''" 
                height="50" width="50">
              <v-img :src="avatarUrl"></v-img>
            </v-list-item-avatar>
          </router-link>
          <v-list-item-content>  
            
            <router-link style="color:white; text-decoration:none;"
                        :to="'/page/'+page.uid">        
              <v-list-item-title class="headline" 
                                style="text-overflow: unset; white-space: normal;font-size:1.1em!important;">
                @{{ page.name }}
              </v-list-item-title>
            </router-link>
            
            <v-list-item-subtitle v-show="page.address==null && page.city==null">
              <small style="margin-right:10px;">
                <v-icon x-small>mdi-spider-web</v-icon> {{ iName }}
              </small>
              <small>
                <v-icon x-small>mdi-map-marker</v-icon> 
                {{ $vuetify.lang.t('$vuetify.map.notLocated') }}
              </small>
            </v-list-item-subtitle>
            <v-list-item-subtitle v-show="page.address!=null ||  page.city!=null">
              <small style="margin-right:10px;">
                <v-icon x-small>mdi-spider-web</v-icon> {{ iName }}
              </small>
              <v-icon x-small style="margin-left:-5px;">
                mdi-map-marker
              </v-icon>
              {{ page.address }} {{ page.city }} 
            </v-list-item-subtitle>
          </v-list-item-content>


        <v-btn small outlined color="primary" class="ml-2" @click="updateDataProfile">
          <v-icon small>mdi-refresh</v-icon> {{ $vuetify.lang.t('$vuetify.stream.update') }}
        </v-btn>
        </v-list-item>

        <h2 class="ml-3 mb-0 mt-3">
          <v-icon class="ml-0 mr-1" large>mdi-chevron-down</v-icon>
          Gestion des rôles
        </h2>

    </v-col>

    <v-col cols="12" class="py-0 px-0" v-if="secureAccess">
      <v-card elevation="0" 
              class="mx-auto mt-2 py-4" 
              style="border-radius: 4px 4px 0 0;">
        
        <ManageRole role="admin"     :page="page" :updateDataProfile="updateDataProfile"></ManageRole>
        <ManageRole role="moderator" :page="page" :updateDataProfile="updateDataProfile"></ManageRole>
        <ManageRole role="editor"    :page="page" :updateDataProfile="updateDataProfile"></ManageRole>
        

      </v-card>
    </v-col>

    <v-col cols="12" md="6" v-else>
        <v-card>
            <v-app-bar class="pl-5" color="blue-grey darken-4">
                <v-btn :loading="true" icon>
                  <v-icon class="ml-2 mr-3">mdi-refresh</v-icon>
                </v-btn>
                <v-card-subtitle>
                  <span>Vérification de votre identité</span> 
                </v-card-subtitle>
            </v-app-bar>
        
        </v-card>
    </v-col>
  </div>
</template>


<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'
// import moment from 'moment'

import ManageRole from '@/components/page/ManageRole.vue'

export default {
  name: 'page-roles',
  props: [],
  components: { ManageRole },

  data: () => ({
    user: { name: '' },
    page: { name: '' },
    avatarUrl: '',
    secureAccess: false
  }),
  async mounted(){
    if(window.isDev) { console.log("CHECK MOUNT"); }
    this.updateDataProfile()
  },
  methods: {
    async updateDataProfile(){
      this.pageNumber = 1
      try{
        axios.post('/page/profil', { pageUid: this.$route.params.pageUid })
            .then( res => {
              if(res.data.error == false){
                this.page = res.data.page
                this.avatarUrl = core.avatarUrl(this.page.uid)
                this.checkAccessToSettings()
            }
        })        
      }catch(e){
        router.push('/login');
      }
    },

    checkAccessToSettings(){
        //check if is admin of the page
        let isAdmin = false
        this.page.roles.admin.forEach((p)=>{
            if(p.uid == this.$store.state.auth.profile.uid) isAdmin = true
        })
        if(isAdmin == false){ 
            console.log("exit")
            router.push('/')
        }
        else {
            this.secureAccess = true
        }
    },
    avatarUrlPage(uid){
      return  core.avatarUrl(uid)
    }
  },
  computed: {
    iName: function(){
      return core.iName(this.page.uid)
    },
  }
}
</script>