<template>
<div>
  
  <v-col cols="12" lg="5"  md="7" sm="9" class="mx-auto text-center mt-5">
    <h1 class="d-none">{{ $vuetify.lang.t('$vuetify.register.createYourAccount') }}</h1>
   
    <v-card class="mx-auto pa-0" max-width="550" color="transparent" elevation="0">
      <v-col cols="12" class="pa-0">      
        <v-card-title class="pa-2" style="font-size:0.9em;">
          <v-btn icon class="mr-1" to="/select-node">
            <v-icon>mdi-spider-web</v-icon>
          </v-btn> 
          <v-icon small class="mr-1 mt-1">mdi-check</v-icon> 
          Connecté au serveur 
          <b class="ml-1">
            {{ $store.state.network.localName }}, 
            à {{ $store.state.network.localLocation }}
          </b>

          <v-btn x-small fab color="blue darken-3" to="/select-node" class="ml-auto">
            <v-icon small>mdi-spider-web</v-icon> 
          </v-btn>
         </v-card-title> 
      </v-col>
    </v-card>

    <br>

    <v-card class="mx-auto main-card" max-width="550" style="border: 2px solid #f44336;">
        
      <v-col cols="12" class="pb-1">
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus</v-icon> 
          {{ $vuetify.lang.t('$vuetify.register.createYourAccount') }}  
        </v-card-title> 

        <hr>

        <v-card-subtitle v-if="false">
          {{ $vuetify.lang.t('$vuetify.register.desc11') }} !<br><br>
          {{ $vuetify.lang.t('$vuetify.register.desc12') }},  
          {{ $vuetify.lang.t('$vuetify.register.desc13') }}...
        </v-card-subtitle>

        <br>
        <v-form @submit.prevent="register" v-if="rules!=null">
          <v-text-field 
            v-model="name"
            @change="removeNameSpace"
            @keypress="$store.commit('auth/fetchRegisterError', null)"
            :disabled="!signedCharte" 
            :hint="$vuetify.lang.t('$vuetify.form.atLeast3Char')"
            :label="$vuetify.lang.t('$vuetify.home.pseudoFormLogin')" 
            :rules="[rules.required, rules.minName, rules.noSpace]"
            :error="hasUsernameError"
            single-line
            outlined
            filled
            id="name"
          />
          <v-text-field 
            v-model="password"
            @click:append="showpwd = !showpwd"
            @change="removePwdSpace"
            @keypress="$store.commit('auth/fetchRegisterError', null)"
            :append-icon="showpwd ? 'mdi-eye' : 'mdi-eye-off'"
            :disabled="!signedCharte"
            :hint="$vuetify.lang.t('$vuetify.form.atLeast8Char')"
            :label="$vuetify.lang.t('$vuetify.main.password')"
            :rules="[rules.required, rules.min]"
            :type="showpwd ? 'text' : 'password'"
            :error="hasPasswordError"
            single-line
            counter
            outlined
            filled
            id="password"
          />

          <!-- Referrer text-field -->
          <v-text-field v-show="false"
            v-model="referrerUid"
            @keypress="onReferrerUidChange"
            :error="hasReferrerUidError"
            :filled="referrerUid !== ''"
            single-line
            outlined
            hint="(Optionnel) Saisissez le code d'invitation que vous avez reçu(e)"
            label="Code d'invitation"
            placeholder="Code d'invitation, ex: alpha:user2, orion:zer0tr4c3"
            id="password"
          />

          <!-- Referrer Card: Success state -->
          <v-card
            v-if="referrerUser.profile != null"
            color="grey darken-3"
            style="margin-bottom: 16px;"
          >
            <v-list-item>
              <v-list-item-avatar>
                <v-avatar size="48px">
                  <v-img
                    :src="referrerUser.profile.avatarUrl"
                    width="48px"
                    height="48px"
                  />
                </v-avatar>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title style="color:white;" class="font-weight-bold">
                  {{ referrerUser.profile.name }}
                </v-list-item-title>
                <v-list-item-subtitle style="color:white;">
                  vous a envoyé une invitation à rejoindre Plaanet !
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn
                  @click="removeReferral"
                  icon  color="white"
                  title="Ne plus être invité par ce membre"
                >
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-card>

          <!-- Referrer Card: Loading state -->
          <v-skeleton-loader
            v-if="referrerUser.loading"
            type="list-item-avatar-two-line"
          />

          <!-- Referrer Card: Error state -->
          <v-card
            v-if="hasReferrerUidError && !referrerUser.loading"
            color="error"
            style="margin-bottom: 16px;"
          >
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-bug</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title style="color:white;" class="font-weight-bold">
                  Woops, ce membre n'existe pas!
                </v-list-item-title>
                <v-list-item-subtitle style="color:white;">
                  Il semble que votre invitation soit invalide
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn
                  @click="$store.commit('auth/fetchReferrerError', null)"
                  icon color="white"
                  title="Fermer"
                >
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-card>

          <!-- Register Card: Error state -->
          <v-card
            v-if="registerState.error && registerState.loading !== true"
            color="error"
          >
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-bug</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title style="color:white;" class="font-weight-bold">
                  Woops, impossible de s'inscrire
                </v-list-item-title>
                <v-list-item-subtitle 
                  v-if="registerState.error.name === 'ValidationError'"
                  style="color:white;"
                >
                  Merci de remplir les champs requis (Nom d'utilisateur, Mot de passe)
                </v-list-item-subtitle>
                <v-list-item-subtitle 
                  v-if="registerState.error.name === 'UsernameTakenError'"
                  style="color:white;"
                >
                  Ce nom d'utilisateur est déjà utilisé
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn
                  @click="$store.commit('auth/fetchRegisterError', null)"
                  icon color="white"
                  title="Fermer"
                >
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-card>


        </v-form>
      </v-col>

      <v-col class="pa-3 pb-0 pt-0">
        <v-btn class="mb-1" x-small text to="/legals">
          <v-icon x-small>mdi-file</v-icon>
          {{ $vuetify.lang.t('$vuetify.main.mentionLegal') }}
        </v-btn>
        <v-btn class="mb-1" x-small text to="/cgu">
          <v-icon x-small>mdi-file</v-icon>CGU
        </v-btn>
      </v-col>
          
      <v-card-actions>
        <v-btn 
          @click="register"
          :loading="register.loading || referrerUser.loading"
          :disabled="!canSubmitRegister"
          class="white--text font-weight-bold" 
          color="primary" 
          block
        >
            <v-icon class="mr-3">mdi-account-plus</v-icon>
          {{ $vuetify.lang.t('$vuetify.main.register') }}
          </v-btn>
      </v-card-actions>

    </v-card>


    <v-card class="mx-auto mt-10" color="#231f20" elevation="0">
      <v-col cols="12" class=" text-center">      
        <v-card-subtitle class="text-center">
          {{ $vuetify.lang.t('$vuetify.register.alreadyHaveAccount') }} ?
        </v-card-subtitle>
        <v-btn :disabled="register.loading" class="lowercase mt-2 mx-1" color="blue darken-3" to="/select-node" rounded outlined>
          <v-icon small class="mr-2">mdi-spider-web</v-icon> 
          {{ $vuetify.lang.t('$vuetify.home.switchServer') }}
        </v-btn>
        <v-btn :disabled="register.loading" class="lowercase mt-2 white--text mx-1" color="blue" to="/login" rounded outlined>
          <v-icon small class="mr-2">mdi-login</v-icon> {{ $vuetify.lang.t('$vuetify.main.login') }}
        </v-btn> 
        
        <br><br><br><br>
      </v-col>
    </v-card>

  </v-col>
</div>

</template>

<style>
  div.v-alert__content {
    text-align: left !important;
  }
</style>
<style scoped>
  .v-btn.lowercase{
    text-transform: none!important;
  }
</style>

<script>
import { mapState } from 'vuex';

import router from '../router/router'
import core from '../plugins/core.js'

export default {
  name: 'register',
  components: {  },
  data: () => ({
    showReferrerError: false,
    showRegisterError: false,
    referrerUid: '',
    name: '',
    email: '',
    errorRegister: '',
    password: '',
    showpwd: false,
    currentNodeLocation: '',
    signedCharte: false,
    showSecurityDetails: false,
    rules: null,
  }),
  computed: {
    ...mapState({
      referrerUser: state => state.auth.referrer,
      registerState: state => state.auth.register,
    }),
    hasUsernameError() {
      if (!this.registerState.error) {
        return false;
      }

      return (
        this.registerState.error.name === 'UsernameTakenError' ||
        this.registerState.error.name === 'ValidationError'
      );
    },
    hasPasswordError() {
      if (!this.registerState.error) {
        return false;
      }

      return this.registerState.error.name === 'ValidationError';
    },
    hasReferrerUidError() {
      return this.referrerUid !== '' && this.referrerUser.error != null
    },
    canSubmitRegister() {
      if (this.name === '' || this.password === '') {
        return false;
      }
      
      if (this.showRegisterError) {
        return false;
      }

      if (this.referrerUid !== '' && this.showReferrerError) {
        return false;
      }


      return true;
    }
  },
  async mounted(){
    if(this.$store.state.network.localName == null){
      router.push('/select-node');
    }

    this.signedCharte = localStorage.getItem("signedCharte") == 'true' ? true : false
    if(this.signedCharte != true){
      router.push('/manifest');
    }

    this.referrerUid = localStorage.getItem('referrerUid') ? localStorage.getItem('referrerUid') : '';
    if (this.referrerUid) {
      if (window.isDev) {
        console.log('Current user is referred by an user. Referrer uid:', this.referrerUid);
      }

      await this.$store.dispatch('auth/fetchReferrerUser', this.referrerUid, {root:true});
    }

    this.rules = {
      required: value => !!value || this.$vuetify.lang.t('$vuetify.form.required'),
      min: v => v.length >= 8 || 'Min 8 ' + this.$vuetify.lang.t('$vuetify.form.characters'),
      minName: v => v.length >= 3 || 'Min 3 ' + this.$vuetify.lang.t('$vuetify.form.characters'),
      noSpace: v => v.indexOf(' ') == -1 || this.$vuetify.lang.t('$vuetify.form.noSpace'),
    }

    core.incStat('/register')
  },
  methods: {
    async onReferrerUidChange() {
      await this.$store.dispatch('auth/fetchReferrerUser', this.referrerUid, {root:true});
    },
    async removeReferral() {
      this.referrerUid = '';

      // Cause an error, which removes profile.
      // TODO: Create an action for this behavior.
      await this.$store.dispatch('auth/fetchReferrerUser', null, {root:true});
    },
    async register() {
      this.showReferrerError = false;
      this.showRegisterError = false;

      try {
        await this.$store.dispatch('auth/register', {
          credentials: {
            username: this.name,
            password: this.password,
          },
          referrerUid: this.referrerUid,
        }, {root:true});
      } catch (err) {
        this.showReferrerError = true;
      }

      try {
        if (this.$store.state.auth.register.success) {
          await this.$store.dispatch('auth/loginUser', {
            name: this.name,
            password: this.password,
          });

          this.$store.commit('auth/change_user_step', this.$store.state.auth.user._id);

          // For security
          localStorage.removeItem('referrerUid');

          // Send the user to first-step:
          router.push('/first-step');
          return;
        }
      } catch (err) {
        this.showRegisterError = true;
      }
    },
    removeNameSpace(){ if(window.isDev) { console.log("removeSpaceName", this.name.indexOf(" ")); }
      if(this.name.indexOf(" ") > -1) this.name = this.name.replace(" ", "")
    },
    removePwdSpace(){ if(window.isDev) { console.log("removePwdSpace", this.password.indexOf(" ")); }
      if(this.password.indexOf(" ") > -1) this.password = this.password.replace(" ", "")
    }
  },
}
</script>
