<template>
  <div style="max-width:800px;" class="mx-auto">
    <v-row class="d-flex mt-5">

        <v-col cols="12" class="py-0 px-3 text-right" 
               v-if="$store.state.room.roomUid != null && !$store.state.room.page.canSendSurvey">
          <small class="grey--text">
            Vous ne pouvez pas publier de sondage dans cette assemblée
          </small>
        </v-col>

        <v-col class="pt-1">
          <v-card elevation="0"  v-if="$store.state.room.roomUid != null"
                  class="mx-auto mt-2" 
                  style="border-radius: 4px 4px 0 0;">
            <v-list-item>
              <router-link :to="'/page/'+$route.params.roomUid">
                <img :src="avatarUrl($route.params.roomUid)" height="30" width="30" class="mt-1 mr-2">
              </router-link>
              
              <router-link :to="'/page/'+$route.params.roomUid">
                <v-list-item-content>          
                  <v-list-item-title 
                        class="" 
                        style="text-overflow: unset; white-space: normal; color:white;">
                    {{ $store.state.room.page.name }}
                  </v-list-item-title>       
                  <v-list-item-subtitle>
                    <v-icon small>mdi-spider-web</v-icon> 
                    {{ iName($store.state.room.page.uid) }}
                    <v-icon small>mdi-map-marker</v-icon> 
                    {{ $store.state.room.page.city }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </router-link>
              <v-spacer></v-spacer>
              <v-btn small :to="'/room/publish/'+$store.state.room.roomUid" 
                        color="purple darken-2"  class="d-none d-sm-flex"
                        :disabled="!$store.state.room.page.canSendSurvey">
                <v-icon small>mdi-plus-circle</v-icon> 
                Organiser un vote
              </v-btn>
              <v-icon small @click="openPopupInfoSurvey = true" class="ml-2">
                mdi-information-outline
              </v-icon>
            </v-list-item>

            <v-col class="d-sm-none">
              <v-btn small block :to="'/room/publish/'+$store.state.room.roomUid" 
                        color="purple darken-2"  
                        :disabled="!$store.state.room.page.canSendSurvey">
                <v-icon small>mdi-plus-circle</v-icon> 
                Organiser un vote
              </v-btn>
            </v-col>
          </v-card>

           <v-card elevation="0" color="transparent" v-else>
             <h4 class="pa-4 pb-0">
               <v-icon small>mdi-eye</v-icon> 
               Parcourir les votes
              </h4>
              <v-card-text class="pt-1">
                Parcourez les séances de votes (sondage et référendum) 
                de toutes les assemblées du réseau
              </v-card-text>
           </v-card>

          <v-card flat class="mt-4 pa-3">
            <small class="ml-1">
              <v-icon small>mdi-chevron-down</v-icon> Filtrer par type de vote
            </small>
            <br>
            <v-btn small @click="searchType='all'"
                    :outlined="searchType!='all'"
                    color="purple darken-3" class="ml-1 mr-1 mt-1">
              <v-icon small>mdi-asterisk</v-icon> 
              Tous
            </v-btn>
            <v-btn small @click="searchType='survey'"
                    :outlined="searchType!='survey'"
                    color="purple darken-3" class="ml-1 mr-1 mt-1">
              <v-icon small>mdi-vote</v-icon> 
              <span class="d-none d-sm-inline mr-1">Les </span>sondages
            </v-btn>
            <v-btn small @click="searchType='referendum'"
                    :outlined="searchType!='referendum'"
                    color="purple darken-3" class="ml-1 mr-1 mt-1">
              <v-icon small>mdi-vote</v-icon> 
              <span class="d-none d-sm-inline mr-1">Les </span>référendum
            </v-btn>
          </v-card>

          <v-toolbar flat class="mt-4">
            <v-text-field  dense v-model="search" hide-details class="ml-2" color="purple"
                          @change="loadSurveys()" :loading="loadingSurveys"
                          clearable label="rechercher...">
            </v-text-field>
            <v-btn icon class="mx-2"
                  @click="loadSurveys()" 
                  :loading="loadingSurveys">
              <v-icon >mdi-magnify</v-icon>
            </v-btn>

            <v-menu offset-y open-on-hover>
              <template v-slot:activator="{ on, attrs }">
                <v-btn dark  icon class="mr-3"
                        v-bind="attrs"
                        v-on="on">
                  <v-icon >mdi-chevron-down</v-icon> 
                </v-btn>
              </template>
              <v-list>
                <template v-for="(filt, s) in filters">
                  <v-list-item @click="filter = filt.val" :key="s">
                    <v-list-item-title :class="filter==filt.val ? 'blue--text' : ''">
                      <v-icon small :class="filter==filt.val ? 'blue--text' : ''">mdi-{{ filt.icon }}</v-icon> 
                      {{ filt.name }}
                    </v-list-item-title>
                  </v-list-item>
                </template>
              </v-list>
            </v-menu>

          </v-toolbar>

        </v-col>
    </v-row>

    <v-row class="d-flex" v-if="$store.state.room.surveys.length > 0">
      <template v-for="(survey, i) in $store.state.room.surveys">
        <v-col cols="12" :key="i">
          <Survey :survey="survey" :loadingSurvey="loadingSurvey && loadingUid == survey.uid"></Survey>
        </v-col>
      </template>
    </v-row>

    <v-row class="d-flex" v-else>
      <v-col>
      <v-card class="pa-4">
        <v-icon small>mdi-cancel</v-icon> Aucun sondage
      </v-card>
      </v-col>
    </v-row>
    <ModalInfoSurvey :openPopupInfoSurvey="openPopupInfoSurvey"></ModalInfoSurvey>
  </div>
</template>

<script>
//import axios from 'axios';
//import router from '../router/router'

import ModalInfoSurvey from '@/components/main-layout/modals/ModalInfoSurvey.vue';
import Survey from '@/components/room/Survey.vue';
import core from '../plugins/core.js'

export default {
  name: 'VoteRoom',
  components: { Survey, ModalInfoSurvey }, //Post },
  //props: [],
  data:() => ({
    search: '',
    searchType: 'all',
    loadingSurvey: false,
    loadingSurveys: false,
    loadingUid: '',
    filter: 'none',
    filters: [ { name: 'Tout',               val :'none',         icon: 'asterisk' }, 
               { name: 'A soutenir',         val :'support',      icon: 'check' }, 
               { name: 'Vient de commencer', val :'startedSoon',  icon: 'clock' }, 
               { name: 'Se termine bientôt', val :'endSoon',      icon: 'clock' }, 
               { name: 'Nombre de votes',    val :'nbVotes',      icon: 'vote-outline' }, 
               { name: 'Terminé',            val :'ended',        icon: 'ray-end' }
              ],
    openPopupInfoSurvey: false
  }),
  async mounted(){
    //this.loadSurveys()

    this.$root.$off('refreshCurrentSurvey').$on('refreshCurrentSurvey', async (surveyUid) => {
      this.refreshCurrentSurvey(surveyUid)
    })

    if(this.$route.params.roomUid == null) core.incStat('/room-all')
    else core.incStat('/room')
  },
  methods: {
    async loadSurveys(){
      this.loadingSurveys = true
      await this.$store.dispatch('room/fetchRoom', {
                                  roomUid: this.$route.params.roomUid, 
                                  filter: this.filter, 
                                  searchStr: this.search,
                                  searchType: this.searchType
                                })
      this.loadingSurveys = false
    },
    async refreshCurrentSurvey(surveyUid) {
      console.log("refreshCurrentSurvey", surveyUid)
     
      this.loadingUid = surveyUid
      this.loadingSurvey = true
      await this.$store.dispatch('room/refreshSurvey', surveyUid)
      setTimeout(()=>{ this.loadingSurvey = false; this.loadingUid = ''; }, 500)
    },
    avatarUrl: function(roomUid){
      return core.avatarUrl(roomUid)
    },
    iName: function(uid){
      return core.iName(uid)
    },
  },
  watch: {
      'filter': { immediate: true, 
          handler (val, oldVal) {
            if(window.isDev) { console.log("#ROOM -- filter changed", val, oldVal) }
            if(typeof oldVal == "undefined") return
            this.loadSurveys()
          }
      },
      'searchType': { immediate: true, 
          handler (val, oldVal) {
            if(window.isDev) { console.log("#ROOM -- searchType changed", val, oldVal) }
            if(typeof oldVal == "undefined") return
            this.loadSurveys()
          }
      },
      '$route.name': { immediate: true, 
        async handler (val, oldVal) {
          if(window.isDev) { console.log("#ROOM -- route.name changed", val, oldVal) }
          this.loadSurveys()          
        }
      },
  }, 
}
</script>
