<template>
  <div>
    <v-row class="d-flex select-node">
      <h1 class="d-none">Sélectionnez le serveur que vous souhaitez utiliser</h1>
      <l-map 
        ref="nodeMap" 
        :zoom="zoom"
        :maxZoom="11"
        :minZoom="3"
        :center="mapCenter"
        id="map-container"
      >
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <template v-for="(instance, i) in $store.state.network.nodes">
          <l-marker :key='i'
            :icon="getIconCircle(instance)"
            :lat-lng="[instance.position.coordinates[1], instance.position.coordinates[0]]"
            ref="markerToOpenPopup"
          >
            <l-popup class="text-center"  :open="i==0">
              <NodeBox :instance="instance" :showBtn="true"/>
            </l-popup> 
          </l-marker>
        </template>
      </l-map>
      <v-btn style="position:fixed; right:15px; top:120px;" color="blue" @click="showNodeList=true">
        <v-icon small>mdi-spider-web</v-icon> Liste des serveurs
      </v-btn>

    <v-alert small color="blue darken-3" v-if="showHelpMsg"
             style="position:fixed; left:0px; bottom:0px;" class="mx-3">
      Sélectionnez le serveur sur lequel vous souhaitez vous inscrire ou vous connecter.<br>
      <small>Choisissez de préférence le serveur le plus proche de chez-vous, pour optimiser les performances.</small>
      <br>
      <v-row>
        <v-col cols="6">
          <v-btn block small class="mt-2" color="blue darken-4" to="/info-nodes">
            <v-icon x-small>mdi-plus-circle</v-icon> en savoir plus
          </v-btn>
        </v-col>
        <v-col cols="6">
          <v-btn block small class="mt-2" color="blue" @click="showHelpMsg=false">
            <v-icon small>mdi-check</v-icon> ok
          </v-btn>
      </v-col>
      </v-row>
    </v-alert>

    <v-navigation-drawer absolute v-model="showNodeList" width="100%" 
        class="drawer-network" bottom>
      <v-card color="transparent">
        <v-toolbar dark class="px-3">
          <v-toolbar-title><v-icon small>mdi-spider-web</v-icon> Choisir un serveur</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="showNodeList = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-row  class="px-3 pt-3" v-for="x in [0]" :key="x" style="padding-bottom: 64px;">
          <template v-for="(instance, i) in $store.state.network.nodes">
              <v-col cols="12" md="4" sm="4" class="text-center" :key='i'>
                <NodeBox :instance="instance" :showBtn="true"></NodeBox>
              </v-col>
          </template>
        </v-row>
      </v-card>
    </v-navigation-drawer>

</v-row>
</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";

  .select-node #map-container{
    position:fixed;
    top: 100px;
    left:0px;
    right:0px;
    bottom:0px;
    height:unset;
    z-index: 0;
    background-color: #1b2f35;
  }
  .leaflet-tile{
    opacity: 0.4 !important;
  }
  .select-node #slider-nodes{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    height:180px;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .select-node .elipsis{
     overflow: hidden; 
     text-overflow: ellipsis; 
     white-space: nowrap;
     max-width:100%;
  }

  .select-node .leaflet-popup-content{
    margin:0px;
  }

  .select-node .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(40, 40, 40, 0.92)!important;
    box-shadow: rgba(79, 78, 78, 0.92)!important;
    color:white;
    padding:0px;
  }
  .select-node .drawer-network{
    background-color:rgba(0,0,0,0.9); 
    height:unset !important; 
    max-height: 100%; 
    z-index:30; 
    bottom:0px; 
    top:auto !important;
  }
</style>

<script>

//import axios from 'axios'
import router from '../router/router'
import NodeBox from '@/components/instance/NodeBox.vue'

import L from 'leaflet';
import { LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet'

import core from '../plugins/core.js'

const config = require('../config/' + process.env.NODE_ENV)

export default {
  name: 'home',
  components: { LMap, LTileLayer, LMarker, LPopup, NodeBox },
  data:() => ({
    
    showEnterNetwork: false,
    isOnNetwork: false,
    cityFindNode: '',
    loadPlaces: false,
    networkInited: false,
    instanceInit: null,
    network: [],
    places: [],
    zoom:13,
    mapCenter: L.latLng(47.413220, -1.219482),
    //url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    //attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    url : config.mapTilesUrl,
    attribution:'&copy; <a href="http://osm.org/copyright">OSM</a>',
    popupContent: "ok",
    errorMsg: "",
    showNodeList: false,
    showHelpMsg: true,
  }),
  async mounted(){
    if(localStorage.getItem("iname") != null){
        this.isOnNetwork = true
        this.currentNodeName = localStorage.getItem("iname")
    }
      
    delete L.Icon.Default.prototype._getIconUrl  
    L.Icon.Default.mergeOptions({  
      iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
      iconUrl: require('leaflet/dist/images/marker-icon.png'),  
      shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
    })

    const nodeBounds = this.$store.state.network.nodes.map(node => [
      node.position.coordinates[1],
      node.position.coordinates[0]
    ]);
    const mapBounds = new L.LatLngBounds(nodeBounds);

    // Add a virtual padding.
    mapBounds.pad(0.5);
    this.$refs.nodeMap.fitBounds(mapBounds);
    setTimeout(()=>{ 
      this.$refs.nodeMap.setZoom(this.$refs.nodeMap.mapObject.getZoom()-1); 
      this.showCurrentNode()
    }, 500) 

    core.incStat('/register')
  },
  methods: {
    showCurrentNode: function(){
      let i = 0
      this.$store.state.network.nodes.map((node, x) => {
        if(node.name == this.$store.state.network.localName) i=x
      })
      this.$refs.markerToOpenPopup[i].mapObject.openPopup()
    },    
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 1)
    },
    back: function(){ router.back() },
    getIcon(item) {
      let color = 'blue'
      if(item.url + ':' + item.port == this.$store.state.network.localBaseUrl) color = 'gold'
      if(item.isActive === false) color = 'red'
      
      return new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-'+color+'.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });
    },
    getIconCircle: function(instance){
        let avatar = instance.isActive ? 'logo-earth.png' : 'logo-earth-down.png'
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [40, 40], // size of the icon
            iconAnchor:   [20, 20], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the po
        });
      },
  },
}
</script>
