<template>
    <div>
        <v-row class="d-flex" id="singlePost">
            <v-col v-if="post != null">
                <Post
                    :post="post"
                    :origin="post.scopeType"
                />
            </v-col>
        </v-row>
    </div>
</template>

<style>
    #singlePost{
        padding-bottom:100px;
    }
</style>

<script>
import axios from 'axios';
import router from '../router/router'

import Post from '@/components/Post.vue';

export default {
  name: 'SinglePostPage',
  components: { Post },
  props: [],
  data:() => ({
    isLoading: true,
    postUid: null,
    post: null,
  }),
  async mounted(){
    const { postUid } = this.$route.params;
    this.loadPost(postUid);
  },
  methods: {
    async loadPost(postUid) {
      try {
        this.isLoading = true;

        const res = await axios.post('/publication/get-post', {
          postUid: postUid,
        });

        if(res.data.error == false){
          this.post = res.data.singlePost;
          console.log(this.post)
        } else {
          router.push('/stream');
        }

      } catch (err) {
        if (window.isDev) {
          console.log('Cannot fetch requested post. Error:', err);
        }
      } finally {
        this.isLoading = false;
      }
    },
  },
}
</script>
