<template>

  <v-row class="d-flex border-top-primary px-2 py-4 bg-section-transparent">
    <h1 class="d-none">Visiter la Plaanet en vidéos</h1>
    <v-col cols="12" class="px-2 text-center">
      <iframe width="560" height="315" style="max-width:100%" sandbox="allow-same-origin allow-scripts allow-popups" 
                src="https://tube.nocturlab.fr/videos/embed/6168466d-0717-4a9b-90a0-322bc99cb1e1?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
    </v-col>
    <v-col cols="12" class="px-2 text-center">
      <iframe width="560" height="315" style="max-width:100%" sandbox="allow-same-origin allow-scripts allow-popups" 
                src="https://tube.nocturlab.fr/videos/embed/a57a4a67-5811-46d2-9b4b-2de4f4042a6e?subtitle=fr&title=0&warningTitle=0" 
                frameborder="0" allowfullscreen></iframe>
    </v-col>
  </v-row>
</template> 