<template>
    <v-carousel
        interval="10000" height="400"
        hide-delimiter-background
        show-arrows-on-hover
        class="moreInfoNode">

        <v-carousel-item>
        <v-card color="primary darken-3" class="fill-height text-center pa-5" height="100%">
            <img alt="" src="../../assets/centralize_distributed.png" style="width:80%;"><br>
            <h3>Qu'est-ce qu'un réseau décentralisé ?</h3>
            <v-card-subtitle class="text-center">
                C'est un réseau sur lequel les données ne sont pas toutes stockées au même endroit, 
                mais sur plusieurs serveurs qui communiquent entre-eux.
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-2" class="fill-height text-center pa-5" height="100%">
            <v-icon>mdi-server-network</v-icon>
            <v-icon>mdi-server-network</v-icon>
            <v-icon>mdi-server-network</v-icon>
            <br><br>
            <h3>Un serveur ?</h3>
            <v-card-subtitle class="text-center">
                Un serveur est un ordinateur connecté à internet qui héberge et partage des données.
            </v-card-subtitle>
            <v-card-subtitle class="text-center">
                Dans le cas d'un réseau informatique, on dit que le réseau est constitué de noeuds,
                ou chaque noeud est un serveur.
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-3" class="fill-height text-center pa-5" height="100%">
            <v-icon>mdi-server-network</v-icon>
            <v-icon color="green">mdi-server-network</v-icon>
            <v-icon>mdi-server-network</v-icon>
            <br><br>
            <h3>Sur Plaanet,</h3>
            <v-card-subtitle class="text-center">
                vous choisissez le serveur sur lequel vous souhaitez stocker vos données.
            </v-card-subtitle>
            <v-card-subtitle class="text-center">
                Une fois relié à un serveur, vous êtes connecté à l'ensemble du réseau,
                et tout se passe comme si toutes les données se trouvaient au même endroit.
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-2" class="fill-height text-center pa-5" height="100%">
            <v-icon>mdi-monitor-cellphone</v-icon>
            <br><br>
            <h3>Qu'est-ce que ça change ?</h3>
            <v-card-subtitle class="text-center">
                A l'usage, ça ne change rien.
            </v-card-subtitle>
            <v-card-subtitle class="text-center">
                Pour les utilisateurs, la décentralisation reste invisible. 
                Elle est gérée en arrière plan par le système, qui vous distribue les informations qui vous concernent,
                en provenance de tous les noeuds du réseau.
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="primary darken-3" class="fill-height text-center pa-5" height="100%">
            <v-icon large>mdi-security-network</v-icon>
            <br><br>
            <h3>Alors ça sert à quoi ?</h3>
            <v-card-subtitle class="text-center">
                La décentralisation est une sécurité.
            </v-card-subtitle>
            
            <v-card-subtitle class="text-center">
                Impossible pour un seul individu de contrôler ou récupérer l'ensemble des données du réseau, 
                puisque les données sont réparties sur une multitude de serveurs à travers le monde.
            </v-card-subtitle>
        </v-card>
        </v-carousel-item>

        <v-carousel-item>
        <v-card color="secondary darken-1" class="fill-height text-center pa-5" height="100%">
            <br>
            <img alt="" src="../../assets/centralize_distributed.png" style="width:80%;"><br>
            <v-card-subtitle class="text-center" style="font-weight:500;">
                La décentralisation augmente la résilience du réseau, et limite les abus de pouvoir de la part des administrateurs
                (observation, censure, manipulation des données).
            </v-card-subtitle>
            <v-icon>mdi-thumb-up</v-icon>
        </v-card>
        </v-carousel-item>

    </v-carousel>
</template>


<script>

//import axios from 'axios'
//import router from '../../router/router'
//import core from '../../plugins/core.js'

export default {
  name: 'carousel-info-node',
  props: [],
  components: {  },
  data: () => ({
  }),  
  mounted: async function(){
    
  },
  methods: {
    
  },
  
};
</script>