<template>
<div v-show="!$store.state.app.drawerOpen">
  <div class="main-left-block"
      :style="$store.state.app.drawerOpen ? 'width: 15%; left:280px;' : 'width: 22%; left: 2%;'">
    <!-- BUTTONS -->
    <div class="block1 btn-lowerc" v-if="$store.state.stream.map.show === false">
        <v-btn :to="'/create/group'" class="" text>
          <v-icon class="mr-2" color="red darken-4">mdi-account-group-outline</v-icon> 
          <v-icon small class="mr-1">mdi-plus-circle</v-icon> 
          Créer un groupe
        </v-btn><br>
        <v-btn :to="'/create/event'" class="my-1" text>
          <v-icon class="mr-2" color="orange darken-4">mdi-calendar</v-icon> 
          <v-icon small class="mr-1">mdi-plus-circle</v-icon> 
          Créer un évènement
        </v-btn><br>
        <v-btn :to="'/create/assembly'" class="my-1" text>
          <v-icon class="mr-2" color="purple darken-1">mdi-hexagon-multiple-outline</v-icon> 
          <v-icon small class="mr-1">mdi-plus-circle</v-icon> 
          Créer une assemblée
        </v-btn><br>
        <v-btn class="my-1" v-if="$store.state.app.activity.assemblies.length > 0" 
                text  :to="'room/publish/'+$store.state.app.activity.assemblies[0].uid">
          <v-icon class="mr-2" color="purple lighten-2">mdi-vote-outline</v-icon> 
          <v-icon small class="mr-1">mdi-plus-circle</v-icon> 
          Organiser un vote
        </v-btn>
    </div>
    <!-- ASSEMBLIES -->
    <div class="block2" v-if="$store.state.stream.map.show === false">
        <div class="list">
          <PageListActivity
            v-if="$store.state.app.activity.assemblies!=null && $store.state.app.activity.assemblies.length > 0"
            :pageList="$store.state.app.activity.assemblies" 
            :userPageUid="$store.state.auth.profile.uid"
          />
        </div>
    </div>
    <!-- CALENDAR -->
    <div class="block3" v-if="$store.state.stream.map.show === false">
        <div class="px-4 my-2 mt-0">
          <v-slider hide-details v-model="radiusCalendar" inverse-label 
                    color="primary" thumb-color="primary" track-fill-color="primary"
                    :min="1000" :max='600000' :label="parseInt(radiusCalendar/1000)+' km'"
                    @change="loadData"></v-slider>
        </div>
        <div>
        <v-calendar
            ref="calendar"
            color="primary"
            :events="eventsCalendar"
            @click:event="clickEventCalendar"
          ></v-calendar>
        </div>
    </div>
  </div>

  <div id="main-right-col" v-if="$store.state.stream.map.show === false"
      :style="$store.state.app.drawerOpen ? 'width: 15%;' : 'width: 22%;'">
    
    <div class="pt-3">
      <v-icon class="ml-5" small>mdi-chevron-double-down</v-icon> 
      <small><b>Près de chez-toi...</b></small>
      
      <v-btn fab x-small style="position:absolute; right: 5px; top:5px;" 
             elevation="0" class="ml-2" @click="loadData" :loading="loading">
        <v-icon small>mdi-refresh</v-icon>
      </v-btn>
      
      <div class="px-4 my-2 mt-3">
        <v-slider hide-details v-model="radius" inverse-label 
                  :min="1000" :max='200000' :label="parseInt(radius/1000)+' km'"
                  @change="loadData"></v-slider>
      </div>
    </div>
    <div class="list">
    <PageListActivity
      v-if="$store.state.app.activity.pages!=null && $store.state.app.activity.pages.length > 0"
      :pageList="$store.state.app.activity.pages" 
      :userPageUid="$store.state.auth.profile.uid"
    />
    </div>

  </div>
</div>
</template>


<style>
  @media (max-width: 1100px){
    .main-left-block{ display:none; }
    #main-right-col{ display:none; }
  }


  @media (max-width: 1530px){
    .main #stream .card-container{
      max-width: 580px !important;
    }
  }
  .v-overlay--active .main-left-block{ display: none; }

  .notif-open .main-left-block{ display:none; }

  .main-left-block{
    position: fixed;
    top: 80px;
    border-radius: 8px;
  }
  

  .main-left-block .block1{
    padding:0px;
    /* background: linear-gradient(#18191ab5, #18191a65);
    box-shadow: 0px 0px 3px #00000087; */
    margin-bottom:10px;
    border-radius: 8px;
  }
  .main-left-block .block2{
    padding:0px;
    margin-bottom:20px;
    border-radius: 8px;
    /* padding-bottom:50px; */
  }
  .main-left-block .block3{
    padding:8px;
    background: linear-gradient(#18191ab5, #18191a26);
    box-shadow: 0px 0px 3px #00000087;
    margin-bottom:20px;
    border-radius: 8px;
  }

  #main-right-col{
    position: fixed;
    top: 90px;
    bottom: 60px;
    right:2%;
    background: linear-gradient(#18191ab5, #18191a26);
    border-radius: 8px;
    box-shadow: 0px 0px 3px #00000087;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-right-col .list{
    max-height:83%;
    padding: 8px;
    overflow-y: auto;
    /* border-top:solid 1px rgba(58, 58, 58, 0.938); */
  }


</style>

<script>

import PageListActivity from '@/components/main-layout/PageListActivity.vue'

export default {
  name: 'activity-block',
  props: [ 'lat', 'lng' ],
  data:() => ({
    loading: false,
    radius: 200000,
    radiusCalendar: 600000
  }),
  components: { PageListActivity },
  async mounted(){
    this.loadData()
  },
  methods: {
    async loadData(){
      let params = {  lat: this.$store.state.auth.profile.coordinates[1], 
                      lng: this.$store.state.auth.profile.coordinates[0], 
                      radius: this.radius,
                      pageNumber: 1,
                      key: 'pages' }

      let params2 = params
      let params3 = params

      this.loading = true
      await this.$store.dispatch('app/fetchActivity', params).then(()=>{ this.loading = false })

      this.loading = true
      params2.pageType = 'assembly'
      params2.key = 'assemblies'
      params2.radius = 200000
      params2.nbPerPage = 1
      await this.$store.dispatch('app/fetchActivity', params2).then(()=>{ this.loading = false })

      this.loading = true
      params3.pageType = 'event'
      params3.key = 'events'
      params3.radius = this.radiusCalendar
      this.$store.dispatch('app/fetchActivity', params3).then(()=>{ this.loading = false })
    },
    clickEventCalendar(data){
      console.log("clickEventCalendar", data)
      this.$root.$emit("openModalUserPage", data.event.uid)
    }
  },
  computed: {
    currentRoute : function(){
      return this.$route.path
    },
    eventsCalendar: function(){
      
      let eventsCalendar = []
      this.$store.state.app.activity.events.forEach((event)=>{
        eventsCalendar.push({
              uid: event.uid,
              name: event.name,
              start: new Date(event.startDate),
              end: new Date(event.startDate),
              color: "red",
              timed: true,
            })
      })
      return eventsCalendar
    }
    
  }
}

</script>