<template>
<div class="header" v-intersect="onIntersect">
  <v-app-bar
    app fixed
    height="64" class="px-2"
    extension-height="40px"
  >
    <v-btn
      @click="toggleDrawer"
      icon :disabled="$store.state.auth.isLoggedIn === false"
      class="main-icon-top-menu"
    >
      <img :alt="mainLocalName" :src="pathToLogoImg" height=40>
    </v-btn>

    <router-link
      v-if="$store.state.auth.isLoggedIn === false" 
      to="/" 
    >
      <h3 class="white--text font-konkretika">
        {{ mainLocalName }}
      </h3>
    </router-link>

    <router-link
      v-if="$store.state.auth.isLoggedIn === true"
      to="/stream"
      id="plaanetName"
      class="d-none d-sm-inline-block"
     
    >
      <h3 class="white--text font-konkretika" 
          v-if="$store.state.app.drawerOpen === false">
        {{ mainLocalName }}
      </h3>
    </router-link>

    <template v-if="$store.state.app.drawerOpen === false || $store.state.auth.isLoggedIn === false">
      <!-- TODO: Move this into a Logo component -->
      <div v-if="showLandingMenu">
        <h5 class="mt-1 ml-2 d-none d-md-flex" v-if="$vuetify.lang.current == 'en'">
          <span style="padding: 0 3px;color:grey;text-decoration: line-through;"><i>Social</i></span> 
          Rebel Network
        </h5>
        <h5 class="mt-1 ml-2 d-none d-md-flex" v-if="$vuetify.lang.current == 'fr'">
          Réseau 
          <span style="padding: 0 3px;color:grey;text-decoration: line-through;"><i>Social</i></span> 
          Rebelle
        </h5>
      </div>
    </template>

    <v-spacer></v-spacer>

    <template v-if="$store.state.auth.isLoggedIn === false">
      <v-btn elevation="2" color="red" height="32px"  :title="$vuetify.lang.t('$vuetify.main.register')"
             class="mx-1 pa-3 rounded-lg d-none d-sm-flex" @click="joinRebellion()">
          <v-icon small color="white">mdi-handshake</v-icon>
          {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }}
      </v-btn>
      <v-btn elevation="2" color="blue darken-1" 
             class="mx-1 pa-3 rounded-lg d-none d-sm-flex" height="32px" to="/login">
           <v-icon small color="white" class="mr-1">mdi-login</v-icon>
           {{ $vuetify.lang.t('$vuetify.main.login') }}
      </v-btn>
    </template>
    <template v-if="$store.state.auth.isLoggedIn">
      <v-bottom-navigation id="top-bar-nav" grow>
        <v-btn class="hover-blue" value="local" to="/stream" x-small>
            <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.menu.Home') }}</span>
            <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-btn class="hover-blue" value="local" :to="'/live'" x-small>
            <span class="d-none d-sm-flex">
              {{ $vuetify.lang.t('$vuetify.menu.PrivateMessaging') }}
            </span>
            <v-badge style=""
              color="error"
              :content="$store.state.auth.countUnreadLiveMsg"
              :value="$store.state.auth.countUnreadLiveMsg"
              overlap
            >
              <span slot="badge" v-if="$store.state.auth.countUnreadLiveMsg  > 0">
                {{ $store.state.auth.countUnreadLiveMsg  }}
              </span>
              <v-icon>mdi-comment</v-icon>
            </v-badge>
        </v-btn>

        <v-btn class="hover-yellow btn-notif" value="favorites" 
              @click="$store.dispatch('notifications/setDrawerOpen', true)" x-small>
            <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.menu.Notif') }}</span>
          <v-badge style=""
            color="error"
            :content="$store.state.notifications.nbNotReadNotif"
            :value="$store.state.notifications.nbNotReadNotif"
            overlap
          >
            <span slot="badge" v-if="$store.state.notifications.nbNotReadNotif > 0">
              {{ $store.state.notifications.nbNotReadNotif }}
            </span>
            <v-icon>mdi-bell</v-icon>
          </v-badge>
        </v-btn>

      </v-bottom-navigation>
        <v-btn x-small icon @click="refreshView()"
              title="rafraichir les données de la page actuelle">
          <v-icon x-small color="grey">mdi-refresh</v-icon>
        </v-btn>

      <v-spacer />

      <v-menu rounded="lg" id="user-menu">
        <template v-slot:activator="{ on, attrs }">
          <v-btn 
            v-on="on"
            v-bind="attrs"
            dark
            elevation="2"
            height="32px"
            color="grey darken-4"
            class="mx-3 pa-3 rounded-lg"
            id="btn-profil"
          >
            <img :src="$store.state.auth.avatarUrl" height="20px" width="20px" class="mr-2">
            {{ $store.state.auth.profile.name }} <v-icon small>mdi-chevron-down</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item :to="'/page/'+ $store.state.auth.profile.uid">
            <v-list-item-avatar>
              <img :src="$store.state.auth.avatarUrl">
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="font-weight-bold">{{ $store.state.auth.profile.name }}</v-list-item-title>
              <v-list-item-subtitle v-if="$store.state.auth.user.name != $store.state.auth.profile.name">
                @{{ $store.state.auth.user.name }}
              </v-list-item-subtitle>
              <v-list-item-subtitle v-else>
                {{ $vuetify.lang.t('$vuetify.menu.MyProfile') }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider inset dark></v-divider>
          <v-list-item dense to="/me/invite-friends">
            <v-list-item-icon>
              <v-icon size="20px">mdi-share-variant</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              Inviter des amis
            </v-list-item-content>
          </v-list-item>

          <v-menu open-delay="280" offset-x left open-on-hover>
            <template v-slot:activator="{ on, attrs }">
              <v-list-item
                @click.stop
                dense
                v-on="on"
                v-bind="attrs"
              >
                <v-list-item-icon>
                  <img :src="currentLanguage.flagUrl" height="20px" />
                </v-list-item-icon>
                <v-list-item-content>
                  {{ $vuetify.lang.t('$vuetify.meta.name') }}
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon size="20px">
                    mdi-chevron-right
                  </v-icon>
                </v-list-item-action>
              </v-list-item>
            </template>
            <v-list dense>
              <v-list-item 
                v-for="lang in supportedLanguages" 
                :key="lang.code" 
                @click="changeLocale(lang.code)"
                dense
              >
                <v-list-item-icon>
                  <img :src="lang.flagUrl" height="20px" width="20px">
                </v-list-item-icon>
                <v-list-item-content>
                  {{ lang.name }}
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-menu open-delay="280" offset-x left open-on-hover v-if="isAdmin">
            <template v-slot:activator="{ on, attrs }">
              <v-list-item
                @click.stop
                dense
                v-on="on"
                v-bind="attrs"
              >
                <v-list-item-icon>
                  <v-icon size="20px">
                    mdi-account-cowboy-hat
                  </v-icon>
                </v-list-item-icon>
                
                <v-list-item-content>
                  {{ $vuetify.lang.t('$vuetify.menu.Admin') }}
                </v-list-item-content>
                <v-list-item-action>
                  <v-icon size="20px">
                    mdi-chevron-right
                  </v-icon>
                </v-list-item-action>
              </v-list-item>
            </template>
            <v-list dense>

              <v-list-item dense v-if="isAdmin" :to="'/status'">
                <v-list-item-icon>
                  <v-icon size="20px">mdi-chart-line</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  {{ $vuetify.lang.t('$vuetify.home.networkStatus') }}
                </v-list-item-content>
              </v-list-item>
              
              <v-list-item dense v-if="isAdmin" :to="'/admin/visitors'">
                <v-list-item-icon>
                  <v-icon size="20px">mdi-finance</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  {{ $vuetify.lang.t('$vuetify.menu.StatVisitors') }}
                </v-list-item-content>
              </v-list-item>

              <v-list-item dense v-if="isAdmin" :to="'/admin/page-modo'">
                <v-list-item-icon>
                  <v-icon size="20px">mdi-book</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  {{ $vuetify.lang.t('$vuetify.menu.PageModo') }}
                </v-list-item-content>
              </v-list-item>

              <v-list-item dense v-if="isAdmin" :to="'/admin/emails'">
                <v-list-item-icon>
                  <v-icon size="20px">mdi-mail</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  {{ $vuetify.lang.t('$vuetify.menu.EmailSettings') }}
                </v-list-item-content>
              </v-list-item>

              <v-list-item dense v-if="isAdmin" :to="'/admin/version-mobile'">
                <v-list-item-icon>
                  <v-icon size="20px">mdi-cellphone-cog</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  {{ $vuetify.lang.t('$vuetify.menu.VersionMobile') }}
                </v-list-item-content>
              </v-list-item>

            </v-list>
          </v-menu>

          
          <v-list-item dense v-if="isMobile" :to="'/last-version-mobile-app'">
            <v-list-item-icon>
              <v-icon size="20px">mdi-cellphone-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              {{ $vuetify.lang.t('$vuetify.menu.Updates') }}
            </v-list-item-content>
          </v-list-item> 


          <v-list-item dense :to="'/settings/'+ $store.state.auth.profile.uid">
            <v-list-item-icon>
              <v-icon size="20px">mdi-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              {{ $vuetify.lang.t('$vuetify.menu.Settings') }}
            </v-list-item-content>
          </v-list-item> 
          <v-list-item dense @click="$store.dispatch('app/setPopupEmailOpen', true)">
            <v-list-item-icon>
              <v-icon size="20px">mdi-mail</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              E-mail notif
            </v-list-item-content>
          </v-list-item> 

          
          <v-divider inset />

          <v-list-item dense @click="$store.dispatch('auth/logout')">
            <v-list-item-icon>
              <v-icon color="red" size="20px">mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content class="red--text">
              {{ $vuetify.lang.t('$vuetify.menu.Logout') }}
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>

    

    <v-btn elevation="2" color="" fab icon rounded small v-if="$store.state.auth.isLoggedIn === false"
            class="mx-1 pa-3 d-sm-none rounded-lg" @click="showMenuXS=true">
          <v-icon>mdi-menu</v-icon> 
    </v-btn>

    <!-- <v-btn v-if="isHome!=true" color="blue" rounded small @click="back" class="pl-1">
      <v-icon>mdi-chevron-left</v-icon> 
      {{ $vuetify.lang.t('$vuetify.main.back') }}
    </v-btn>  -->

    <v-menu offset-y v-if="$store.state.auth.isLoggedIn === false">
      <template v-slot:activator="{ on, attrs }">
        <v-btn 
          v-on="on"
          v-bind="attrs"
          dark
          elevation="0"
          color="grey darken-4"
          height="32px"
          class="mx-1 pa-3 rounded-lg font-weight-bold"
        >
          <img class="mr-2" :src="currentLanguage.flagUrl" height="20px" /> 
          <span style="text-transform:uppercase;font-weight:700;">
            {{ currentLanguage.code }}
          </span>
          <v-icon small class="ml-2">mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list dense>
        <v-list-item 
          v-for="lang in supportedLanguages"
          :key="lang.code" 
          @click="changeLocale(lang.code)"
          dense 
        >
          <v-list-item-icon>
            <img :src="lang.flagUrl" height="20px" width="20px">
          </v-list-item-icon>
          <v-list-item-content>
            {{ lang.name }}
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-menu>

    <template 
      v-slot:extension
      v-if="showLandingMenu"
    >
      <v-tabs
        class="p-3"
        background-color="grey darken-3"
        color="blue"
        show-arrows
        hide-slider
        align-with-title
        center-active
      >
        <v-tab class="submenu-link" to="/">
          {{ $vuetify.lang.t('$vuetify.menu.Home') }}
        </v-tab>
        <v-tab class="submenu-link" to="/manifest">
          {{ $vuetify.lang.t('$vuetify.home.theManifest') }}
        </v-tab>
        <v-tab class="submenu-link" to="/faq">
          FAQ
        </v-tab>
        <v-tab class="submenu-link" to="/info-nodes">
          {{ $vuetify.lang.t('$vuetify.home.decentralization') }}
        </v-tab>
        <v-tab class="submenu-link" to="/select-node">
          {{ $vuetify.lang.t('$vuetify.home.selectAServer') }}
        </v-tab>
        <v-tab class="submenu-link" to="/visit">
          {{ $vuetify.lang.t('$vuetify.home.visit') }}
        </v-tab>
        <v-tab class="submenu-link" to="/status">
          {{ $vuetify.lang.t('$vuetify.home.networkStatus') }}
        </v-tab>
      </v-tabs>
    </template>

  </v-app-bar>

  <v-navigation-drawer
    v-if="showMenuXS"
    v-model="showMenuXS" 
    app right
    color="grey darken-4"
  >
    <v-list>
      <v-list-item color="primary" small link class="" to="/">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.menu.Home') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="red" small link @click="joinRebellion()">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="primary" small link class="" to="/select-node">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.home.selectAServer') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="primary" small link class="" to="/login">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.main.login') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item color="primary" small link class="" to="/manifest">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.home.theCharter') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="primary" small link class="" to="/info-nodes">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.home.decentralization') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="primary" small link class="" to="/visit">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.home.visit') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item color="primary" small link class="" to="/status">
        <v-list-item-content>
          <v-list-item-title>
              {{ $vuetify.lang.t('$vuetify.home.networkStatus') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

    </v-list>
  </v-navigation-drawer>


</div>
</template>
<style>

  span.badge-logo > span.primary{
    margin-right:-40%;
    font-size:0.8em;
    /* opacity:0.7; */
    margin-top:30px;
    background-color: #1c4367!important;
    padding: 3px 10px 3px 5px;
  }


  span.badge-logo > span.primary i{
    font-size:11px !important;
  }
  small.io{
    font-size:0.6em;
    color: #bbbbbb;
  }

  .header .v-btn{
    text-transform: none;
    font-family: 'Raleway';
    font-weight: 500;
  }

  .header #top-bar-nav .v-btn{
    height: 100% !important;
    display: block;
  }

  .header .submenu-link{
    color:white !important;
    font-family: 'Raleway';
    font-weight: 500;
    font-size:14px;
    /* margin-right:20px; */
    text-transform: none;
  }
</style>
<script>

import router from '../../router/router'
import core from '../../plugins/core.js'
const config = require('../../config/' + process.env.NODE_ENV)

export default {
  name: 'home-header',
  props: [ 'userId', 'userName', 'isLoggedIn' ],
  data:() => ({
    nodeName: "",
    showMenuXS: false,
    isIntersecting: false,
  }),
  computed: {
    showLandingMenu() {
      if (!this.isIntersecting) {
        return false;
      }

      if (this.$route.meta.requiresAuth) {
        return false;
      }

      if (this.$store.state.auth.isLoggedIn) {
        return false;
      }

      return true;
    },
    supportedLanguages() {
      const keys = Object.keys(this.$vuetify.lang.locales);
      return keys.map(lang => ({
        code: this.$vuetify.lang.locales[lang].meta.code,
        name: this.$vuetify.lang.locales[lang].meta.name,
        flagUrl: require(`../../assets/flag/${lang}.png`)
      }));
    },
    currentLanguage() {
      const lang = this.$vuetify.lang.current;
      return {
        code: this.$vuetify.lang.locales[lang].meta.code,
        name: this.$vuetify.lang.locales[lang].meta.name,
        flagUrl: require(`../../assets/flag/${lang}.png`)
      }
    },
    isAdmin: {
      get() {
        return this.$store.state.auth.isAdmin;
      },
    },
    isMobile() {
      return config.mobileAppVersion != null
    },
    pathToLogoImg() { return process.env.VUE_APP_LOGO ? process.env.VUE_APP_LOGO : 'logo-earth.png' },
    mainLocalName() { return process.env.VUE_APP_NAME != 'Plaanet' ? 'Plaanet@' + process.env.VUE_APP_NAME : 'Plaanet' }
  },
  async mounted(){
      this.nodeName = this.$store.state.network.localName // localStorage.getItem("iname") //config.node_name
      //if(window.isDev) { 
        //console.log('Supported langages:', this.supportedLanguages); 
      //}
  },
  methods: {
    back: function(){
      router.back()
    },
    toggleDrawer() {
      const isOpen = this.$store.state.app.drawerOpen;
      this.$store.dispatch('app/setDrawerOpen', !isOpen);
    },
    changeLocale (lang) {
      if(lang!=null) this.local = lang
      this.$vuetify.lang.current = this.local
      localStorage.setItem("lang", this.local)

      if(window.isDev) {
        console.log("Locale has been changed:", this.local); 
      }
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    onIntersect (entries) {
      // More information about these options
      // is located here: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API
      this.isIntersecting = entries[0].isIntersecting
    },
    joinRebellion: function(){
      if(localStorage.getItem("signedCharte")){
        router.push('/select-node')
      }else{
        router.push('/manifest')
      }
    },
    refreshView : function(){
      this.$router.push('/reload-view')
    }
  },



}
</script>