<template>
<div>
  <v-row class="d-flex blue--text text--darken-4 px-5 pt-5" style="padding-bottom:100px;">
    <v-col cols="12" sm="6" md="3" class="">
      <router-link class="white--text" to="/">Accueil</router-link><br>
      <router-link class="white--text" to="/manifest">Le manifeste</router-link><br>
      <router-link class="white--text" to="/faq">FAQ</router-link><br>
      <router-link class="white--text" to="/last-version-mobile-app" v-if="isMobile">Mise à jour de l'application</router-link><br>
    </v-col>
    <v-col cols="12" sm="6" md="3" class="">
      <router-link class="white--text" to="/select-node">Choisir un serveur</router-link><br>
      <router-link class="white--text" to="/login">Se connecter</router-link><br>
      <router-link class="white--text" to="/select-node">S'inscrire</router-link><br>
    </v-col>
    <v-col cols="12" sm="6" md="3" class="">
      <router-link class="white--text" to="/info-nodes">Décentralisation</router-link><br>
      <!-- <router-link class="white--text" to="/">Comment ça marche ?</router-link><br> -->
      <router-link class="white--text" to="/status">Etat du réseau</router-link><br>
    </v-col>
    <v-col cols="12" sm="6" md="3" class="">
      <router-link class="white--text" to="/legals">Mentions légales</router-link><br>
      <router-link class="white--text" to="/cgu">Conditions d’utilisations</router-link><br>
    </v-col>
    <v-col cols="10" class="text-center">
    <img src="../../assets/plaanet-logo.png" style="height:150px;">
    </v-col>
  </v-row>

  <v-footer absolute elevation="0" color="#231f20" class="pa-1 app-footer">
      <v-col  class="text-left pa-1" cols="6" >
        <v-btn small text to="/select-node"
              :color="$store.state.network.localName ? 'secondary' : 'red'">
          <v-icon x-small>mdi-spider-web</v-icon> 
          {{ $store.state.network.localName ? $store.state.network.localName : '' }}
        </v-btn>
        <v-btn small text  to="/clear-local-storage"
                color="yellow darken-3">
          <v-icon x-small>mdi-briefcase-remove</v-icon> 
          {{ $vuetify.lang.t('$vuetify.home.clear') }}
        </v-btn>
      </v-col>
      <v-col  class="text-right pa-1" cols="6" >
        <v-btn small text color="secondary" to="/boot-node">
          {{ $vuetify.lang.t('$vuetify.home.bootNode') }}
          
        </v-btn>
      </v-col>
  </v-footer>
</div>
</template>

<script>

const config = require('../../config/' + process.env.NODE_ENV)

export default {
  name: 'footer',
  data:() => ({
  }),
  async mounted(){
  },
  computed: {
    isMobile(){
      return config.mobileAppVersion != null
    },
  }
}
</script>