<template>

<div class="">
  <v-col class="pa-0">
    <div>
        <v-list-item class="pa-0">
          <router-link :to="'/page/'+invite.uid">
            <v-list-item-avatar class="pa-0 avatar-notif">
                <v-img :src="avatarUrl(invite.uid)"></v-img>
            </v-list-item-avatar>
          </router-link>
            
          <v-list-item-content>
            <router-link :to="'/page/'+invite.uid" class="white--text">
              <v-list-item-title>
                  {{ invite.name }}<br>
                  <small>
                    <v-icon small>mdi-{{ icons[invite.role] }}</v-icon> 
                    vous invite à devenir 
                    <b>{{ $vuetify.lang.t('$vuetify.page.role_'+invite.role) }}</b> 
                    de la page
                  </small>
              </v-list-item-title>
            </router-link>
          </v-list-item-content> 
        </v-list-item>
        <v-card-actions class="btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn small @click="cancelInvite()" text color="red">Refuser</v-btn>
          <v-btn small @click="acceptInvite()" color="blue">
            <v-icon small>mdi-check</v-icon> 
            Accepter l'invitation
          </v-btn>
        </v-card-actions>
  </div>
  </v-col>
</div>
</template>

<style>
  .avatar-notif{
    margin-right:7px!important;
    margin-left:7px!important;
    height:30px;
    min-width:30px!important;
    width:30px;
  }

  .notif-wrapper{
    border: 1px solid #344a55 !important;
  }
  .notif-wrapper .v-list-item:hover{
    background-color: #111517 !important;
  }

  .notif-wrapper .v-list-item__title{
    line-height:1.4;
  }
  
</style>

<script>
import core from '../../plugins/core.js'
import axios from 'axios'

export default {
  name: 'invite-role',
  props: ['invite'],
  components: { },
  data: () => ({
    icons : { 'admin' : 'crown',  
              'moderator': 'account-star', 
              'editor': 'account-edit-outline'}
  }),
  
  mounted: async function(){

  },
  methods: {
    
    async acceptInvite(){ //action is invite or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: 'add',
                                  action: 'role',
                                  role: this.invite.role,
                                  page: { uid: this.$store.state.auth.profile.uid, 
                                          name: this.$store.state.auth.profile.name },
                                  onPageUid: this.invite.uid,
                                 })
      if(res.data.error == false){
        this.$store.dispatch('notifications/fetchInviteRoles')
      }
      console.log("/page/manage-role", res.data)
    },
    async cancelInvite(){ //action is invite or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: 'cancel',
                                  action: 'invite',
                                  role: this.invite.role,
                                  page: { uid: this.$store.state.auth.profile.uid, 
                                          name: this.$store.state.auth.profile.name },
                                  onPageUid: this.invite.uid,
                                 })
      if(res.data.error == false){
        this.$store.dispatch('notifications/fetchInviteRoles')
      }
      console.log("/page/manage-role", res.data)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }
  },
  computed: {
    
  },
  
  
};
</script>
