<template>

<div class="notif-wrapper">

  <v-col class="pa-0" v-if="notification.verb == 'COMMENT'">
    <NotifComment :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'LIKES' || notification.verb == 'DISLIKES'">
    <NotifLikePost :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'VIEWERS'">
    <NotifViewers :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'EMOJI'">
    <NotifEmoji :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'FAVORITES'">
    <NotifFavorites :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'NEW_PRIVATE_MSG'">
    <NotifNewMsg :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'NEW_ROLE_ACCEPTED'">
    <NotifNewRoleAccepted :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'NEW_NODE_ENTER_NETWORK'">
    <NotifNewNodeEnterNetwork :notification="notification"/>
  </v-col>


</div>
</template>

<style>
  
</style>

<script>
import NotifComment from '@/components/notifications/NotifComment.vue'
import NotifLikePost from '@/components/notifications/NotifLikePost.vue'
import NotifViewers from '@/components/notifications/NotifViewers.vue'
import NotifEmoji from '@/components/notifications/NotifEmoji.vue'
import NotifFavorites from '@/components/notifications/NotifFavorites.vue'
import NotifNewMsg from '@/components/notifications/NotifNewMsg.vue'
import NotifNewRoleAccepted from '@/components/notifications/NotifNewRoleAccepted.vue'
import NotifNewNodeEnterNetwork from '@/components/notifications/NotifNewNodeEnterNetwork.vue'

export default {
  name: 'menu-left',
  props: ['notification'],
  components: { NotifComment, NotifLikePost, NotifViewers, NotifEmoji, NotifFavorites, NotifNewMsg, NotifNewRoleAccepted, NotifNewNodeEnterNetwork },
  data: () => ({

  }),
  
  mounted: async function(){

  },
  methods: {
    
  },
  computed: {
    
  },
  
  
};
</script>
