<template>
<div class="">
  <v-col class="pa-0">
    <div>
        <v-list-item three-line class="pa-0">
          <router-link :to="'/page/'+pending.uid">
            <v-list-item-avatar class="pa-0 avatar-notif">
                <v-img :src="avatarUrl(pending.uid)"></v-img>
            </v-list-item-avatar>
          </router-link>
            
          <v-list-item-content>
            <router-link :to="'/page/'+pending.uid" class="white--text">
              <v-list-item-title v-if="pending.onPageUid != $store.state.auth.profile.uid">
                  {{ pending.name }}<br>
                  <small>
                    <v-icon small>mdi-{{ icons[pending.role] }}</v-icon> 
                    souhaite devenir
                    {{ $vuetify.lang.t('$vuetify.page.role_'+pending.role) }} 
                    de la page 
                  </small><br>
              </v-list-item-title>
              <v-list-item-title v-else>
                    <v-icon small>mdi-handshake</v-icon> 
                  {{ pending.name }} 
                  <small>
                     souhaite devenir ami avec vous
                  </small><br>
              </v-list-item-title>
            </router-link>
            <v-list-item-subtitle v-if="pending.onPageUid != $store.state.auth.profile.uid">
                <img height="18" width="18" style="margin-bottom:-3px;" :src="avatarUrl(pending.onPageUid)"> 
                {{ pending.onPageName }}
            </v-list-item-subtitle>
          </v-list-item-content> 
        </v-list-item>
        <v-card-actions class="btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn small @click="cancelPending()" text color="red">Refuser</v-btn>
          <v-btn small @click="acceptPending()" color="blue">
            <v-icon small>mdi-check</v-icon> 
            Accepter la demande
          </v-btn>
        </v-card-actions>
  </div>
  </v-col>
</div>
</template>

<style>
  .avatar-notif{
    margin-right:7px!important;
    margin-left:7px!important;
    height:30px;
    min-width:30px!important;
    width:30px;
  }

  .notif-wrapper{
    border: 1px solid #344a55 !important;
  }
  .notif-wrapper .v-list-item:hover{
    background-color: #111517 !important;
  }

  .notif-wrapper .v-list-item__title{
    line-height:1.4;
  }
  
</style>

<script>
import core from '../../plugins/core.js'
import axios from 'axios'

export default {
  name: 'pending-role',
  props: ['pending'],
  components: { },
  data: () => ({
    icons : { 'admin' : 'crown',  
              'moderator': 'account-star', 
              'editor': 'account-edit-outline'}
  }),
  
  mounted: async function(){

  },
  methods: {
    
    async acceptPending(){ //action is pending or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: 'add',
                                  action: 'role',
                                  role: this.pending.role,
                                  page: { uid: this.pending.uid, 
                                          name: this.pending.name },
                                  onPageUid: this.pending.onPageUid,
                                 })
      if(res.data.error == false){
        this.$store.dispatch('notifications/fetchPendingRoles')
        this.$store.dispatch('auth/fetchUserContext')
      }
      console.log("/page/manage-role", res.data)
    },
    async cancelPending(){ //action is pending or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: 'cancel',
                                  action: 'pending',
                                  role: this.pending.role,
                                  page: { uid: this.$store.state.auth.profile.uid, 
                                          name: this.$store.state.auth.profile.name },
                                  onPageUid: this.pending.uid,
                                 })
      if(res.data.error == false){
        this.$store.dispatch('notifications/fetchPendingRoles')
      }
      console.log("/page/manage-role", res.data)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }
  },
  computed: {
    
  },
  
  
};
</script>
