<template>
  <v-card max-width="550"
    class="mx-auto main-card mb-5"
    style="border: 2px solid rgb(82, 184, 207)"
  >
    <v-col cols="12">
      <v-card-title>
        <v-icon class="mr-1">mdi-login</v-icon> 
        {{ $vuetify.lang.t('$vuetify.login.connectToAccount') }}
      </v-card-title> 
      <hr>
      <br>
      <v-form 
        @submit.prevent="login"
      >
        <v-text-field 
          v-model="name"
          :label="$vuetify.lang.t('$vuetify.home.pseudoFormLogin')"
          outlined filled
          id="name" 
        />
        <v-text-field v-if="rules.required != null"
          v-model="password"
          @click:append="showpwd = !showpwd"
          @change="login"
          :label="$vuetify.lang.t('$vuetify.main.password')"
          :append-icon="showpwd ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showpwd ? 'text' : 'password'"
          outlined filled
          id="password" 
          :hint="$vuetify.lang.t('$vuetify.form.atLeast8Char')"
          :rules="[rules.required, rules.min]"
          counter
        />
        <br>
        <v-btn
          @click="login" style="min-width:100%"
          :loading="loginState.loading"
          class="white--text font-weight-bold mt-2"
          color="blue lighten-1" 
        >
          <v-icon class="mr-3">mdi-login</v-icon>
          {{ $vuetify.lang.t('$vuetify.main.login') }}
        </v-btn>

        <!-- Register Card: Error state -->
        <v-card class="mt-3"
          v-if="loginState.error && loginState.loading !== true"
          color="error"
        >
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-bug</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title style="color:white;">
                {{ $i18nError($vuetify, loginState.error) }}
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn
                @click="$store.commit('auth/fetchLoginError', null)"
                icon color="white"
                title="Fermer"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-card>
      </v-form>
    </v-col>
      
  </v-card>
</template>


<script>
import { mapState } from 'vuex'

import router from '../router/router'

export default {
  name: 'login',
  components: { },
  computed: {
    ...mapState({
      loginState: state => state.auth.login,
    })
  },
  data: () => ({
    email: '',
    name: '',
    password: '',
    resColor: '',
    resMsg: '',
    showpwd: false,
    isLoading: false,
    rules: [],
    inxNodeLog: 0,
  }),
  async mounted(){
    this.rules = {
      required: value => !!value || this.$vuetify.lang.t('$vuetify.form.required'),
      min: v => v.length >= 8 || 'Min 8 ' + this.$vuetify.lang.t('$vuetify.form.characters'),
    }

  },
  methods: {
    async login(){
      try{
        await this.$store.dispatch('auth/loginUser', {
          name: this.name,
          password: this.password
        }, { 
          root: true
        });

        // TODO: Move this behavior into auth/loginUser action
        if(this.$store.state.auth.isLoggedIn) {
          router.push('/stream')
        }else{ 
          //si la connexion est un échec : fait une tentative de login sur chaque serveur connu
          if(this.inxNodeLog < this.$store.state.network.nodes.length - 1){
            this.inxNodeLog++
            console.log("try login again with",  this.$store.state.network.nodes[this.inxNodeLog].name)
            await this.$store.dispatch('network/selectNode', this.$store.state.network.nodes[this.inxNodeLog])
            this.login()
          }else{
            this.inxNodeLog = 0
            await this.$store.dispatch('network/selectNode', this.$store.state.network.nodes[this.inxNodeLog])
          }
        }
      } catch(err) {
        if(window.isDev) { 
          console.log('Cannot login user. Error:', err)
        }
      }

    }
  }
}
</script>
