<template>
    <v-list double-line class="metaLinkItem" v-if="show">
      <v-list-item color='red' style="padding: 0 10px 0 10px;"
        v-for="linkMetas in links"
        :key="linkMetas.title"
      >
        <a :href="linkMetas.url" :title="linkMetas.title" rel="noopener">
          <v-img :src="linkMetas.image" max-height="80px" max-width="80px" />
        </a>
        
        <v-list-item-content style="padding: 0 10px 0 10px;">
          <a :href="linkMetas.url" rel="noopener">
            <v-list-item-title style="font-size:0.9em;" v-text="linkMetas.title" :title="linkMetas.title" />
            <v-list-item-subtitle style="font-size:0.7em;"  v-text="linkMetas.description" />
            <v-list-item-subtitle style="font-size:0.6em;color:white;" v-text="linkMetas.site_name" />
          </a>
        </v-list-item-content>

        <v-list-item-icon style="margin:5px 0 0 5px;" v-if="clearable">
          <v-btn icon small @click="removeMetaLink(linkMetas.url)">
            <v-icon small>mdi-close</v-icon>
            </v-btn>
        </v-list-item-icon>
      </v-list-item>
    </v-list>
</template>

<style>
  .metaLinkItem a{
    text-decoration: none;
  }
</style>

<script>
export default { 
  name: 'metaLinks',
  props: ['links', 'show', 'clearable'],
  methods: {
    nl2br: function(str, is_xhtml){
      var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
      return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    },
    removeMetaLink(url) {
      this.$store.dispatch('postComposer/removeLinkPreview', url, {root:true});
    },
  },
};
</script>
