<template>
<div :class="((origin=='singlePost') ? ' singlePost' : '') + ' postCard'">
    <v-card style="" elevation="4"
        :class="'post-card post'+post._id + (msgNotRead ? ' notread' : '')" 
        :id="'post'+post._id"
        v-if="postObj != null">
        <v-list-item class="pr-1 pl-2"
                     style="">
            
            <!-- Avatar author post -->
            <router-link class="white--text"  v-if="hasTarget" to="">
                <v-list-item-avatar class="pa-0 avatar-post" @click="$root.$emit('openModalUserPage', post.signed.uid)">
                    <v-img :src="avatarUrl(post.target.uid)" height="40" width="40"/>
                </v-list-item-avatar>
            </router-link>
            <router-link class="white--text" v-else to="">
                <v-list-item-avatar class="pa-0 avatar-post"  @click="$root.$emit('openModalUserPage', post.signed.uid)">
                    <v-img :src="avatarUrl(post.signed.uid)" height="40" width="40"/> 
                </v-list-item-avatar>
            </router-link>

            <!-- main header -->
            <!-- <router-link :to="'/post/' + post.uid" style=""> -->
                <v-list-item-content style="padding: 12px 0 0 0;">

                    <v-list-item-title style="line-height:1.3em;">
                        <router-link class="white--text" v-if="hasTarget" to="">
                            <span @click="$root.$emit('openModalUserPage', post.target.uid)">{{ post.target.name }}</span>
                        </router-link>
                        <router-link class="white--text" v-else to="">
                            <span @click="$root.$emit('openModalUserPage', post.signed.uid)">{{ post.signed.name }}</span>
                        </router-link>

                        <template v-if="post.scopeType == 'private'">
                            <small v-if="post.receivers.length > 2"> 
                                et 
                                <span class="pr-3" >
                                    {{ post.receivers.length-1 }} personnes
                                </span>
                                
                            </small> <br>
                            <template v-for="(receiver, i) in post.receivers">
                                <v-chip small style="font-size:0.8em;height:26px;" 
                                        v-show="receiver.uid != post.signed.uid" 
                                        color="dark" class="ma-1 ml-0 mt-2 pl-0 pr-2" 
                                        v-if="post.receivers.length == 2" :key="i" 
                                        :title="'on node :'+iName(receiver.uid)" :to="'/page/'+receiver.uid">
                                        <v-img :src="avatarUrl(receiver.uid)" width="20" height="20" class="ma-1"/>
                                    @{{ receiver.name }}
                                </v-chip> 
                            </template>
                        </template>
                        
                        <small @click="$router.push('/post/' + post.uid)" 
                                v-if="post.scopeType!='private' && !(hasTarget && post.target.uid != post.signed.uid)"
                                style="cursor:pointer;">
                            <small v-if="!post.postShared"> {{ $vuetify.lang.t('$vuetify.post.publishedAMessage') }}</small>
                            <small v-if="post.postShared"> {{ $vuetify.lang.t('$vuetify.post.sharedAMessage') }}</small>
                        </small>
                    </v-list-item-title>

                    <v-list-item-title style="line-height:1.3em;" @click="$root.$emit('openModalUserPage', post.signed.uid)" 
                                        v-if="hasTarget && post.target.uid != post.signed.uid">
                        <router-link class="white--text" to="">
                            
                                <v-img :src="avatarUrl(post.signed.uid)" 
                                    style="margin: 0 6px -4px 0; display:inline-block;" 
                                    height="18" width="18"/>
                                <small>{{ post.signed.name }}</small>
                                <small @click="$router.push('/post/' + post.uid)" 
                                        v-if="post.scopeType!='private'"
                                        style="cursor:pointer;">
                                    <small v-if="!post.postShared"> {{ $vuetify.lang.t('$vuetify.post.publishedAMessage') }}</small>
                                    <small v-if="post.postShared"> {{ $vuetify.lang.t('$vuetify.post.sharedAMessage') }}</small>
                                </small>
                                
                        </router-link>
                       
                    </v-list-item-title>

                    <v-list-item-subtitle v-if="post.scopeType!='private'">
                        <small v-if="post.fromCity != '' && post.fromCity != null">
                            <v-icon small>mdi-map-marker</v-icon> 
                            {{ $vuetify.lang.t('$vuetify.post.from') }} 
                            {{ post.fromCity }} 
                        </small>
                        <small>
                            <v-icon x-small class="ml-2" color="#5D586C">mdi-clock</v-icon>
                            <time-ago   v-if="diffInDays(post.created) < 1" 
                                        :datetime="post.created" :refresh="60" 
                                        long :locale="$vuetify.lang.current">
                            </time-ago>
                            <template v-else>il y a {{ diffInDays(post.created) }} jours</template>
                        </small>
                    </v-list-item-subtitle>
                </v-list-item-content>
            <!-- </router-link> -->
            
            <!-- btn share -->
            <v-list-item-action
                v-if="!isAuthorPost && post.postShared == null && post.sharable && post.scopeType == 'localised' && origin=='stream'" 
                style="position:absolute; top:-6px; right:7px;"
            >
                <v-btn
                    @click="showShareForm = true"
                    fab small
                    class="popup-action-post-top" 
                    color="teal"
                    style=""
                    title="Relayer cette publication"
                >
                    <v-icon small>
                        mdi-transition-masked
                    </v-icon>
                </v-btn>
            </v-list-item-action>
            
            <!-- Invite private -->
            <v-list-item-action
                v-if="post.sharable && post.scopeType == 'private'" 
                style=""
            >
                <v-btn
                    @click="getMyContacts"
                    icon 
                    class="popup-action-post-top" 
                    :title="$vuetify.lang.t('$vuetify.private.AddRecipients')"
                >
                    <v-icon small>mdi-account-plus-outline</v-icon>
                </v-btn>
            </v-list-item-action>

            <!-- 3 dots -->
            <v-list-item-action class="ml-1"
                v-if="post.surveyShared == null && (isAuthorPost || canDelete || (post.scopeType == 'private' && !isAuthorPost))"
            >
                <v-menu
                    bottom left
                    dark
                    @click.stop
                >
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on" icon class="mr-3">
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>

                    <v-list dense>
                        <v-list-item 
                            v-if="isAuthorPost"
                            @click="showEditPost = true"
                            color="blue"
                            dense
                        >
                            <v-list-item-icon>
                                <v-icon>mdi-pencil</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>
                                {{ $vuetify.lang.t('$vuetify.post.edit') }}
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            v-if="isAuthorPost || canDelete"
                            @click="showDeletePost = true"
                            dense
                        >
                            <v-list-item-icon>
                                <v-icon color='red'>mdi-delete</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="red--text">
                                {{ $vuetify.lang.t('$vuetify.post.delete') }}
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            v-if="post.scopeType=='private' && !isAuthorPost"
                            @click="showLeavePost = true"
                            dense
                        >
                            <v-list-item-icon>
                                <v-icon color='red'>mdi-cancel</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="red--text">
                                {{ $vuetify.lang.t('$vuetify.post.leaveConversation') }}
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-list-item-action>
        </v-list-item>

        <v-col class="pt-0" v-if="post.receivers.length > 2">
            <template v-for="(receiver, i) in post.receivers">
                <v-chip small style="font-size:0.8em;height:26px;" 
                        v-show="receiver.uid != post.signed.uid" 
                        color="dark" class="ma-1 pl-0 pr-2" 
                        v-if="i < 5 || showAllReceiver == true" :key="i" 
                        :title="'on node :'+iName(receiver.uid)" :to="'/page/'+receiver.uid">
                        <v-img :src="avatarUrl(receiver.uid)" width="20" height="20" class="ma-1"/>
                    @{{ receiver.name }}
                </v-chip> 
            </template>

            <v-chip small style="font-size:0.8em;height:26px;" 
                    color="dark" class="ma-1 pl-2 pr-2" 
                    v-if="post.receivers.length > 5"
                    title="qsdqsd" @click="showAllReceiver=!showAllReceiver">
                    + tous
            </v-chip> 
        </v-col>
     

        <v-col class="pt-2 pb-0" v-if="post.scopeType=='private'">
            <h4 v-if="post.title != null && post.title.length > 0"
                style="padding: 6px 5px;display:inline;">
                    
                <v-icon x-small>mdi-chevron-right</v-icon> {{ post.title }}
            </h4>
            <small v-if="post.scopeType=='private'">
                    <v-icon x-small class="ml-2" color="#5D586C">mdi-clock</v-icon> 
                    <time-ago :datetime="post.created" :refresh="60" 
                                long :locale="$vuetify.lang.current"></time-ago>
            </small>
            <!-- <br v-if="post.title != null && post.title != ''"> -->
            <small v-if="origin=='private'" class="ml-2" 
                    style="display:flex;padding-top:5px;color:rgb(179, 179, 179)">
                {{ sub(post.text, 150) + post.text.length > 150 ? "..." : "" }}
            </small>
        </v-col>


        <v-col v-show="showShareForm==true" class="share-box">
            <v-card outlined color="cyan darken-4">
                <v-col class="pt-0">
                    <v-row>
                        <v-col class="pb-0 pt-5">
                            <v-icon small>mdi-transition-masked</v-icon> 
                            Relayer cette publication
                            <v-col cols="12" class="pt-0 pb-1" style="line-height:0.8em;">
                                <small><small>
                                    Partagez cette publication 
                                    autour de vous, et participez à la diffusion de son message
                                </small></small>
                            </v-col>
                            <v-textarea filled dense auto-grow v-model="shareText" hide-details spellcheck="false"
                                        class="mt-1" placeholder="Quelque chose à ajouter ?"
                                        style="font-size:14px;font-weight:200;" 
                                        :height="shareText==''?50:''"></v-textarea>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" class="pa-0 pt-2 pb-3">
                            <v-row>
                            <v-col cols="4" class="pa-0">
                            </v-col>
                            <v-col cols="8" class="pa-0 mt-2 text-center">
                                <small><small>Sélectionner la zone sur la carte</small></small>
                            </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="4" class="pt-0">
                            <v-btn block small color="grey" @click="showShareForm=false">
                                <v-icon small>mdi-cancel</v-icon> 
                                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.main.cancel') }} </span>
                            </v-btn>
                        </v-col>
                        <v-col cols="8" class="pt-0">
                            <v-btn block small color="cyan darken-2" @click="initSharePost">
                                <v-icon small>mdi-map-marker-radius-outline</v-icon> Relayer
                            </v-btn>

                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col v-show="showFollow==true">
            <v-card outlined>
                <v-col>
                    <v-row>
                        <v-col>
                            <small>
                                {{ $vuetify.lang.t('$vuetify.post.dyw_follow') }} 
                                <router-link :to="'/page/'+postObj.signed.uid">
                                    {{ postObj.signed.name }}
                                </router-link> ?<br>
                                <small>{{ $vuetify.lang.t('$vuetify.post.dyw_follow_sub') }}</small>
                            </small>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey darken-3" @click="showFollow=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }} 
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="purple lighten-2" @click="addToFollows()">
                                <v-icon small>mdi-link-variant</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesFollow') }}
                            </v-btn>

                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col v-show="showLeavePost==true" v-if="post.scopeType=='private'">
            <v-card outlined>
                <v-col>
                    <v-row>
                        <v-col>Do you realy want to leave this conversation ?</v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey darken-3" @click="showLeavePost=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="leavePost()">
                                <v-icon small>mdi-delete</v-icon> Yes, quit
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col v-show="showDeletePost==true" v-if="isAuthorPost || canDelete">
            <v-card outlined>
                <v-col>
                    <v-row>
                        <v-col>{{ $vuetify.lang.t('$vuetify.post.dyw_delete_post') }} ?</v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey darken-3" @click="showDeletePost=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="deletePost()">
                                <v-icon small>mdi-delete</v-icon> {{ $vuetify.lang.t('$vuetify.main.delete') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col v-show="showEditPost==true" v-if="isAuthorPost">
            <v-textarea filled dense v-model="postObj.text" spellcheck="false"
                        style="font-size:14px;font-weight:200"></v-textarea>
                <v-row>
                    <v-col cols="6">
                        <v-btn block small color="grey darken-3" @click="showEditPost=false">
                            <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                        </v-btn>
                    </v-col>
                    <v-col cols="6">
                        <v-btn block small color="success" @click="saveEditPost()">
                        <v-icon small>mdi-content-save-move-outline</v-icon>  {{ $vuetify.lang.t('$vuetify.main.save') }}
                    </v-btn>
                    </v-col>
                </v-row>
        </v-col>

        <v-col v-show="showCutValidation==true" v-if="!isAuthorPost">
            <v-card>
                <v-col>
                    <v-row>
                        <v-col>
                            <small>
                                {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist1') }}
                                <router-link :to="'/page/'+postObj.signed.uid">
                                    {{ postObj.signed.name }}
                                </router-link> 
                                {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist2') }} ?<br>
                                <small>
                                {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist_sub') }}.</small>
                            </small>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey darken-3" @click="showCutValidation=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="addToBlacklist()">
                                <v-icon small>mdi-scissors-cutting</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesBlackL') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <!-- POST TEXT -->
        <v-card-text class="white--text pt-3 pb-0 post-text-stream maptxt" v-show="showEditPost==false && completeText.length > 0"
                    v-html="completeText">
        </v-card-text>
        <v-card-text class="white--text pt-3 pb-0 post-text-stream subtxt" v-show="showEditPost==false && completeText.length > 0"
                    v-html="completeText">
        </v-card-text>
        <v-card-text class="white--text pt-3 pb-0 post-text-stream alltxt" v-show="showEditPost==false"
                    v-html="completeText">
        </v-card-text>
        <!-- POST TEXT -->
        
        <v-img v-if="post.imageName && !showEditPost"
            class="white--text align-end ownImage"
            style="margin-bottom:8px;margin-top:24px;"
            :src="postImageUrl(post.uid)+post.imageName"
            >
        </v-img>

        <div v-if="postObj.embedMetaLinks && postObj.embedMetaLinks.length > 0">
            <div
                v-for="item in postObj.embedMetaLinks"
                :key="item.url"
                style="display:flex;flex-flow:column nowrap;width:100%;justify-content:center;align-items:center;background-color:rgba(0,0,0,0.2);margin:8px 0;"
                max-height="320px"
            >
                <!-- In case we have an embed, and it has been requested to load -->
                <div
                    v-if="item.site_name === 'Twitter' || shownEmbedUrls.includes(item.url) && item.embed"
                    v-html="item.embed.html.replace(item.embed.width, '100%').replace(item.embed.height, '320px')"
                    max-height="320px"
                    style="width:100%;display:flex;justify-content:center;align-items:center;background-color:rgba(0,0,0,0.2);"
                />
                <!-- In case we have an image + an embed waiting to be loaded -->
                <v-img
                    v-if="!shownEmbedUrls.includes(item.url) && item.embed && item.image"
                    :src="item.image"
                    height="320px"
                    max-height="320px"
                    width="100%"
                    style="background-size:cover;width:100%;height:320px;background-position:center;"
                    cover
                />
                <!-- In case we don't have an image, but an embed waiting to be loaded -->
                <v-img
                    v-if="item.site_name !== 'Twitter'  && !shownEmbedUrls.includes(item.url) && item.embed && !item.image"
                    src="https://files.mtstatic.com/site_11811/15538/5?Expires=1605453863&Signature=DSkBee-zLIutPWWMumhSzCyG1U1UOlH7TeISfR5aYvwniIoHycGO1V1l0bUEQnfsqxf63ogh2F3Pa-ThRqnFqrfI7qTryWHCdYRFGGZP9nGqUf5HxS1lLxWXVJrcDBuNbtM8VPFQi0ojHJrPwS7NUvONCB6eFfw72QpwZt~jguE_&Key-Pair-Id=APKAJ5Y6AV4GI7A555NA"
                    height="320px"
                    max-height="320px"
                    width="100%"
                    style="background-size:contain;width:100%;height:320px;background-position:center;"
                    cover
                />
                <!-- In case we don't have an embed, but we have an image -->
                <a
                    v-if="item.embed == null && item.image"
                    :href="item.url"
                    :title="item.title"
                    target="_blank"
                    style="display:flex;flex-flow:column nowrap;width:100%;justify-content:center;align-items:center;"
                >
                    <v-img
                        :src="item.image"
                        height="280px"
                        max-height="280px"
                        width="100%"
                        cover
                    />
                </a>
                <!-- If the embed hasn't yet been loaded, display the load button -->
                <v-btn 
                    v-if="item.site_name !== 'Twitter' && !shownEmbedUrls.includes(item.url) && item.embed"
                    @click="loadAndShowEmbed(item.url)"
                    height="64px" width="64px" fab
                    style="position:absolute;">
                    <v-icon large>mdi-play</v-icon> 
                </v-btn>
                <!-- Display metas in text -->
                <a  :href="item.url"
                    :title="item.title"
                    target="_blank"
                    style="width:100%;">
                    <v-card-title class="main-link-title" >
                        <v-list-item-title class="main-link-site-name">
                            {{ item.site_name }}
                        </v-list-item-title>
                        {{ item.title }}
                    </v-card-title>
                </a>
            </div>
        </div>
        
        <v-col class="pl-0 pr-0 pt-2 pb-3 post-shared" v-if="post.postShared != null">
            <Post :post="post.postShared" origin="stream" :shared="true"></Post>
        </v-col>

        <v-col class="pl-0 pr-0 pt-2 pb-3 post-shared" v-if="postObj.surveyShared != null">
            <Survey :survey="postObj.surveyShared" :minimize="true" :loadingSurvey="loadingSurvey && loadingUid == postObj.surveyShared.uid"></Survey>
        </v-col>

        <div class="mt-3" v-if="post.text != '' && origin=='stream'"></div>

        
        <v-col class="white--text pt-0 mt-0" 
                v-show="showEditPost==false && postObj.hashtags!=null && postObj.hashtags.length > 0"
                style="padding-top:0px">
            <template v-for="(tag, i) in postObj.hashtags">
                <v-chip small text-color="blue lighten-2" color="blue-grey darken-3" @click="openTag(tag)"
                        :key="i" class="mr-2 mt-2">
                    {{ tag }}
                </v-chip>
            </template>
        </v-col>

        <a v-if="postObj.pdf != null" 
           :href="postObj.pdf.path" 
           target="_blank">
            <v-card-title class="main-link-title" v-if="postObj.pdf.name != '**deleted**'">
                <v-icon small color="primary" class="mr-1">mdi-file</v-icon> 
                {{ postObj.pdf.name }}
            </v-card-title>
            <v-card-title class="main-link-title red--text" v-else>
                <v-icon small color="red" class="mr-1">mdi-file</v-icon> 
                {{ $vuetify.lang.t('$vuetify.post.documentDeleted') }}
            </v-card-title>
        </a>

        <v-col flex class="ma-0" v-if="postObj.embedMetaLinks && postObj.embedMetaLinks.filter(linkMetas => linkMetas.embed == null).filter(linkMetas => linkMetas.image == null).length > 1">
            <MetaLinks 
                :links="postObj.embedMetaLinks.filter(linkMetas => linkMetas.embed == null).filter(linkMetas => linkMetas.image == null)" 
                :clearable="false"
                :show="true"
            />
        </v-col>        

        <v-card-actions class="popup-action-post">
            
            <v-btn text style="min-width: unset;" title="garder en favoris"
                    @click="actionPost('favorites', post.uid)"
                    :color="colorActions('favorites', postObj.favorites)">
                {{ postObj.favorites.length }} <v-icon small>mdi-star</v-icon>
            </v-btn>

            <v-btn text small style="min-width: unset;" 
                    title="bloquer l'auteur de cette publication"
                    v-if="!isAuthorPost" @click="showCutValidation=true">
                <v-icon small color="grey">mdi-scissors-cutting</v-icon>
            </v-btn>
            <v-btn color="grey darken-3" style="min-width: unset;text-transform:none; min-width:100px;" 
                    title="Afficher l'intégralité du message, et suivre en direct tous les commentaires" 
                    @click="openPost(post.uid)"
                    v-if="origin!='singlePost'">
                <template v-if="postObj.viewers && postObj.viewers.length>0">
                    {{ postObj.viewers.length }} 
                </template> 
                <v-icon small class="ml-1 mr-1">mdi-flash</v-icon>
            </v-btn>




            <small class="grey--text ml-3" :title="'cette publication a été affichée ' + postObj.views + ' fois dans le fil d\'actualités'">
                <v-icon small color="grey" class="">mdi-eye</v-icon> 
                {{ postObj.views }}
            </small>
            <v-spacer></v-spacer>

            <v-btn  text @click="actionPost('likes', post.uid)"
                    :color="colorActions('likes', postObj.likes)">
                    {{ postObj.likes.length }} <v-icon small>mdi-thumb-up-outline</v-icon>
            </v-btn>
            
            <v-btn text @click="actionPost('dislikes', post.uid)"
                    :color="colorActions('dislikes', postObj.dislikes)">
                    {{ postObj.dislikes.length }} <v-icon small>mdi-thumb-down-outline</v-icon>
            </v-btn>

            <v-btn text color="blue" v-if="post.scopeType != 'private'" @click="showAllComments=true">
                {{ postObj.comments.length }} <v-icon class="ml-1" small>mdi-comment</v-icon>
            </v-btn>
            <v-btn text color="blue" v-if="post.scopeType == 'private'" @click="openPost(post.uid)">
                {{ postObj.comments.length }} <v-icon class="ml-1" small>mdi-comment</v-icon>
            </v-btn>
        </v-card-actions>

        <v-col class="btn-read-onmap">
            <v-btn  v-if="origin=='stream'" :id="'post' + post._id" :class="'btn-post' + post._id"
                    block small color="primary"   @click="openPost(post.uid)"
                    >
                <v-icon small>mdi-eye</v-icon> Lire le message
            </v-btn>
        </v-col>


        <v-row class="row-comment" v-if="origin!='private' && shared!=true">
            
            <v-list three-line style="width: 100%;">
                
                <v-btn text x-small color="grey" class="pa-1"
                    style="margin-bottom:5px; text-transform:none; justify-content:left;"
                    v-if="postObj.comments[0] != null" :loading="commentsLoading"
                    @click="showAllCommentConv()">
                        <v-icon x-small v-show="showAllComments==false">mdi-chevron-down</v-icon> 
                        <v-icon x-small v-show="showAllComments==true">mdi-chevron-up</v-icon> 
                        {{ postObj.comments.length }} 
                        {{ $vuetify.lang.t('$vuetify.stream.comment') }}{{ postObj.comments.length > 1 ? 's' : '' }}...
                </v-btn>
                
                <template v-for="(comment, i) in postObj.comments">
                    <Comment :comment="comment" origin="post"
                            :parentPostUid="postObj.uid" 
                            :parentPostSignedUid="postObj.signed.uid" 
                            :isModerator="isModerator" 
                            :isAdmin="isAdmin" 
                            :postOrigin="origin"
                            :key="i" :index="i" :showAllComments="showAllComments"
                            :nbTotalComments="postObj.comments.length"></Comment>
                </template>

                <v-skeleton-loader ref="skeleton"
                    :boilerplate="false"
                    type="list-item-avatar-three-line"
                    :tile="false"
                    class="mx-auto"
                    v-show="newCommentLoading"
                ></v-skeleton-loader>
            </v-list>


            <v-textarea :class="'input-comment ' + (commentOpen?'focus':'')" @click="commentOpen=true"
                    :counter="commentStr.length > 950" auto-grow outlined 
                    @change="cleanClearComment"
                    @focus="$root.$emit('scrollBottomDrawerPost', post.uid)"
                    clearable :hide-details="commentStr.length < 950"
                    :rules="rulesTxtareaEditComment" class="mb-3"
                    :label="$vuetify.lang.t('$vuetify.post.yourComment') + '...'" 
                    v-model="commentStr" :id="post.uid">
            </v-textarea>

            <v-btn icon style="margin:5px 8px 0 5px;" @click="sendComment" :disabled="commentStr==''">
                <v-icon large>mdi-send-circle</v-icon>
            </v-btn>
            
        </v-row>
    </v-card>
</div>
</template>

<style>
.twitter-tweet {
    padding: 16px 16px 8px 16px;
}
.red--text {
    color: red !important;
}
</style>

<script>
import axios from 'axios'
import TimeAgo from 'vue2-timeago'

import core from '../plugins/core.js'

import Comment from '@/components/Comment.vue'
import Survey from '@/components/room/Survey.vue'
import MetaLinks from '@/components/MetaLinks.vue'

export default {
  name: 'Post',
  components: { Comment, MetaLinks, TimeAgo, Survey },
  props: ['post', 'origin', 'shared', 'notread'],
  data:() => ({
      postObj : null,
      actionsParams : [],
      commentStr: '',
      commentOpen: false,
      showInputComment: false,
      comments: [],
      newCommentLoading: false,
      rulesTxtareaEditComment: [v => (v != null && v.length <= 1000) || 'Max 1000 caractères'],
      showEmojis: false,
      showAllComments: false,
      commentsLoaded: false,
      commentsLoading: false,
      showDeletePost: false,
      showEditPost: false,
      showFollow: false,
      showCutValidation: false,
      showFollowValidation: false,
      showLeavePost: false,
      showAllReceiver:false,
      showShareForm: false,
      showAddReceivers: false,
      shownEmbedUrls: [],
      shareText: "",
      myContacts: [],
      addReceivers: [],
      embedPlayerUrl: null,
      msgNotRead: false,
      loadingSurvey: false,
      loadingUid: '',
      emojis: [
          { icon: 'thumb-up' },
          { icon: 'emoticon-lol' },
          { icon: 'emoticon-kiss' },
          { icon: 'emoticon-cool' },
          { icon: 'emoticon-tongue' },
          { icon: 'emoticon-excited' },
          { icon: 'emoticon-cry' },
          { icon: 'emoticon-devil' },
          { icon: 'thumb-down' },
      ],
  }),
  mounted: function(){
    this.actionsParams["likes"] = { color: "green" }
    this.actionsParams["dislikes"] = { color: "red" }
    this.actionsParams["favorites"] = { color: "yellow" }
    this.actionsParams["follows"] = { color: "purple lighten-2" }
    this.msgNotRead = this.notread
    this.postObj = this.post

    this.$root.$on('updatePostObj', (uid) => { 
        if(this.post.uid == uid){
            this.postObj = this.post
        }
    })
    this.$root.$on('refreshCurrentSurvey', async (surveyUid) => {
      console.log("#Post refreshCurrentSurvey", this.postObj.surveyShared, surveyUid)
      if(this.postObj.surveyShared != null && this.postObj.surveyShared.uid == surveyUid){
        this.loadingUid = surveyUid
        this.loadingSurvey = true
        const res = await axios.get('/room/get-survey/' + this.postObj.surveyShared.uid)
        if (res.data.error == false) {
            console.log("#Post refreshCurrentSurvey", res.data.survey.supports)
            this.postObj.surveyShared = res.data.survey
        }
        setTimeout(()=>{ this.loadingSurvey = false; this.loadingUid = ''; }, 500)
      }
    })
    
    let tags = this.$el.getElementsByClassName("span-hashtag")
    //if(window.isDev) { console.log("it works ?", tags); }
    tags.forEach((el) =>{
        if(window.isDev) { console.log("el", el); }
        el.addEventListener("click", (elt)=>{
            let tag = elt.getAttribute("data-tag")
            if(window.isDev) { console.log("click on tag", tag); }
            this.$root.$emit('loadStream', 'stream');
        })
    })
    
    
  },
  methods: {
      getMyContacts: async function(){
        this.myContacts = this.$store.state.auth.profile.follows //res.data.page.contacts
        //this.showAddReceivers=true    
      },
      showAllCommentConv: async function(){
          this.showAllComments = !this.showAllComments
      },
      addContactToReceivers : async function(){
          if(window.isDev) { console.log("addReceivers", this.addReceivers); }
          let receivers = []
          this.myContacts.forEach((c)=>{
            this.addReceivers.forEach((r)=>{
              if(c.uid == r) receivers.push(c)
            })
          })
          
          const res = await axios.post('/publication/add-receivers', {  postUid: this.post.uid, 
                                                                        receivers: receivers })
          if(window.isDev) { console.log("res /publication/add-receivers", this.post.uid, res); }
          if(res.data.error == false)
            this.post.receivers = res.data.newReceivers
        
          this.showAddReceivers = false
      },
      initSharePost : function(){
          if(window.isDev) { console.log("initSharePost", this.origin); }
          //if(this.origin != "stream") return
          this.$root.$emit('sharePost', this.post, this.shareText);
          this.showShareForm = false
      },
      cleanClearComment: function(){
          if(this.commentStr==null) this.commentStr=''
      },
      openPost: function(postUid) {
          if(window.isDev) { console.log("open post", postUid); }
          this.$root.$emit('openPost', this.postObj);
          //router.push('/post/'+postUid);
      },
      actionPost: async function(actionType, postUid){
          const res = await axios.post('/publication/action', { type: actionType, postUid: postUid })
          if(window.isDev) { console.log("res /publication/action", actionType, postUid, res); }
          if(res.data.error == false)
            this.postObj[actionType] = res.data.postObj[actionType]
      },
      colorActions: function(action, arrayAct){ 
        //if(window.isDev) { console.log("action", action); }
        if(typeof arrayAct != "undefined" && arrayAct.indexOf(this.$store.state.auth.profile.uid) > -1) 
            return this.actionsParams[action] != null ? this.actionsParams[action].color : 'blue'
        else return ""
      },
      nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
      },
      sendComment: async function(){
          if(window.isDev) { console.log("sendComment", this.post.uid); }
          this.newCommentLoading = true
          const res = await axios.post('/comment/send-comment', 
                                    {   commentStr: this.commentStr, 
                                        postUid: this.post.uid })

          if(window.isDev) { console.log("res /comment/send-comment", res); }
          if(res.data.error == false){
              this.newCommentLoading = false
              this.commentStr = ""
              this.postObj.comments.push(res.data.newComment)
              this.$root.$emit('scrollBottomDrawerPost', this.post.uid);
              //this.showAllComments = true
          }
            
      },
      saveEditPost: async function(){
        if(window.isDev) { console.log("saveEditPost"); }
        const res = await axios.post('/publication/edit-post', { 
                                        postUid: this.post.uid, 
                                        text: this.postObj.text
                                    })
                                    
        if(res.data.error == false){
            this.postObj.text = res.data.postText
            this.postObj.hashtags = res.data.postTags
            this.showEditPost = false
        }
        if(window.isDev) { console.log("res /publication/edit-post", res.data); }
      },
      deletePost: async function(){
        if(window.isDev) { console.log("deletePost", this.post.uid); }
        const res = await axios.post('/publication/delete-post', { 
                                        postUid: this.post.uid
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            this.postObj = null
            this.showDeletePost = false
        }
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
      },
      leavePost: async function(){
        if(window.isDev) { console.log("leavePost"); }
        const res = await axios.post('/publication/leave-post', { 
                                        postUid: this.post.uid
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            this.postObj = null
            this.showLeavePost = false
        }
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
      },
      updatePostObj: function(post){
          if(window.isDev) { console.log("updatePostObj"); }
          this.postObj = post
      },
      addToBlacklist: async function(){
        if(window.isDev) { console.log("addToBlacklist"); }
        const res = await axios.post('/page/add-to-blacklist', { 
            pageUid: this.post.signed.uid,
            pageName: this.post.signed.name
        })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            this.postObj = null
            this.showCutValidation = false
        }
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
      },
      addToFollows: async function(){
        if(window.isDev) { console.log("addToFollows"); }
        const res = await axios.post('/page/add-to-follows', { 
                pageUid: this.post.signed.uid,
                pageName: this.post.signed.name
            })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            //this.postObj = null
            this.showFollowValidation = false
        }
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
      },
      openTag : function(tag){
          this.$root.$emit('openTag', tag);
      },
      postImageUrl: function(postUid){
          return core.postImageUrl(postUid)
      },
      postPdfUrl: function(pageUid, pdfName){
          return core.postPdfUrl(pageUid, pdfName)
      },
      avatarUrl: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iName: function(pageUid){
        return core.iName(pageUid)
      },
      sub : function(text, len){
          let t = text.substr(0, len)
          //if(window.isDev) { console.log("SUB", text, t, text.length); }
          if(text.length > len) t += '...'
          return t
      },
      linkIsVideo : function(link){
          if(link.indexOf("https://www.youtube.com") > -1) return true
          return false
      },
      loadEmbedPlayer : function(link){
          this.embedPlayerUrl = ""
          let pos = link.indexOf("?v=")+3
          this.embedPlayerUrl = "https://www.youtube.com/embed/" + link.substr(pos, 11)
      },
      loadAndShowEmbed(url) {
          // Use new Set to de-deduplicate.
          this.shownEmbedUrls = [...new Set([
              ...this.shownEmbedUrls,
              url
          ])];
      },
      diffInDays: function(date) {
          let d1 = new Date(date)
          let d2 = new Date()

          var t2 = d2.getTime()
          var t1 = d1.getTime()

          return parseInt((t2-t1)/(24*3600*1000))
      },
      
  },
  computed: {
      isAuthorPost: function(){
          return this.post.author.uid == this.$store.state.auth.profile.uid
      },
      completeText: function(){
          return core.completeText(this.postObj.text, this.post.hashtags)
      },
      canDelete: function(){ return this.isModerator || this.isAdmin },
      isModerator: function(){
          return core.isRole(this.$store.state.auth.profile.uid, 
                             this.postObj.signed, 'moderator')
      },
      isAdmin: function(){
          return core.isRole(this.$store.state.auth.profile.uid, 
                             this.postObj.signed, 'admin')
      },
      hasTarget: function(){
          return this.post.target.uid != null
      }
  },
  watch: {
    '$store.state.stream.posts': { immediate: true, 
        handler () {
            //if(window.isDev) { console.log("#POST stream.posts has changed", this.origin); }
            if(this.origin == 'stream')
                this.postObj = this.post
        }
    },
  }, 
  
}
</script>