<template>
    <div>
        <v-list-item class="pa-0" :to="'/page/'+notification.whatObj.onPageUid">
            <v-list-item-avatar class="pa-0 avatar-notif">
                <v-img :src="avatarUrl(notifAutor.uid)"></v-img>
            </v-list-item-avatar>
            
            <v-list-item-content>

                <v-list-item-title>
                    <v-icon small>mdi-thumb-up</v-icon> 
                    {{ notifAutor.name }}
                    <small>
                         <!-- and {{ notification.authors.length }} other people -->
                        <small>a accepté votre demande</small> 
                    </small>
                </v-list-item-title>
                <v-list-item-subtitle>
                <small v-if="notifAutor.uid == notification.whatObj.onPageUid">
                    <v-icon small>mdi-handshake</v-icon> Vous êtes maintenant ami !
                </small>
                <small v-else>
                    <v-icon small>mdi-{{ icons[notification.whatObj.role] }}</v-icon> 
                    Vous êtes maintenant 
                    <b>{{ $vuetify.lang.t('$vuetify.page.role_'+notification.whatObj.role) }}</b>
                    sur la page {{ notification.whatObj.onPageName }}
                </small>
                </v-list-item-subtitle>
                <span>
                  <v-icon x-small color="#5D586C">mdi-clock</v-icon>
                  <time-ago :datetime="notification.updated" 
                            :refresh="60" long :locale="$vuetify.lang.current">
                            
                  </time-ago>
                </span>
                
            </v-list-item-content> 
        </v-list-item>
        
        <!-- <v-card-text style="font-size:130%; background:rgba(0,0,0,0.1)" @click="nl2br('test')">
            <v-icon small style="margin-right:5px">mdi-comment</v-icon> 
            <span style="font-size:50%; font-weight:200; line-height: 0.9rem;" 
                    v-text="nl2br(notification.whatObj.text)">
                </span> 
                <span v-if="notification.whatObj.text.length==200">[...]</span>
        </v-card-text> -->
  </div>
</template>

<style>
  .avatar-notif{
    margin-right:7px!important;
    margin-left:7px!important;
    height:30px;
    min-width:30px!important;
    width:30px;
  }
</style>

<script>

//import axios from 'axios'
import core from '../../plugins/core.js'
import TimeAgo from 'vue2-timeago'
//import router from '../../router/router'

export default {
  name: 'menu-left',
  props: ['notification'],
  components: { TimeAgo },
  data: () => ({
    icons : { 'admin'     : 'crown',  
              'moderator' : 'account-star', 
              'editor'    : 'account-edit-outline' }
  }),
  
  mounted: async function(){
    //if(window.isDev) { console.log("this notification", this.notification); }
  },
  methods: {
    nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
      },
    updateContext: async function(){
      //console.log("this.$router.currentRoute", this.$router.currentRoute.fullPath, '/page/'+this.notifAutor.uid)
      this.$store.dispatch('auth/fetchUserContext')

      if(this.$router.currentRoute.fullPath == '/page/'+this.notification.whatObj.onPageUid)
        this.$root.$emit('updateDataProfile');
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }
  },
  computed: {
    notifAutor : function(){
      return this.notification.authors[this.notification.authors.length-1]
    },
    isAuthor : function(){
        return this.notification.whatObj.signedUid == this.$store.state.auth.profile.uid
    },
    isOwner : function(){
        //if(window.isDev) { console.log("verif", this.notification.whatObj, this.notifAutor.uid); }
        return this.notification.whatObj.signedUid == this.notifAutor.uid
    }
  },
  
  
};
</script>
