<template >
  <v-snackbar
    v-if="$store.state.auth.isLoggedIn && $store.state.notifications.shouldRequestPermission"
    v-show="$store.state.auth.isLoggedIn && $store.state.notifications.shouldRequestPermission"
    v-model="$store.state.notifications.shouldRequestPermission"
    :timeout="-1 /* Always */"
    app bottom centered
    multi-line
  >
    <div class="snackbar">
      <div class="snackbar--content">
        <v-icon class="snackbar--icon">mdi-bell</v-icon>
        <span style="margin-left:32px;margin-right:0;">
          Souhaitez-vous recevoir des notifications (commentaires, messages privés) ?
        </span>
      </div>
      <div class="snackbar--actions">
        <v-btn 
          @click="requestPermission"
          dark text color="primary"
          class="font-weight-bold"
          :loading="$store.state.notifications.permissionRequestLoading"
        >
          Autoriser
        </v-btn>
        <v-btn 
          @click="close"
          dark icon text
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </div>
  </v-snackbar>
</template>

<style scoped>
  .snackbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .snackbar--content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    flex: 1;
    margin: 0 0 0 8px;
  }  
  .snackbar--actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    flex: 0.3;
  }
  .snackbar--actions .v-btn {
    margin: 0 4px;
  }
</style>

<script>
export default {
  name: 'NotificationPermissionSnackbar',
  methods: {
    async requestPermission() {
      this.$store.dispatch('notifications/requestPermission', null, { root: true });
    },
    async close() {
      this.$store.dispatch('notifications/dismissPermissionRequest', null, { root: true });
    }
  }
}
</script>