<template>
<div>
  <v-row class="d-flex">
      <v-col cols="12" class="py-0">
      <h1 class="d-none">Consultez l'état de la Plaanet à tout moment !</h1>
      <Dashboard />
      </v-col>
  </v-row>
</div>
</template>

<script>

import Dashboard from '@/components/admin/Dashboard.vue'
import core from '../../plugins/core.js'

export default { 
  name: 'admin-dashboard',
  props: [],
  components: {
    Dashboard
  },
  data: () => ({
    
  }),
  async mounted(){
    core.incStat('/status')
  },
  methods: {
  } ,

}
</script>
