<template>
  
  <v-row class="d-flex mt-5">      
    <v-col cols="12" md="12" sm="12" class="text-center">
      <v-card class="px-5 pt-3 mx-auto" style="overflow-x:hidden;"  elevation="0">
        <h2>
          <v-icon>mdi-spider-web</v-icon> {{ $store.state.network.localName }} - 
          <small>Gestion des emails de notifications</small>
        </h2>
        <br><br>
        <v-row class="mx-0">
            

        </v-row>
        <v-row class="ma-2">
            
            <v-chip v-if="cronPk != null" color="green darken-2" class="mr-3">
              <v-icon>mdi-key</v-icon>
            </v-chip>
            <v-chip v-else color="red darken-2" class="mr-3">
              <v-icon>mdi-key</v-icon>
            </v-chip>

            <v-chip :color="nbMailToSend > 0 ? 'green darken-2' : 'grey darken-3'" class="">{{ nbMailToSend }} mail(s) à envoyer</v-chip>

            <v-btn class="ml-4" color="secondary"   @click="sendMailingList('test')">
              Tester <v-icon class="ml-1" small>mdi-check</v-icon>
            </v-btn>
            <v-btn class="ml-4" color="blue"   @click="sendMailingList()">
              Envoyer <v-icon class="ml-1" small>mdi-send</v-icon>
            </v-btn>

            <v-btn class="ml-4" color="primary" small fab @click="searchPage()">
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          
        </v-row>
        <h3><v-icon>mdi-chevron-down</v-icon>
          {{ users.length }}/{{ totalNotifiable }}/{{ limit }}/{{ totalUserWithMail }} utilisateurs avec e-mail (notifiés il y a plus de 24h)
          <v-btn :loading="loading" text></v-btn>
        </h3>
        
        <template v-for="(user, j) in users">
            <UserCard :user="user" :key="'page'+j" :activeSuperAdmin="true"></UserCard>
        </template>

        <v-chip color="grey darken-2" v-if="users.length == 0 && !loading">Aucun résultat</v-chip>

        <br>
        <br>
      </v-card>
    </v-col>


    <v-dialog fullscreen v-model="showPopupMailHtml" max-width="800">
      <v-card>
        <v-app-bar>
            <v-icon small class="pa-1">mdi-mail</v-icon> 
            <h4>Résultat de la requête</h4>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="showPopupMailHtml=false"><v-icon>mdi-close</v-icon></v-btn>
        </v-app-bar>

        <pre v-if="test != 'test'">{{ resDailyMail }}</pre>
        <v-card-text v-else class="py-5" v-html="resDailyMail"></v-card-text>

      </v-card>
    </v-dialog>
  </v-row>

</template>

<script>

// import PageCard from '@/components/page/PageCard.vue'
import UserCard from '@/components/user/UserCard.vue'
import axios from 'axios'
//import core from '../../plugins/core.js'

export default {
  name: 'dashboard-visitors',
  props: [],
  components: {
    UserCard
  },
  data: () => ({
    users: [],
    limit: 0,
    loading: false,
    totalUserWithMail: 0,
    totalNotifiable: 0,
    
    showSnackbar: false,
    snackText: "",
    snackColor: "green",
    resDailyMail: [],
    cronPk: '',
    showPopupMailHtml: false,
    test: ''
  }),
  mounted: function(){ 
    this.searchPage()
    this.getCronPk()
  },
  methods: {
    async searchPage(){
      this.loading = true
      this.users = []
      axios.post('/admin/get-users-for-mailing')
          .then( res => {
            if(res.data.error == false){
              this.users = res.data.users
              this.limit = res.data.limit
              this.totalUserWithMail = res.data.totalUserWithMail
              this.totalNotifiable = res.data.totalNotifiable
              this.loading = false
              console.log("this.users", this.users.length, this.users)
            }
          })
          .catch(error => {
            this.loading = false
            console.log("this.users", error)
          })
    },
    async getCronPk(){
      let res = await axios.get('/admin/get-cron-pk')
      this.cronPk = res.data.pk
    },
    async sendMailingList(test=''){
      this.test = test
      this.resDailyMail = []
      this.loading = true
      axios.get('/mail/dailymail/'+this.cronPk+'/'+test)
          .then( res => {

            if(test == "test"){ this.resDailyMail = res.data
            }else{
              console.log("res.data", res.data)
              this.resDailyMail = res.data.result
            }

            this.searchPage()
            this.showPopupMailHtml = true
            this.loading = false
          })
          .catch(error => {
            this.loading = false
            console.log("this.users", error)
          })
    }
  },
  computed: {
    nbMailToSend : function(){
      let nb = 0
      this.users.forEach((user)=>{
        if(user.nbNotifTotal > 0) nb++
      })
      return nb
    }
  }
}
</script>