<template>
  
  <v-row class="d-flex">      
    <v-col cols="12" md="12" sm="12" class="text-center">
      <v-card max-width="800" class="px-5 pt-3 mx-auto" style="overflow-x:hidden;"  elevation="0">
        <h2>
          <v-icon>mdi-spider-web</v-icon> {{ $store.state.network.localName }} - 
          <small>Gestion des pages</small>
        </h2>
        <small>En tant qu'administrateur, vous pouvez supprimer les pages de votre instance</small>
        <br><br>
        <v-text-field v-model="search" 
                      dense outlined 
                      placeholder="rechercher une page..."
                      @change="searchPage()"></v-text-field>

        <h5 class="ma-2" style="color: #aaa;">
            <v-icon small style="color: #aaa;">mdi-chevron-double-down</v-icon> 
            Quel type de pages recherchez-vous ?
        </h5>

        <v-bottom-navigation :height="70"
                            style="margin:0;border-radius:5px;"
                            v-model="pageType" grow @change="searchPage()">
            <v-btn class="hover-yellow px-2" value="" >
                <span>Tous</span>
                <v-icon>mdi-asterisk</v-icon>
            </v-btn>

            <v-btn class="hover-yellow px-2" value="user" >
                <span>Utilisateurs</span>
                <v-icon>mdi-account</v-icon>
            </v-btn>

            <v-btn class="hover-red px-2" value="group" >
                <span>Groupes</span> 
                <v-icon>mdi-account-group-outline</v-icon>
            </v-btn>

            <v-btn class="hover-purple px-2" value="assembly">
                <span>Assemblées</span>
                <v-icon>mdi-hexagon-multiple-outline</v-icon>
            </v-btn>

            <v-btn class="hover-orange" value="event" >
                <span>Évenements</span>
                <v-icon>mdi-calendar-clock</v-icon>
            </v-btn>
            
        </v-bottom-navigation>

        
        <v-switch v-model="onlyBlacklist" 
                  label="Afficher seulement les pages blacklistées"
                  color="blue"
                  @change="searchPage"></v-switch>
        
        <h3><v-icon>mdi-chevron-down</v-icon>
          {{ pages.length }} page{{ pages.length > 1 ? 's' : '' }} trouvée{{ pages.length > 1 ? 's' : '' }}
          <v-btn :loading="loading" text></v-btn>
        </h3>

        <template v-for="(page, j) in pages">
            <PageCard :page="page" :key="'page'+j" :activeSuperAdmin="true"></PageCard>
        </template>

        <br>
        <br>
      </v-card>
    </v-col>


  <v-snackbar v-model="showSnackbar" 
              :color="snackColor" right 
              :timeout="4000" :multi-line="true">
    {{ snackText }}
    <v-btn small icon
          @click="showSnackbar = false">
      <v-icon >mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
  </v-row>

</template>

<script>

import PageCard from '@/components/page/PageCard.vue'
import axios from 'axios'
//import core from '../../plugins/core.js'

export default {
  name: 'dashboard-visitors',
  props: [],
  components: {
    PageCard
  },
  computed: {
   
  },
  data: () => ({
    search: '',
    pageType: null,
    pages: [],
    onlyBlacklist: false,
    loading: false,
    showSnackbar: false,
    snackText: "",
    snackColor: "green",
  }),
  mounted: function(){ 
    this.$root.$on('afterDeletePage', (pageName) => { 
        this.showSnackbar = true
        this.snackText = "Cette page a été supprimée : " + pageName
        this.snackColor = "success"
        
        this.searchPage()
    })
  },
  methods: {
    async searchPage(){
      this.loading = true
      if(!this.onlyBlacklist){
          axios.post('/admin/get-pages', { search: this.search, 
                                          pageType: this.pageType })
              .then( res => {
                if(res.data.error == false){
                  this.pages = res.data.pages
                  this.loading = false
                  console.log("this.pages", this.pages.length, this.pages)
              }
          })
      }else{
        axios.post('/admin/get-pages-blacklisted', { search: this.search, 
                                                      pageType: this.pageType })
            .then( res => {
              if(res.data.error == false){
                this.pages = res.data.pages
                this.loading = false
                console.log("this.pages", this.pages.length, this.pages)
            }
        })
      }
    }
  }
}
</script>