<template>
<v-row>

  <v-col cols="12" >
    <v-card max-width="600" class="mx-auto" color="transparent" flat>
        Ils sont connectés en ce moment sur le serveur <span class="primary--text">{{ iName }}</span>
        <template v-for="(p, i) in connectedList">
          <PageCard 
            :page="p"
            :key="i" 
          />
        </template>
        <br>
        <v-btn block @click="loadList">RELOAD</v-btn>
    </v-card>
  </v-col>
</v-row>
</template>

<style></style>

<script>

//import axios from 'axios'
//import router from '../router/router'
import core from '../../plugins/core.js'

//import Post from '@/components/Post.vue'
import PageCard from '@/components/page/PageCard.vue'

import io from 'socket.io-client';

var socket = null

export default {
  name: 'socket',
  components: { PageCard },
  props: [],
  data: () => ({
    
    connectedList: []
  }),
  async created() {
    if(this.$store.state.network.localSocketPort) {
      if(window.isDev) {
        console.log('wsUrl', this.$store.getters['network/websocketUrl']);
      }

      socket = io(this.$store.getters['network/websocketUrl'], {
        transports: ['websocket'],
      });

      // on reconnection, reset the transports option, as the Websocket
      // connection may have failed (caused by proxy, firewall, browser, ...)
      socket.on('reconnect_attempt', () => {
      socket.io.opts.transports = ['polling', 'websocket'];
      });
    }
  },
  async mounted(){

    socket.emit('get-connected')
    
    socket.on('send-connected', (data) => {
        if(window.isDev) { console.log("send-connected", data); }
        if(data != null) this.connectedList = data.clients
    })
  },
  methods: {
      loadList: function(){
          socket.emit('get-connected')
      }
  },
  computed: {
    
    
    iName: function(){ return core.iName(this.$store.state.auth.profile.uid) }
    
  }
}
</script>
