<template>
    <!-- BLACKLIST -->
    <v-card v-if="$store.state.auth.isAdmin">
        <v-col>
            <v-row>
                <v-col>
                    <v-icon small>mdi-scissors-cutting</v-icon>
                    <small>
                        {{ $vuetify.lang.t('$vuetify.post.dyw_to_remove_this_page') }}
                        
                        <router-link :to="'/page/'+page.uid">
                            {{ page.name }}
                        </router-link>  ?
                    </small>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn block outlined small color="grey"  @click="$root.$emit('closeBlock', page.uid)">
                        <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
                    </v-btn>
                </v-col>
                <v-col>
                    <v-btn :loading="loading" block small color="red" @click="removePage()">
                        <v-icon small>mdi-link-variant</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesDeletePage') }}
                    </v-btn>
                </v-col>
            </v-row>
        </v-col>
    </v-card>
    <!-- BLACKLIST -->
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }
</style>

<script>
//import Post from '@/components/Post.vue'
import core from '../../plugins/core.js'
import axios from 'axios'

export default {
  name: 'blockBlacklist',
  components: {  },
  data:() => ({
      loading: false,
  }),
  props: ['page' ],
  mounted: function(){
  },
  methods: {
     
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },

    removePage: async function(){
        if(window.isDev) { console.log("removePage"); }
        this.loading = true
        const res = await axios.post('/page/delete', { pageUid: this.page.uid })
        if(res.data.error == false){
            this.$store.dispatch('auth/fetchUserContext')
            this.$root.$emit('afterDeletePage', this.page.name)
        }
        this.loading = false
       
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
    },

  },

  computed: {
    isFollowing: function(){
        return core.isFollowing(this.$store.state.auth, this.page.uid)
    },
  }
  
  
}
</script>