<template>
    <!-- FOLLOW -->
    <v-card>
        <v-col>
            <v-row>
                <v-col>
                    <v-icon small>mdi-link-variant</v-icon>
                    <small v-if="!isFollowing">
                        {{ $vuetify.lang.t('$vuetify.post.dyw_follow') }}
                        <router-link :to="'/page/'+page.uid">
                            {{ page.name }}
                        </router-link> ?<br>
                        <small>{{ $vuetify.lang.t('$vuetify.post.dyw_follow_sub') }}</small>
                    </small>
                    <small v-if="isFollowing">
                        {{ $vuetify.lang.t('$vuetify.post.uAllreadyAre_follow') }} 
                        <router-link :to="'/page/'+page.uid">
                            {{ page.name }}
                        </router-link><br>
                        <small>{{ $vuetify.lang.t('$vuetify.post.dyw_follow_cancel') }} ?</small>
                    </small>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn block outlined small color="grey"  @click="$root.$emit('closeBlock', page.uid)">
                        <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
                    </v-btn>
                </v-col>
                <v-col>
                    <v-btn :loading="loading" v-if="!isFollowing" block small color="primary" @click="addToFollows()">
                        <v-icon small>mdi-link-variant</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesFollow') }}
                    </v-btn>
                    <v-btn :loading="loading" v-if="isFollowing" block outlined small color="orange darken-2" @click="removeFromFollows()">
                        <v-icon small>mdi-link-variant-off</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesCancelFollow') }}
                    </v-btn>
                </v-col>
            </v-row>
        </v-col>
    </v-card>
    <!-- FOLLOW -->
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }
</style>

<script>
//import Post from '@/components/Post.vue'
import core from '../../plugins/core.js'
import axios from 'axios'

export default {
  name: 'blockFollows',
  components: {  },
  data:() => ({
      loading: false
  }),
  props: ['page' ],
  mounted: function(){
     
  },
  methods: {
     
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },

    addToFollows: async function(){
        if(window.isDev) { console.log("addToFollows"); }
        this.loading = true
        const res = await axios.post('/page/add-to-follows', { 
                                        pageUid: this.page.uid,
                                        pageName: this.page.name
                                    })
                                    
        if(res.data.error == false){
            this.showSnackbar = true
            this.snackText = "Vous êtes abonné à " + this.page.name
            this.snackColor = "success"
            this.page.followers.push( this.$store.state.auth.profile.uid)
            this.$store.dispatch('auth/fetchUserContext')
        }
        this.loading = false
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
    },
    removeFromFollows: async function(){
        if(window.isDev) { console.log("removeFromFollows"); }
        this.loading = true
        const res = await axios.post('/page/remove-from-follows', { 
                                        pageUid: this.page.uid
                                    })
                                    
        if(res.data.error == false){
            let pos = -1
            this.page.followers.forEach((p, i)=>{
                if(window.isDev) { console.log("search followers", p, i, this.$store.state.auth.profile.uid); }
                if(p == this.$store.state.auth.profile.uid) pos = i
            })
            if(window.isDev) { console.log("search followers pos", pos); }
            if(pos > -1) this.page.followers.splice(pos, 1)

            this.showSnackbar = true
            this.snackText = "Vous n'êtes plus abonné à " + this.page.name
            this.snackColor = "orange darken-3"
            this.$store.dispatch('auth/fetchUserContext')
        }
        this.loading = false
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
    },

  },

  computed: {
    isFollowing: function(){
        return core.isFollowing(this.$store.state.auth, this.page.uid)
    },
    isMyContact: function(){
        return core.isMyContact(this.$store.state.auth, this.page.uid)
    },
    isBlacklisted: function(){
        return core.isBlacklisted(this.$store.state.auth, this.page.uid)
    },
  }
  
  
}
</script>