<template>
<div>
<!-- {{ streamLength }} {{ streamLoading }} {{ pageNumber }} -->
    <v-card v-if="(streamLength == 0 && !streamLoading) || endOfStream" class="mt-5" style="background-color:rgb(38, 37, 40);">
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="text-center">
                    <v-icon>mdi-source-commit-end</v-icon><br>
                    <template v-if="mapMode=='posts'">
                        <span v-if="streamLength == 0">{{ $vuetify.lang.t('$vuetify.stream.noMessage') }}</span>
                        <span v-if="streamLength > 0 && endOfStream">{{ $vuetify.lang.t('$vuetify.stream.endOfStream') }}</span>
                    </template>
                    <template v-if="mapMode=='pages'">
                        <span v-if="mapPages.length == 0">{{ $vuetify.lang.t('$vuetify.stream.noResult') }}</span>
                        <span v-if="mapPages.length > 0 && endOfStream">{{ $vuetify.lang.t('$vuetify.stream.endOfResults') }}</span>
                    </template>

                </v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-card>

    <v-col class="mt-5 text-center" v-if="streamLoading && pageNumber > 1">
        <v-btn class="mx-2 mt-0" fab small color="blue" :loading="true">
            <v-icon title="actualiser">mdi-refresh</v-icon>
        </v-btn>
    </v-col>

    <v-row class="mt-5 text-center" v-if="streamLength > 0 && endOfStream">
        <v-col cols="3"></v-col>
        <v-col cols="3" class="text-center">
            <v-btn small fab color="blue" @click="searchContent"><v-icon>mdi-refresh</v-icon></v-btn><br>
            <small>Actualiser</small>
        </v-col>
        <v-col cols="3" class="text-center">
            <v-btn small fab color="grey" @click="$vuetify.goTo(0)"><v-icon>mdi-chevron-double-up</v-icon></v-btn><br>
            <small>Remonter</small>
        </v-col>
        <v-col cols="3"></v-col>
    </v-row>
</div>   
</template>



<script>

export default {
  name: 'home',
  components: {  },
  data:() => ({
  }),
  props: ['mapMode', 'endOfStream',  'streamLoading', 'streamLength', 'pageNumber', 'mapPages'],
  methods: {
      searchContent: function(){
        this.$root.$emit('loadStream');
      },
  }
      
}

</script>