<template>
<div>
<!-- streamLength:{{ streamLength }} streamLoading:{{ streamLoading }} pageNumber:{{ pageNumber }} endOfStream:{{ endOfStream }} -->
    <v-card v-if="(streamLength == 0 && !streamLoading) || endOfStream" class="mt-5" color="transparent" elevation="0">
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="text-center">
                    <v-btn fab small class="mb-2" elevation="0" :loading="streamLoading"><v-icon>mdi-source-commit-end</v-icon></v-btn><br>
                    <template v-if="mapMode=='posts'">
                        <span v-if="streamLength == 0 && !streamLoading">{{ $vuetify.lang.t('$vuetify.stream.noMessage') }}</span>
                        <span v-if="streamLength > 0 && endOfStream">{{ $vuetify.lang.t('$vuetify.stream.endOfStream') }}</span>
                    </template>
                    <template v-if="mapMode=='pages'">
                        <span v-if="mapPages.length == 0">{{ $vuetify.lang.t('$vuetify.stream.noResult') }}</span>
                        <span v-if="mapPages.length > 0 && endOfStream">{{ $vuetify.lang.t('$vuetify.stream.endOfResults') }}</span>
                    </template>

                </v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-card>

    <v-col class="mt-5 text-center" v-if="streamLoading && pageNumber > 1">
        <v-btn class="mx-2 mt-0" fab small color="blue" :loading="true">
            <v-icon title="actualiser">mdi-refresh</v-icon>
        </v-btn>
    </v-col>

    <v-row class="mt-5 text-center" v-if="streamLength > 0 && endOfStream">
        <v-col cols="12" class="text-center">
            <v-btn small fab color="grey" @click="scrollTop"><v-icon>mdi-chevron-double-up</v-icon></v-btn><br>
            <small>Remonter</small><br><br>
        </v-col>
    </v-row>
</div>   
</template>



<script>

export default {
  name: 'endOfStreamPage',
  components: {  },
  data:() => ({
  }),
  props: ['mapMode', 'endOfStream',  'streamLoading', 'streamLength', 'pageNumber', 'mapPages'],
  methods: {
      searchContent: function(){
        this.$root.$emit('loadStream');
      },
      scrollTop: function(){
          let scrollerModal = document.getElementById('modal-page').parentNode
          scrollerModal.scrollTop = 0
      }
  }
      
}

</script>