<template>
    <v-col cols="12" class="mt-2">            
        <v-textarea style="font-size: 0.9em;"
          auto-grow outlined spellcheck="false"
          label="Votre message..."     
          :counter="postText.length > 1980"    
          :rules="rulesTxtareaEditPost"
          v-model="postText"
          @change="extractMeta"
          :hide-details="postText.length < 1980"
        ></v-textarea>
        <br>
        <small>Ce message sera envoyé à {{ postRadius/1000 }} Km autour de vous.</small>
        <br>
        <br>
        <v-chip color="red" class="mb-2" v-if="postTextError!=''">{{ postTextError }}</v-chip>
        <v-col cols="12" class="pa-0 text-right">
            <v-btn  color="green" @click="sendPost">
              <v-icon small>mdi-check</v-icon> Envoyer maintenant
            </v-btn>
            <v-btn  color="blue-grey darken-1" class="ml-2" @click="$root.$emit('nextFirstStep')">
              plus tard <v-icon small>mdi-chevron-right</v-icon>
            </v-btn>
        </v-col>
        <!-- <br> 
        <p style="font-size:0.8em;"><i>
            - Qu'avez-vous à dire aux rebelles qui peuple notre planète ?<br>
            - Qu'est-ce qui vous a motivé à vous inscrire ici ?<br>
            - Que pensez-vous de la situation politique actuelle ?<br>
            - Selon-vous, que doit-on faire pour s'en sortir ? 
            <br><br> 
            Autant de question et de réponses qui permettront de briser la glace, et commencer à discuter tous ensemble... 
            </i>
        </p> -->

    <div v-show="false">{{ autoFstMsg }}</div>
    </v-col>

</template>



<script>

import axios from 'axios'
import CTP from 'circle-to-polygon';
//import router from '../../router/router'
//import core from '../../plugins/core.js'

export default {
  name: 'formTags',
  props: [ 'page', 'streamRadius' ],
  data: () => ({
    rulesTxtareaEditPost: [v => v.length <= 2000 || 'Max 2000 characters'],
    postText: "",
    postTextError: '',
    postTagText: "",
    postSignedUid: "",
    postMentions: [],
    postSharable: true,
    postRadius: 300000,
    autoMsg: '',

    sendingPost: false,
    
  }),
  async mounted(){
    this.postText = this.autoFstMsg()
  },
  methods: {
      sendPost: async function(){
        if(this.sendingPost == true) return

        this.sendingPost = true
        let fromCity = await this.getFromCity()
        const res = await axios.post('/publication/send-first-post', 
                                      { text: this.postText, 
                                        fromCity: fromCity,
                                        scopeGeo: this.getPolygonCircle(),
                                        radius: this.postRadius,
                                        embedMetaLinks: this.embedMetaLinks
                                      })
        
        if(res.data.error == true){
          if(window.isDev) { console.log("error /publication/send-first-post", res.data); }
          this.postTextError = "Sorry, an error occured."
        }else{
          if(this.streamRadius != null){
            await this.$store.dispatch('auth/fetchUserContext');
            await this.$store.dispatch('stream/addNewPost', res.data.post);
            this.$store.dispatch('app/setPopupEmailOpen', true)
          }
          this.$root.$emit('nextFirstStep') 
          //router.push('/stream')
        }
        
        this.sendingPost = false
        if(window.isDev) { console.log("res /publication/send-post", res.data); }

      },

      extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
          const res = await axios.post('/publication/extract-meta', 
                                      { link: link })
          if(window.isDev) { console.log("request for", link, i, res); }
          this.embedMetaLinks.push(res.data.embedMetaLink)
        })
        
      },
      removeMetaLink: function(i){
        this.embedMetaLinks.splice(i, 1)
      },


      getPolygonCircle: function(){
        return CTP([this.$store.state.auth.profile.coordinates[0], this.$store.state.auth.profile.coordinates[1]], this.postRadius, 30)
      },
      getFromCity: async function(){
        //https://nominatim.openstreetmap.org/reverse?
        if(window.isDev) { console.log("this.$store.state.auth.profile.coordinates", this.$store.state.auth.profile.coordinates); }
        var query = "lat="+this.$store.state.auth.profile.coordinates[1]+"&lon="+this.$store.state.auth.profile.coordinates[0]+"&format=json"
        const res = await axios.get('https://nominatim.openstreetmap.org/reverse?'+query,
                          { withCredentials: false })
        
        var attr = ["city", "state", "country"]
        var city = ""
        attr.forEach(function(att){
          if(window.isDev) { console.log("c", res.data); }
          let c = res.data.address[att]
          if(window.isDev) { console.log("reverse nominatim1", c); }
          if(city == "" && c != "" && c != null) city = c
        })
        if(window.isDev) { console.log("reverse nominatim2", city); }
        return city
        
      },
      autoFstMsg: function(){
        let tagsGStr = ""
        let tagsCStr = ""
        let tagsMStr = ""
        let autoMsg = ""

        if(this.$store.state.auth.profile.hashtagsG != null)
        this.$store.state.auth.profile.hashtagsG.forEach((tag)=>{ tagsGStr+= " " + tag })

        if(this.$store.state.auth.profile.hashtagsC != null)
        this.$store.state.auth.profile.hashtagsC.forEach((tag)=>{ tagsCStr+= " " + tag })

        if(this.$store.state.auth.profile.hashtagsM != null)
        this.$store.state.auth.profile.hashtagsM.forEach((tag)=>{ tagsMStr+= " " + tag })

        autoMsg = "Salut, moi c'est " + this.$store.state.auth.profile.name + " 😃 "
        
        if(this.$store.state.auth.profile.city != "" && this.$store.state.auth.profile.city!=null)
        autoMsg += "Je vis dans la région de " + this.$store.state.auth.profile.city + ". "
        
        if(tagsCStr != "")
        autoMsg += "\n\nMes principales compétences sont" + tagsCStr + ". "

        if(tagsMStr != "")
        autoMsg += "\nJe soutiens à fond" + tagsMStr + ". "

        if(tagsGStr != "")
        autoMsg += "\nEt je me caractérise plutôt comme " + tagsGStr + " !"
        return autoMsg
    }
  },

  watch: {
    '$store.state.auth.profile.hashtags': async function() {
      this.postText = this.autoFstMsg()
    },
    '$store.state.auth.profile.city': async function() {
      this.postText = this.autoFstMsg()
    },
    streamRadius: {
            // the callback will be called immediately after the start of the observation
            immediate: true, 
            handler (val, oldVal) {
              if(val == null) return 
              this.postRadius = val*1000
              if(window.isDev) { console.log("watch streamRadius", val, oldVal, this.postRadius); }
                
            }
        },
    
  }
}

</script>