<template>
  <div>
    <div v-if="page != null">

      <template v-if="page.coordinates != null">
        <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" 
                :center="[page.coordinates[1], page.coordinates[0]]"  
                id="map-container-page">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            
            <l-marker  v-if="showMap" ref="rootMarker" :lat-lng="[page.coordinates[1], page.coordinates[0]]" 
                      :draggable="false"
                      :icon="markerIconRoot" id="myMarker"></l-marker>
        </l-map>
      </template>


      <v-row class="btn-lowerc mx-0 mt-0 px-3 py-3" style="position:absolute;top:0px; width:100%;" v-if="page.roles != null">
        <v-col class="pt-0 pb-2" cols="12">
          <v-btn @click="closePageDialog()"  color="black" 
                style="background-color:rgba(0,0,0,0.3)!important; text-transform:uppercase!important;" outlined small block>
              <v-icon small color="white" class="mr-1">mdi-close</v-icon> <span class="white--text">Fermer la page</span>
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2">
          <v-btn @click="showDialogFollowers=true" color="grey darken-4"
                 class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ page.followers.length }} 
              {{ $vuetify.lang.t('$vuetify.main.follower') }}{{ (page.followers.length > 1) ? 's' : '' }}
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2">
          <v-btn @click="openDialogRole('editor')" color="grey darken-4" v-if="page.type != 'user'"
                 class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ page.roles['editor'].length }} 
              {{ $vuetify.lang.t('$vuetify.page.role_editor') }}{{ (page.roles['editor'].length > 1) ? 's' : '' }}
          </v-btn>
          <v-btn @click="openDialogRole('editor')" color="grey darken-4" v-else
                 class="m" small block>
              <v-icon  class="mr-1">mdi-account</v-icon> 
              {{ page.roles['editor'].length }} 
              {{ $vuetify.lang.t('$vuetify.page.friend') }}{{ (page.roles['editor'].length > 1) ? 's' : '' }}
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2" v-if="page.type == 'user' && !isEditor">
          <v-btn @click="openDialogRole('editor')" color="blue"
                 class="m" small block>
              <v-icon class="mr-1">mdi-handshake</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.becomeFriend') }}
              </span>
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2" v-if="page.type != 'user'">
          <v-btn @click="openDialogRole('admin')" color="grey darken-4"
                 class="m" small block>
              <v-icon class="mr-1">mdi-crown</v-icon> 
              {{ page.roles['admin'].length }} 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.role_admin_short') }}{{ (page.roles['admin'].length > 1) ? 's' : '' }}
              </span>
          </v-btn>
        </v-col>
        <v-col class="pt-0 pb-2" v-if="page.type != 'user'">
          <v-btn @click="openDialogRole('moderator')" color="grey darken-4"
                 class="m" small block>
              <v-icon class="mr-1">mdi-account-star</v-icon> 
              {{ page.roles['moderator'].length }} 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.role_moderator') }}{{ (page.roles['moderator'].length > 1) ? 's' : '' }}
              </span>
          </v-btn>
        </v-col>

        <v-col class="pt-0 pb-2 text-center" v-if="page.type == 'user' && isEditor && page.uid != $store.state.auth.profile.uid">
          <v-chip @click="openDialogRole('editor')" color="blue" small block>
              <v-icon class="mr-1" small>mdi-check</v-icon> 
              <v-icon class="mr-1" small>mdi-account</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.youAreFriend') }}
              </span>
          </v-chip>
        </v-col>
        <v-col cols="12" class="pt-0 pb-2 text-right" v-if="page.type != 'user' && isEditor">
          <v-chip @click="openDialogRole('editor')" color="blue" rounded small>
              <v-icon class="mr-1" small>mdi-check</v-icon> 
              <v-icon class="mr-1" small>mdi-account</v-icon> 
              <span class="d-none d-sm-inline">
                {{ $vuetify.lang.t('$vuetify.page.youAreMember') }}
              </span>
          </v-chip>
        </v-col>
          
      </v-row> 

      <v-row class="my-0">
 
        <v-col cols="9">
          <v-list-item style="" class="pa-0">
            
            <v-list-item-content class="capsule-profile py-2">
              <v-list-item-title class="headline mb-2" 
                                style="text-overflow: unset; white-space: normal;">
                <v-icon class="" v-if="page.type=='user'">mdi-account</v-icon> 
                {{ page.name }}
              </v-list-item-title>
              
              <v-list-item-subtitle v-if="page.type != null">

                <template v-if="page.type=='user'">
                  <span style="margin-right:10px;" class="ml-5 pl-2">
                    {{ page.followers.length }} 
                    {{ $vuetify.lang.t('$vuetify.main.follower') }}{{ (page.followers.length > 1) ? 's' : '' }}
                  </span>
                </template>
                <span style="margin-right:10px;" title="type de page" v-if="page.type!='user'">
                  <v-icon x-small class="">mdi-{{ iconsPageType }}</v-icon> 
                  {{ $vuetify.lang.t('$vuetify.pageType.' + page.type) }}
                </span>
                <template v-if="page.city!=null">
                  <span style="margin-right:10px;">
                    <v-icon x-small style="margin-left:-5px;">mdi-map-marker</v-icon> 
                    {{ page.address }} {{ page.city }}
                  </span>
                </template>
                <span style="margin-right:10px;" title="nom du serveur qui héberge cette page">
                  <v-icon x-small>mdi-spider-web</v-icon> {{ iName }}
                </span>


              </v-list-item-subtitle>
            </v-list-item-content>


          </v-list-item>
        </v-col>

        <v-col cols="3" class="text-right pr-5">
          <v-btn  class="mb-2 mr-2" icon v-if="isAdmin && (page.type != 'user' || page.uid == $store.state.auth.profile.uid)"
                  title="Gérer les rôles" small @click="closePageDialog()"
                  :to="'/page-roles/'+page.uid">
                <v-icon small>mdi-crown</v-icon>
          </v-btn>


          <v-btn  class="mb-2" icon v-if="isAdmin"
                  title="Paramètres de la page" small @click="closePageDialog()"
                  :to="'/settings/'+page.uid">
                <v-icon small>mdi-cog</v-icon>
          </v-btn>
          <v-btn  class="mb-2 mx-2" outlined icon color="blue"
                  title="Aller sur la page" small @click="closePageDialog()"
                  :to="'/page/'+page.uid">
                <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>


        <v-col class="mx-2 px-5 py-0" v-if="page.hashtags != null && page.hashtags.length > 0">
            <v-chip v-for="(tag, i) in page.hashtags" small
                  :key="i" class="mr-2 mt-2" outlined color="indigo lighten-3">
                    {{ tag }} 
            </v-chip>
        </v-col>

        <v-col cols="12" class="px-5" v-if="page.type == 'event'" >
          <h2 class="font-konkretika ">
            <v-icon large class="ml-2">mdi-calendar</v-icon> {{ getDateFormat(page) }}
          </h2>
        </v-col>

        <v-col cols="12" class="px-5" v-if="page.description != null && page.description != ''" >
          
          
          <v-alert class="pa-3 ma-0" color="#1a1a1a" 
                style="font-size:0.9em;" elevation="3"
                v-html="completeText(page.description)">
          </v-alert>
        </v-col>
     
      </v-row>

    <v-row style="border-top: 1px solid #4c4c4c;" class="mt-2 mx-0">
      <v-col class="px-5 pt-5" cols="12" md="5">
        
        <v-btn class="mx-3 mt-0 mb-0"   icon outlined dark small
            color="blue" @click="pageNumber=1; loadStream()" :loading="streamLoading">
            <v-icon small dark title="actualiser le fil d'actualités">mdi-refresh</v-icon>
        </v-btn>

        <v-icon class="" dark>mdi-chevron-down</v-icon> 
        
        <span v-if="!streamLoading">
          Fil d'actualités
          <!-- {{ stream.length }} publication<template v-if="stream.length > 1">s</template> -->
        </span>
        <span v-else>Chargement en cours</span>
      </v-col>
      <v-col cols="12" md="7" class="text-right btn-lowerc pt-5 pb-0 px-5">
        <v-btn class="mx-3 mt-0 mb-2" dark v-if="isAdmin || isModerator || isEditor" rounded outlined
            color="blue darken-1" :to="'/live/'+page.uid"  >
            <v-icon class="mr-1" dark title="actualiser">mdi-comment</v-icon> Tchat en live
        </v-btn>
        <v-col class="py-0" v-else>
          <ModalTchatForbiden :page="page" :onRoleRequestSuccess="onRoleRequestSuccess"></ModalTchatForbiden>
        </v-col>

        <v-btn class="mx-3 mt-0 mb-2" dark rounded v-if="page.type == 'assembly'" outlined
            color="purple" :to="'/room/'+page.uid"  >
            <v-icon class="mr-1" dark title="actualiser">mdi-hexagon-multiple-outline</v-icon> Salle de vote
        </v-btn>
        
      </v-col>

    </v-row>

    <div id="streamPage" class="px-5" style="min-height: 800px;">
      <div v-for="(post, i) in stream" :key="i" >
          <Post :post="post" origin="stream"></Post>
      </div>
      
      <EndOfStreamPage 
        :endOfStream="endOfStreamPage"
        :mapMode="'posts'"
        :pageNumber="pageNumber"
        :searchContentStr="''"
        :streamLoading="streamLoading"
        :streamLength="stream.length"
      />
    </div>

    </div>
    <div v-else>
      <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      <v-skeleton-loader class="mx-auto" type="article"></v-skeleton-loader>
      <v-skeleton-loader class="mx-auto" type="article"></v-skeleton-loader>
      <v-skeleton-loader class="mx-auto" type="article"></v-skeleton-loader>
    </div>


    <v-dialog v-if="showDialogRole && page != null" v-model="showDialogRole" max-width="550">

      <v-card class="pa-5" v-if="!isRole">
        <v-card-actions class="pb-0">
            <v-icon  class="pr-1">mdi-{{ icons[currentRoleRequest] }}</v-icon> 
            <h3 v-if="page.type != 'user'">Devenir {{ $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }}</h3>
            <h3 v-else>Devenir amis</h3>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="showDialogRole=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-actions>

        <v-card-text class="px-3" v-if="isPending">
          Votre demande a bien été envoyée
        </v-card-text>

        <template v-else>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'admin'">
            Les administrateurs ont tout les droits sur la page.
          </v-card-text>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'editor'">
            <template v-if="page.type!='user'">Les membres ont le droit de publier sur cette page.</template>
            <template>Devenez amis pour rester en contact et discuter plus facilement...</template>
          </v-card-text>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'moderator'">
            Les modérateurs ont le droit de supprimer des commentaires et des publications sur cette page.
          </v-card-text>
          <v-card-text class="px-3" v-if="currentRoleRequest == 'follower'">
            Les abonnés reçoivent automatiquement les publications de cette page.
          </v-card-text>


          <h5 class="px-3" v-if="page.type != 'user'">
            Souhaitez-vous envoyer une demande pour devenir 
            {{ $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }} ?
          </h5>
          <h5 class="px-3" v-else>
            Souhaitez-vous envoyer une demande pour devenir amis ?
          </h5>
          
          <v-card-text class="px-3">
            <small v-if="page.type!='user'">Votre demande devra être validée par les administrateurs de cette page.</small>
            <small v-else>Votre demande devra être validée par {{ page.name }}.</small>
          </v-card-text>
        </template>
        
        <v-card-actions class="pa-3 btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn color="" text @click="showDialogRole = false">
            Annuler
          </v-btn>
          <v-btn color="blue" :disabled="isPending"  @click="manageRole('add', 'pending')">
            <v-icon small>mdi-check</v-icon> Oui, envoyer la demande
          </v-btn>
        </v-card-actions>

      </v-card>

      <v-card class="pa-5" v-else>
        <v-card-actions>
            <v-icon  class="pr-1">mdi-{{ icons[currentRoleRequest] }}</v-icon> 
            <h3 v-if="page.type != 'user'">
              Vous êtes déjà {{ $vuetify.lang.t('$vuetify.page.role_'+currentRoleRequest) }}
            </h3>
            <h3 v-else>Vous êtes déjà {{ $vuetify.lang.t('$vuetify.page.friend') }} avec {{ page.name }}</h3>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="showDialogRole=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-actions>

        <h5 class="px-3">
          Souhaitez-vous quitter ce rôle ?
        </h5>
        
        <v-card-actions class="pa-3 btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn color="" text @click="showDialogRole = false">
            Annuler
          </v-btn>
          <v-btn color="blue"  @click="manageRole('cancel', 'role')">
            <v-icon small>mdi-check</v-icon> Oui, quitter
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-if="showDialogFollowers && page != null" v-model="showDialogFollowers" max-width="550">
      <v-card class="pa-5">
        <v-card-actions>
            <v-icon  class="pr-1">mdi-link-variant</v-icon> 
            <h3 v-if="isFollowing">Vous êtes abonné à cette page</h3>
            <h3 v-if="!isFollowing">S'abonner</h3>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="showDialogFollowers=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-actions>

        <v-card-text v-if="!isFollowing" class="px-3">
          Abonnez-vous à cette page si vous souhaitez suivre ses publications plus facilement dans votre fil d'actualités.
        </v-card-text>

        <h5 v-if="isFollowing" class="px-3">
          Souhaitez-vous vous désabonner ?
        </h5>
        
        <v-card-actions class="pa-3 btn-lowerc">
          <v-spacer></v-spacer>
          <v-btn color="" text @click="showDialogFollowers = false">
            Annuler
          </v-btn>
          <v-btn color="blue" v-if="!isFollowing" @click="addToFollows()">
            <v-icon small>mdi-check</v-icon> Je m'abonne
          </v-btn>
          <v-btn color="blue" v-if="isFollowing" @click="removeFromFollows()">
            <v-icon small>mdi-cancel</v-icon> Je me désabonne
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<style>

  #map-container-page{
    height:300px;
    z-index:0;
    background-color: #1b2f35;
  }

  .capsule-profile{
    /* background-color: #1b1c1dcc; */
    /* margin-bottom:25px; */
    padding: 15px;
    border-radius: 0;
    font-size:1.3em!important;
  }
</style>

<script>

import core from '../../plugins/core.js'
import axios from 'axios'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker} from 'vue2-leaflet'

import ModalTchatForbiden from '@/components/page/ModalTchatForbiden2.vue'
import EndOfStreamPage from '@/components/page/EndOfStreamPage.vue'
import Post from '@/components/Post.vue'

const config = require('../../config/' + process.env.NODE_ENV)

export default {
  name: 'LightPageStream',
  components: { ModalTchatForbiden, EndOfStreamPage, Post,
                LMap, LTileLayer, LMarker, },
  data:() => ({
      page: null,
      loading: false,

      zoom:7,
      url : config.mapTilesUrl,
      attribution:'',
      showMap: true,

      pageNumber: 0,
      streamLoading: false,
      stream: [],
      endOfStreamPage: false,

      showDialogFollowers: false,
      showDialogRole: false,

      currentRoleRequest: '',

      icons : { 'admin' : 'crown', 
              'moderator': 'account-star', 
              'editor': 'handshake',
              'follower' : 'link'},

  }),
  props: [ 'pageUid', 'closePageDialog' ],
  mounted: function(){
      this.loadPage()
  },
  methods: {
    async loadPage(notEmpty=false){
      if(!notEmpty) {
        this.pageNumber = 1
        this.page = null
        this.stream = []
        this.endOfStreamPage = false
        this.loadStream()
        this.bindScroll()
      }


      try{
        this.loading = true
        axios.post('/page/profil', { pageUid: this.pageUid })
            .then( res => {
              if(res.data.error == false){
                this.page = res.data.page
                this.loading = false
            }
        })        
      }catch(e){
        //router.push('/login');
        console.log("error updateDataProfile", e)
      }
    },

    loadStream: async function(){
      if(this.pageNumber == 1) this.stream = []
      this.streamLoading=true
      let currentPos = {lat: this.$store.state.auth.profile.coordinates[1], 
                        lng: this.$store.state.auth.profile.coordinates[0] }

      let radius = 600000; 
      
      axios.post('/page/get-stream',{ search: "", 
                                      lat: currentPos.lat, 
                                      lng: currentPos.lng, 
                                      radius: radius,
                                      pageUid: this.pageUid,
                                      pageNumber: this.pageNumber })
                  .then((res)=>{
                    console.log("res /page/get-stream", res)
                    if(this.pageNumber == 1)  this.stream = res.data.stream
                    else                      this.stream = this.stream.concat(res.data.stream)

                    this.streamLoading = false
                    this.showScopeCircle = false
                    this.$root.$emit('streamLoaded');

                    this.endOfStreamPage = (res.data.stream.length < res.data.nbPerPage)

                    if(window.isDev) { console.log("res /page/get-stream", res); }
                  })
                  .catch((e)=>{
                    if(window.isDev) { console.log("error /page/get-stream", e); }
                  })
    
    },

    bindScroll: function(){
      if(document.getElementById('modal-page') != null){
        let scrollerModal = document.getElementById('modal-page').parentNode
        scrollerModal.removeEventListener('scroll', ()=>{})
        scrollerModal.addEventListener('scroll', ()=>{
          //console.log("scroll", this.EndOfStreamPage, this.streamLoading, scrollerModal.scrollTop)
          if(document.getElementById("streamPage") == null) return 
          //console.log("scroll-", document.getElementById("streamPage").offsetHeight - 400)
          //if(window.isDev) { console.log("scroll loadstream in page.vue", window.scrollY, document.getElementById("streamPage").offsetHeight-400, this.streamLoading, this.EndOfStreamPage, this.tab ); }
          if(!this.EndOfStreamPage 
          && scrollerModal.scrollTop > document.getElementById("streamPage").offsetHeight-400){
            console.log("time to reload !")
            if(!this.streamLoading && !this.EndOfStreamPage){
                this.pageNumber++
                this.loadStream()
            }
          }
        })
      }
    },

    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    completeText: function(text){
        return core.completeText(text)
    },
    openDialogRole: function(role){
      this.showDialogRole = true
      this.currentRoleRequest = role
    },
    async manageRole(type, action){ //action is invite or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: type,
                                  action: action,
                                  role: this.currentRoleRequest,
                                  page: { uid: this.$store.state.auth.profile.uid, 
                                          name: this.$store.state.auth.profile.name },
                                  onPageUid: this.page.uid,
                                 })
                   
      if(res.data.error == false){
          this.showDialogRole = false
          this.onRoleRequestSuccess()
      }
      console.log("/page/manage-role", res.data)
    },

    onRoleRequestSuccess: function(){
      this.loadPage(true)
    },
    
    addToFollows: async function(){
        if(window.isDev) { console.log("addToFollows"); }
        //this.loading = true
        const res = await axios.post('/page/add-to-follows', { 
                                        pageUid: this.page.uid,
                                        pageName: this.page.name
                                    })
                                    
        if(res.data.error == false){
            this.loadPage(true)
            this.showDialogFollowers = false
        }
        //this.loading = false
        //if(window.isDev) { console.log("res /page/add-to-blacklist", res.data); }
    },

    removeFromFollows: async function(){
        if(window.isDev) { console.log("removeFromFollows"); }
        //this.loading = true
        const res = await axios.post('/page/remove-from-follows', { 
                                        pageUid: this.page.uid
                                    })
                                    
        if(res.data.error == false){
            this.loadPage(true)
            this.showDialogFollowers = false
        }
        //this.loading = false
        if(window.isDev) { console.log("res /publication/delete-post", res.data); }
    },
    getDateFormat(page){
      let date = new Date(page.startDate)
      //var todayTime = new Date();
      var month = (date.getMonth() + 1);
      var day = (date.getDate());
      var year = (date.getFullYear());
      var min = date.getMinutes() > 9 ? date.getMinutes() : "0"+date.getMinutes()
      return day + "/" + month + "/" + year + " " + date.getHours() + "h" + min ;
    }
  },

  computed: {
    iName: function(){
      return core.iName(this.page.uid)
    },
    isRole: function(){
      console.log('this.page.roles', this.page.roles)
      console.log('this.page.roles', this.currentRoleRequest)
      let f = false
      this.page.roles[this.currentRoleRequest].forEach((p)=>{
      console.log('this.page.roles p', p, this.$store.state.auth.profile.uid)
        if(p.uid == this.$store.state.auth.profile.uid) f = true
      })
      return f
    },
    isPending: function(){
      console.log('this.page.roles', this.page.roles)
      console.log('this.page.roles', this.currentRoleRequest)
      let f = false
      this.page.pendingRoles[this.currentRoleRequest].forEach((p)=>{
      console.log('this.page.pendingRoles p', p, this.$store.state.auth.profile.uid)
        if(p.uid == this.$store.state.auth.profile.uid) f = true
      })
      return f
    },

    isAdmin: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.page, 'admin')
    },
    isModerator: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.page, 'moderator')
    },
    isEditor: function(){
        return core.isRole(this.$store.state.auth.profile.uid, 
                            this.page, 'editor')
    },

    isMyPage: function(){
        let found = false
        this.myPages.forEach((page) => {
            if(page.uid == this.page.uid)
            found = true
        })
        return found
    },
    isFollowing: function(){
        let found = false
        //console.log("this.page.followers", this.page.followers)
        if(this.page.followers==null) return false
        this.page.followers.forEach((page) => {
            if(window.isDev) { console.log("followers", page, this.$store.state.auth.profile.uid); }
            if(page == this.$store.state.auth.profile.uid)
            found = true
        })
        if(window.isDev) { console.log("followers", this.page.followers, this.$store.state.auth.profile.uid, found); }
        return found
    },
    isMyContact: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == this.$store.state.auth.profile.uid) loggedPage = page
        })
        let found = false
        loggedPage.contacts.forEach((page) => {
            if(page.uid == this.page.uid) found = true
        }); return found
    },
    isBlacklisted: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == this.$store.state.auth.profile.uid) loggedPage = page
        })
        let found = false
        loggedPage.blacklist.forEach((page) => {
            if(page.uid == this.page.uid) found = true
        }); return found
    },
    isMyProfil: function(){
        return this.page.uid == this.$store.state.auth.profile.uid
    },
    markerIconRoot: function(){
      if(this.showMap == true || this.showMap == false)
        console.log("refresh icon marker")

      let avatar = core.avatarUrl(this.page.uid)
      return L.icon({
          iconUrl: avatar, //'markers/root-marker-earth.png',
          iconSize:     [60, 60], // size of the icon
          iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
          popupAnchor:  [0, -30] // point from which the po
      });
    },
    iconsPageType: function(){
      return core.iconPageType(this.page.type)
    }
    
  },
  watch: {
    'pageUid': function() {
      console.log("pageUid changed", this.pageUid)
      this.loadPage()

    },
  }
  
  
}
</script>