<template>
<div>
  <!-- <v-btn @click="showModalTchatForbiden=true"
          class="mb-3 mt-3" color="blue-grey darken-2">
      <v-icon small class="mr-1">mdi-comment</v-icon> 
      Tchat en direct
  </v-btn>
   -->
  <v-dialog v-model="showModalTchatForbiden" max-width="650">
    <v-card class="pa-5">
      <v-card-actions>
          <v-icon  class="pr-1">mdi-handshake</v-icon> 
          <h3 v-if="page.type == 'user'">Devenez amis pour discuter ensemble !</h3>
          <h3 v-if="page.type != 'user'">Vous n'êtes pas membre de cette page :<br><u>{{ page.name }}</u></h3>
          <v-spacer></v-spacer>
          <v-btn class="mr-3" icon @click="showModalTchatForbiden=false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-card-actions>

      <v-card-text v-if="page.type == 'user'" class="px-3">
        Pour discuter avec <b>{{ page.name }}</b>, vous devez d'abord être amis.
      </v-card-text>
      <v-card-text v-else class="px-3">
        Pour entrer dans le tchat de cette page, vous devez d'abord devenir membre.
      </v-card-text>

      <h5 class="px-3" v-if="page.type == 'user'">
         Souhaitez-vous envoyer une demande pour devenir amis ?
      </h5>
      <h5 class="px-3" v-else>
         Souhaitez-vous envoyer une demande, pour devenir membre de <u>{{ page.name }}</u> ?
      </h5>
      
      <v-card-text v-if="page.type == 'user'" class="px-3">
        Si <b>{{ page.name }}</b> accepte cette demande, alors vous pourrez discuter en privé !
      </v-card-text>
      <v-card-text v-else class="px-3">
        Si les administrateurs de cette page acceptent votre demande, alors vous pourrez entrer dans le tchat pour discuter avec les autres !
      </v-card-text>

      <v-card-actions class="pa-3 btn-lowerc">
        <v-spacer></v-spacer>
        <v-btn color="" text @click="showModalTchatForbiden = false">
          Annuler
        </v-btn>
        <v-btn color="blue"   @click="manageRole('add', 'pending')">
          <v-icon v-if="page.type == 'user'">mdi-handshake</v-icon> 
          <v-icon v-else>mdi-handshake</v-icon> 
          Envoyer une demande
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>


<script>
import core from '../../plugins/core.js'
import axios from 'axios'

export default {
  name: 'pending-role',
  props: ['page', 'onRoleRequestSuccess'],
  components: { },
  data: () => ({
    showModalTchatForbiden: false,
  }),
  
  mounted: async function(){

  },
  methods: {
    
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    async manageRole(type, action){ //action is invite or cancel
      let res = await axios.post('/page/manage-role', { 
                                  type: type,
                                  action: action,
                                  role: 'editor',
                                  page: { uid: this.$store.state.auth.profile.uid, 
                                          name: this.$store.state.auth.profile.name },
                                  onPageUid: this.$route.params.pageUid,
                                 })
                   
      if(res.data.error == false){
          this.onRoleRequestSuccess()
      }
      console.log("/page/manage-role", res.data)
    },
  },
  computed: {
    
  },
  
  
};
</script>
