<template>
<v-card max-width="850"
        class="mx-auto mt-3" color="rgb(38, 37, 40)">
      
    <v-list three-line color="transparent">
    
        <v-list-item>
            <div style="color:white; text-decoration:none;" class="mr-3 cursor-pointer" @click="$root.$emit('openModalUserPage', page.uid)">
                <!-- <v-list-item-avatar class="mt-6 mr-2"> -->
                    <v-avatar size="45" >
                        <v-img :src="avatarUrl(page.uid)" :class="page.online ? 'online' : ''"/>
                    </v-avatar>
                <!-- </v-list-item-avatar>  -->
            </div>

            <v-list-item-content class="cursor-pointer" @click="$root.$emit('openModalUserPage', page.uid)">
                    <span style="color:white; text-decoration:none;" class="mb-2"
                                :to="pathToPage+page.uid">{{ page.name }}</span>

                    <h3 v-if="page.type == 'event'" 
                            class="font-konkretika mb-2">
                            {{ getDateFormat(page) }}
                    </h3>
                    
                    <small>
                        <span v-if="page.city!=null" class="mb-2">
                            <v-icon x-small>mdi-map-marker</v-icon> {{ page.city }}
                        </span>


                        
                        <span style="color:#5D586C;" v-if="page.type == 'user'">
                            <span v-if="statusConnected == 0" title="connecté il y a moins de 3 minutes" class="green--text">
                                <v-icon x-small color="green" class="ml-1" style="margin-right:-3px;">mdi-flash</v-icon> en ligne
                            </span>
                            <span v-if="statusConnected == 1" class="yellow--text text--darken-2">
                                <v-icon x-small color="yellow darken-2" class="ml-1">mdi-flash</v-icon>
                                <span class="d-none d-sm-inline mr-1">était en ligne</span>
                                <time-ago style="margin-left: -4px;"
                                        :datetime="page.dateConnected" 
                                        :refresh="60" 
                                        long :locale="$vuetify.lang.current">
                                </time-ago>
                            </span>
                            <span v-if="statusConnected == 2" class="grey--text text--darken-2">
                                <v-icon x-small color="grey darken-2" class="ml-1">mdi-flash</v-icon>
                                <span class="d-none d-sm-inline">était</span> en ligne
                                il y a {{ diffInDays }} jour<template v-if="diffInDays > 1">s</template>
                            </span>
                            <span v-if="statusConnected == 3" class="grey--text text--darken-2">
                                <v-icon x-small color="grey darken-2" class="ml-1">mdi-flash</v-icon>
                                hors ligne <span class="d-none d-sm-inline mr-1">depuis</span> + 100 jours
                            </span>
                        </span>
                    </small>

                <small v-if="page.date!=null">
                    <small>
                        <v-icon x-small>mdi-map-marker</v-icon> {{ page.city }}
                    </small>
                </small>

                <p v-if="page.description!=null && page.description!=''" 
                            style="color:white; text-decoration:none;"  
                            :to="pathToPage+page.uid">
                    <v-alert class="pa-2 mt-1 mb-0" style="font-size:0.8em;max-width:580px;"
                            v-html="completeText(page.description.substr(0,130) + ((page.description.length > 130) ? '...' : ''))" >   
                    </v-alert>
                </p>
                
                <v-col class="pa-0">
                    <v-chip v-if="page.followers != null" small text-color="primary" color="rgba(29, 59, 70, 0.5)" class="mt-2 pl-2">
                        <v-icon class="mr-1" x-small>mdi-link-variant</v-icon> {{ page.followers.length }} 
                        {{ $vuetify.lang.t('$vuetify.main.follower'+(page.followers.length > 1 ? 's' : '')) }}
                    </v-chip>
                    <div class="d-none d-sm-inline pa-0"  v-if="page.hashtags != null && page.hashtags.length > 0">
                        <template v-for="(tag, i) in page.hashtags">
                            <v-chip small v-if="i<3" :key="i" 
                                    class="mr-2 mt-2 pa-1" color="transparent" text-color="blue">
                                    {{ tag }} 
                            </v-chip>
                        </template>
                            <small class="blue--text" v-if="page.hashtags.length>3">...</small>
                    </div>
                </v-col>
            </v-list-item-content>
            <v-list-item-content style="max-width:30px; margin-left:5px; padding:0px;">
                <v-btn small icon :to="pathToPage+page.uid"
                        title="Aller sur la page">
                    <v-icon v-if="page.type=='user'" color="yellow" small>mdi-account</v-icon>
                    <v-icon v-if="page.type=='group'" color="red" small>mdi-account-group-outline</v-icon>
                    <v-icon v-if="page.type=='assembly'" color="purple" small>mdi-hexagon-multiple-outline</v-icon>
                    <v-icon v-if="page.type=='event'" color="orange" small>mdi-calendar-clock</v-icon>
                </v-btn>

                <template v-if="activeSuperAdmin != true">
                <!-- FOLLOW -->
                <v-btn small icon color="primary" @click="toolKey = 'remove-follow'" v-if="isFollowing"
                        title="Se désabonner de cette page">
                    <v-icon small>mdi-link-variant-off</v-icon> 
                </v-btn>
                <v-btn small icon @click="toolKey = 'add-follow'" v-else
                        title="S'abonner à cette page">
                    <v-icon small>mdi-link-variant</v-icon>
                </v-btn>
                <!-- BLACKLIST -->
                <v-btn small icon color="primary" @click="toolKey = 'remove-blacklist'" v-if="isBlacklisted"
                        title="Supprimer de votre liste noire">
                    <v-icon small>mdi-eye-check-outline</v-icon>
                </v-btn>
                <v-btn small icon @click="toolKey = 'add-blacklist'" v-else
                        title="Ajouter à votre liste noire">
                    <v-icon small>mdi-scissors-cutting</v-icon>
                </v-btn>
                </template>

                <template v-else>
                    <v-btn small icon color="red" @click="toolKey = 'remove-page'"
                            title="Supprimer cette page">
                        <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                </template>
            </v-list-item-content>

        </v-list-item>
    </v-list>

    <BlockFollows
        v-if="toolKey.indexOf('follow') > -1"
        :page="page"
    />
    <BlockContact
        v-if="toolKey.indexOf('contact') > -1"
        :page="page"
    />
    <BlockBlacklist
        v-if="toolKey.indexOf('blacklist') > -1"
        :page="page"
    />
    <BlockRemovePageAdmin
        v-if="toolKey.indexOf('page') > -1"
        :page="page"
    />
</v-card>
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }

    .yellow--text .v-time-ago__text{
        color:#fbc02d!important;
    }
    .yellow--text .v-time-ago__text{
        color:#fbc02d!important;
    }
</style>

<script>
import BlockFollows from '@/components/page/BlockFollows.vue'
import BlockContact from '@/components/page/BlockContact.vue'
import BlockBlacklist from '@/components/page/BlockBlacklist.vue'
import BlockRemovePageAdmin from '@/components/page/BlockRemovePageAdmin.vue'

import TimeAgo from 'vue2-timeago'

import core from '../../plugins/core.js'

export default {
  name: 'pageCard',
  components: { BlockFollows, BlockContact, BlockBlacklist, BlockRemovePageAdmin, TimeAgo },
  data:() => ({
      toolKey: '',
  }),
  props: ['page', 'activeSuperAdmin', 'type' ],
  mounted: function(){
      this.$root.$on('closeBlock', (uid) => { 
        if(this.page.uid == uid) this.toolKey = ''
      })
  },
  methods: {
     
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }, 
    completeText: function(text){
        return core.completeText(text, null, false)
    },
    getDateFormat(page){
      let date = new Date(page.startDate)
      //var todayTime = new Date();
      var month = (date.getMonth() + 1);
      var day = (date.getDate());
      var year = (date.getFullYear());
      var min = date.getMinutes() > 9 ? date.getMinutes() : "0"+date.getMinutes()
      return day + "/" + month + "/" + year + " " + date.getHours() + "h" + min ;
    }

  },

  computed: {
    isFollowing: function(){
        return core.isFollowing(this.$store.state.auth, this.page.uid)
    },
    isMyContact: function(){
        return core.isMyContact(this.$store.state.auth, this.page.uid)
    },
    isBlacklisted: function(){
        return core.isBlacklisted(this.$store.state.auth, this.page.uid)
    },
    pathToPage: function(){
        return (this.type=='roleEditor') ? '/live/' : '/page/'
    },
    statusConnected(){ //return true si la page été connecté il y a moins de 3 minutes
        if(this.page.dateConnected == null) return 4

        let pageDate = new Date(this.page.dateConnected)
        
        let date3MinAgo = new Date()
        date3MinAgo.setMinutes( date3MinAgo.getMinutes() - 3 );

        let date1DayAgo = new Date()
        date1DayAgo.setMinutes( date1DayAgo.getMinutes() - (60 * 24) ); //60 minutes * 24h

        if(pageDate > date3MinAgo) return 0 
        if(pageDate > date1DayAgo) return 1

        if(this.diffInDays < 100) return 2

        return 3
        //console.log("dateMinAgo", pageDate, dateMinAgo)
        //return pageDate > date3MinAgo
    },
    diffInDays: function() {
          if(this.page.dateConnected == null) return 200
          
        let d1 = new Date(this.page.dateConnected)
        let d2 = new Date()

        var t2 = d2.getTime()
        var t1 = d1.getTime()

        return parseInt((t2-t1)/(24*3600*1000))
    },
    
  }
  
  
}
</script>