 <template>
 <div>
    <p class="survey-answer">
      {{ answer }}<br>
    </p>
    <v-chip x-small class="px-2 chip-percent" 
          style="font-size:13px;" color="primary">
          {{ parseInt(votePercent) }}%
    </v-chip> 
    <v-progress-linear :value="votePercent" background-color="primary darken-3"
                        class="progress-vote">
    </v-progress-linear>
    
    <v-chip x-small class="px-2 chip-nb-votes" 
          title="nombre total de votes pour cette réponse"
          style="font-size:13px;" color="primary darken-3">
          <v-icon x-small class="mr-1">mdi-vote</v-icon> 
          {{ nbVotes }}
    </v-chip> 
</div>
</template>


<script>

export default {
  name: 'ProgressResVote',
  components: { },
  props: [ 'answer', 'votePercent', 'nbVotes' ],
  data:() => ({
  })
}

</script>