<template>
<div>
  <v-card class="pa-4" outlined color="grey darken-4" id="card-survey" 
          v-if="survey != null && !surveyRemoved">
   
    <v-col cols="12" class="pa-0" style="font-size:0.8em;" v-if="minimize !== true">
      <router-link :to="'/page/'+survey.author.uid" class="white--text">
        <img :src="avatarUrl(survey.author.uid)" 
              height="23" width="23" style="margin-bottom:-5px;">
        {{ survey.author.name }}, <small>de {{ survey.author.city }}</small>,
        <time-ago :datetime="survey.created" 
                            :refresh="60" long :locale="$vuetify.lang.current"></time-ago>
      </router-link>

  
      <v-btn fab color="blue darken-2" v-if="survey.uid != $route.params.surveyUid"
              x-small :to="'/room/survey/'+survey.uid" title="afficher les commentaires"
              style="float:right; margin:-4px 0 0 10px;">
        <v-icon small>mdi-comment-multiple</v-icon>
      </v-btn>
      <v-btn text v-if="AUTH('delete')"
              x-small @click="showDeleteConfirmation=true"
              style="float:right;">
        <v-icon small>mdi-delete</v-icon>
      </v-btn>
      <v-btn text v-if="AUTH('edit')"
              x-small :to="'/room/edit-survey/'+survey.uid"
              style="float:right;">
        <v-icon small>mdi-pencil</v-icon>
      </v-btn>

    </v-col>

    <v-col cols="12" class="pa-0 mt-1 pb-3 mb-4" 
            style="font-size:0.8em; border-bottom: 1px solid #333;" 
            v-if="minimize !== true">
      <router-link :to="'/room/'+survey.parentPage.uid" class="white--text">
        <v-icon small class="ml-1 mr-2">mdi-subdirectory-arrow-right</v-icon>
        <img :src="avatarUrl(survey.parentPage.uid)" 
              height="23" width="23" style="margin-bottom:-5px;">
        {{ survey.parentPage.name }}
      </router-link>


        <v-col v-show="showDeleteConfirmation==true" v-if="AUTH('delete')">
            <v-card outlined>
                <v-col class="py-0">
                    <v-row>
                        <v-col>{{ $vuetify.lang.t('$vuetify.survey.dyw_delete_survey') }} ?</v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey darken-3" @click="showDeleteConfirmation=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="deleteSurvey()">
                                <v-icon small>mdi-delete</v-icon> {{ $vuetify.lang.t('$vuetify.main.delete') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>
    </v-col>
    

    <p class="mb-1 " style="">
      <v-btn fab :loading="loadingSurvey" class="btn-action-survey"
              color="grey darken-3" @click="refreshSurvey(survey.uid)"
              title="rafraîchir les données"
              x-small style="float:right; margin:-4px 0px 0 10px;">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>


     
      <v-chip small class="mb-2 pl-2" style=""
              color="grey darken-3" text-color="white">
        <v-icon color="white" class="mr-1" x-small>mdi-vote</v-icon> 
        {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }}
      </v-chip>
      
      <v-chip small class="mb-2 pl-2"
              color="transparent" text-color="purple darken-1" v-if="toSupport"
              :title="'ouverture des votes dans '+pendingHoursToOpen+'h'">
        <v-icon x-small class="mr-1">mdi-clock</v-icon> {{ pendingHoursToOpen }}h
      </v-chip>
      <v-chip small class="mb-2 pl-2"
              color="transparent" text-color="blue darken-3" v-if="ended"
              title="période de vote terminée">
        <v-icon x-small class="mr-1">mdi-ray-end</v-icon> terminé
      </v-chip>
      <v-chip small class="mb-2 pl-2" style=""
              color="transparent" text-color="green darken-3" v-if="open"
              :title="'fermeture des votes dans ' + pendingTimeToClose">
        <v-icon x-small class="mr-1">mdi-clock</v-icon> {{ pendingTimeToClose }}
      </v-chip>

      <br>

      <router-link :to="'/room/survey/'+survey.uid" class="pl-1 white--text">
        {{ survey.title }}
      </router-link>

      <v-btn fab color="grey darken-3" @click="openDialogDuplicate()" v-if="open || ended"
              :title="'dupliquer ce '+ $vuetify.lang.t('$vuetify.survey.type_'+survey.type)"
              x-small style="float:right;margin-top:10px;" class="btn-action-survey">
        <v-icon>mdi-share</v-icon>
      </v-btn>
      
    </p>

    <p class="survey-text" v-html="completeText"></p>
    
    <small class="mb-4" v-if="survey.tags != null && survey.tags.length > 0">
      <template v-for="(tag, t) in survey.tags">
        <v-chip class="mr-1" small :key="t">{{ tag }}</v-chip>
      </template><br><br>
    </small>
      
    <template v-for="(answer, j) in survey.answers">
      <v-row :key="j" class="answer-survey">
        <v-col class="pr-5">
          <ProgressResVote :answer="answer" 
                           :votePercent="votePercent(j)"
                           :nbVotes="survey.results[j] ? survey.results[j] : 0">
          </ProgressResVote>
        </v-col>
        <v-col cols="2" sm="1" md="1" 
                v-if="open && survey.canVote"
                class="text-right pr-0 pl-0">
          <v-btn fab class="mr-2" x-small :loading="loadingVote && myVote == j" 
                  v-if="alreadyVote === false" title="cliquer pour voter"
                  color="green" @click="sendVote(j)">
            <v-icon small>mdi-vote</v-icon> 
          </v-btn>
          <v-chip  class="mr-2 mt-3 px-2"
                  v-if="alreadyVote === true && myVote == j"
                  color="green darken-3" title="vous avez voté pour cette réponse">
            <v-icon small>mdi-thumb-up</v-icon>
          </v-chip> 
        </v-col>
      </v-row>
    </template>

    <v-col cols="12" class="pa-0 py-2 mt-5" v-if="toSupport">
      <v-chip small class="px-2 chip-percent" 
              style="font-size:15px;" 
              color="purple darken-3">
               {{ supports1percent }}% de soutient
      </v-chip> 

      <v-progress-linear :value="supports1percent"  background-color="red darken-3"
                          color="purple darken-2" 
                          class="progress-vote">
      </v-progress-linear>
    </v-col>

    <v-row>
      <template v-if="!toSupport">
      <v-btn text color="blue-grey darken-2" class=" btn-action-survey" x-small 
             @click="showCumulatedResults=!showCumulatedResults">
        <!-- afficher une popup qui explique le fonctionnement des votes -->
        <v-icon x-small class="mr-1">mdi-vote</v-icon> afficher les résultats cumulés
      </v-btn>

      <v-col cols="12" class="" v-if="showCumulatedResults">
        <CumulResults :parentSurvey="survey" 
                      :surveyUid="survey.originalSurveyUid"></CumulResults>
      </v-col>
      </template>
      
      <v-col cols="12" class="py-0" 
              v-if="toSupport">
        <small class="purple--text">
          Ce {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }}
          sera ouvert aux votes dans {{ pendingHoursToOpen }}h, 
          si il reçoit plus de 50% de soutient
        </small> 
        <v-btn icon color="purple darken-" x-small @click="openPopupInfoSurveySupport = true">
          <!-- afficher une popup qui explique le fonctionnement des votes -->
          <v-icon>mdi-information-outline</v-icon>
        </v-btn>
      </v-col>
      
      <v-col cols="12" class="pa-0 text-right" 
              v-if="toSupport && alreadySupport == false && survey.canVote == true">
        <v-btn color="purple darken-3" class="mt-2 mr-1" @click="sendSupport(1)">
          <v-icon small class="mr-1">mdi-check</v-icon> Soutenir
          <v-chip small class="ml-1 pl-2" color="purple darken-4">
            <v-icon x-small class="mr-1 d-none d-sm-inline">mdi-account</v-icon> {{ supports1 }}
          </v-chip>
        </v-btn>
    
        <v-btn color="red" class="ml-1 mr-1 mt-2" @click="sendSupport(0)">
          <v-icon small class="mr-1">mdi-cancel</v-icon> Rejeter
          <v-chip small class="ml-1 pl-2" color="red darken-4">
            <v-icon x-small class="mr-1 d-none d-sm-inline">mdi-account</v-icon> {{ supports0 }}
          </v-chip>
        </v-btn>
      </v-col>
      
      <v-col cols="12" class="pa-0" v-if="survey.canVote == false">
        <small class="ml-1 pl-2 grey--text text--darken-3">
          Vous ne pouvez pas participer à cette séance
        </small>  
      </v-col>

      <v-col cols="12" class="py-0 text-right" 
              v-if="toSupport && alreadySupport == true">
        
          
          <v-chip small class="ml-1 pl-2 mt-1" color="purple darken-4">
            <v-icon x-small class="mr-1 d-none d-sm-inline">mdi-account</v-icon> {{ supports1 }}
            <v-icon small class="ml-1">mdi-check</v-icon>
          </v-chip>
          <v-chip small class="ml-1 pl-2 mt-1" color="red darken-4">
            <v-icon x-small class="mr-1 d-none d-sm-inline">mdi-account</v-icon> {{ supports0 }}
            <v-icon small class="ml-1">mdi-cancel</v-icon>
          </v-chip>
          <br>
          <small v-if="mySupport == '0'" class="red--text">
            Vous avez rejeté ce {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }}
          </small>
          <small v-if="mySupport == '1'" class="purple--text">
            Vous avez soutenu ce {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }}
          </small>

      </v-col>

    </v-row>

  </v-card>

  <v-card class="" outlined v-else-if="!loadingSurvey">
    <v-card-title class="red--text">
      <v-btn class="mr-3" v-if="this.$route.path.indexOf('/room/survey/') > -1" fab @click="$router.back()"><v-icon>mdi-arrow-left</v-icon></v-btn>
      <v-icon color="red" class="mr-3">mdi-delete</v-icon> 
      Cette séance de vote a été supprimé
    </v-card-title>
  </v-card>
  <v-card class="" outlined v-else-if="loadingSurvey">
    <v-skeleton-loader ref="skeleton"
                  :boilerplate="false"
                  type="list-item-avatar-three-line"
                  :tile="false"
                  class="mx-auto"
                  v-show="true"
              ></v-skeleton-loader>
  </v-card>

  <v-dialog v-model="showDialogDuplicate" v-if="survey != null" max-width="600" persistent>
    <v-card>
      <v-card-actions>
        <v-card-title class="">
          <v-icon  class="mr-2">mdi-share</v-icon> 
          Dupliquer le {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }}
        </v-card-title>
        <v-spacer></v-spacer>
        <v-btn color="purple darken-3" class="mr-3" small fab 
               @click="showDialogDuplicate = false">
          <v-icon small>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>

      <v-row class="mx-0" v-if="duplicateType==''">
        <v-col cols="12">
          <v-card outlined class="card-btn-select" @click="duplicateSame()">
            <v-col>
              <v-icon small>mdi-chevron-right</v-icon> 
              Dupliquer à l'identique
              <v-card-text>
                Reproduisez exactement la même séance de vote, dans une autre assemblée, 
                située à moins de 200 km de votre position principale.<br><br>
                Les résultats de toutes les séances identiques seront cumulées.
              </v-card-text>
            </v-col>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card outlined class="card-btn-select" @click="duplicateEdit()">
            <v-col>
              <v-icon small>mdi-chevron-right</v-icon>
              Copier et modifier  
              <v-card-text> 
              Publiez un nouveau {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }},
              en partant des paramètres d'un {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }} existant
              (titre, texte, questions, etc).
              <br><br>
              Les résultats de cette séance de vote ne seront pas liés à la séance d'origine.
              </v-card-text>
            </v-col>
          </v-card>
        </v-col>
      </v-row>

      <v-row class="mx-0" v-if="duplicateType!=''">
        <v-col cols="12" class="pt-0">
          <p>
              <v-icon small>mdi-chevron-right</v-icon> 
              Sélectionnez l'assemblée qui recevra le {{ $vuetify.lang.t('$vuetify.survey.type_'+survey.type) }}
          </p>
          <v-card outlined v-if="duplicateRooms.length > 0">
            <v-col>
              <v-list>
                <v-list-item v-for="(room, r) in duplicateRooms" :key="r"
                               class="card-btn-select" @click="selectDuplicateRoom(room.uid)">
                  <v-list-item-icon class="mr-0">
                    <v-icon class="mr-2">mdi-hexagon-multiple-outline</v-icon> 
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>{{ room.name }}
                    </v-list-item-title>
                    <v-list-item-subtitle v-if="room.city != null">
                      <v-icon x-small color="grey">mdi-map-marker</v-icon> {{ room.city }}
                    </v-list-item-subtitle>                    
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
          </v-card>

          <v-alert class="red--text" v-else>
            <br>
            Oups ! Aucune assemblée n'existe près de chez-vous...<br><br>
            <v-btn block color="purple darken-3" to="/find-assembly/true">
              <v-icon small class="">mdi-plus</v-icon> 
              <v-icon small class="mr-1">mdi-hexagon-multiple-outline</v-icon> 
              créer une assemblée
            </v-btn>
          </v-alert>
          
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="purple lighten-1" class="mr-3" text @click="showDialogDuplicate = false">
          <v-icon small class="mr-2">mdi-check</v-icon> 
          {{ $vuetify.lang.t('$vuetify.main.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <ModalInfoSurveySupport :openPopupInfoSurveySupport="openPopupInfoSurveySupport"></ModalInfoSurveySupport>

  </div>
</template>


<style>
   p.survey-text{
     font-size:0.8em;
     color: rgba(255, 255,255, 0.85)
   }
   p.survey-answer{
     font-size:0.8em;
     line-height:17px;
     padding-left:53px;
     margin:0px;
   }
   .chip-percent{
     margin-top: -36px !important;
     margin-bottom: -6px !important;
     border-radius: 4px 4px 0 0 !important;
   }
   .chip-nb-votes{
     border-radius: 0 0 4px 4px !important;
     padding-bottom:2px;
     margin-right:0px;
     float:right;
   }
   .progress-vote{
     margin-top: -18px !important;
   }
</style>
<style scoped>

   .card-btn-select:hover{
    background-color: rgb(53, 48, 55);
  }
</style>


<script>
import axios from 'axios';
import router from '../../router/router'

import CumulResults from '@/components/room/CumulResults.vue'
import ProgressResVote from '@/components/room/ProgressResVote.vue'

import core from '../../plugins/core.js'
import TimeAgo from "vue2-timeago";
import ModalInfoSurveySupport from '@/components/main-layout/modals/ModalInfoSurveySupport.vue';

export default {
  name: 'VoteRoom',
  components: { TimeAgo, CumulResults, ProgressResVote, ModalInfoSurveySupport },//Post },
  props: [ 'survey', 'minimize', 'loadingSurvey' ],
  data:() => ({
    loadingVote: false,
    showDeleteConfirmation: false,

    supports0 : 0,
    supports1 : 0,
    supports1percent: 0,

    alreadySupport: false,
    mySupport: null,

    alreadyVote: false,
    myVote: null,
    surveyRemoved: false,

    showDialogDuplicate: false,

    duplicateType: 'same',
    duplicateRoomUid: null,
    duplicateRooms: [],

    showCumulatedResults: false,
    openPopupInfoSurveySupport: false
  }),
  async mounted(){
    this.showCumulatedResults = false
    //this.calcSupports(this.survey.supports)
  },
  methods: {
    async sendSupport(voteValue){
      const res = await axios.post(`/room/send-support`, { 
                            surveyUid: this.survey.uid, 
                            voteValue: voteValue
                           
      })
      if(res.data.error == false){
        //console.log("/room/send-support", res.data)
        this.calcSupports(res.data.supports)
        //router.push('/room/survey/' + res.data.survey.uid)
      }
    },
    async sendVote(voteValue){
      this.loadingVote = true
      this.myVote = voteValue
      const res = await axios.post(`/room/send-vote`, { 
                            surveyUid: this.survey.uid, 
                            voteValue: voteValue
                           
      })
      this.loadingVote = false
      console.log("/room/send-vote", res.data)
      if(res.data.error == false){
        this.refreshSurvey()
      }
    },
   
    refreshSurvey(){
      this.$root.$emit('refreshCurrentSurvey', this.survey.uid)
    },
    calcSupports(supports){
      //console.log("calcSupports", supports)
      if(supports != null){
        this.supports0 = 0
        this.supports1 = 0
        this.alreadySupport = false
        supports.forEach((supp)=>{
          if(supp.voteValue == "0") this.supports0++
          if(supp.voteValue == "1") this.supports1++
          if(supp.authorPageUid == this.$store.state.auth.profile.uid) {
            this.alreadySupport = true
            this.mySupport = supp.voteValue
          }
        })
        this.supports1percent = this.supports0 + this.supports1 == 0 ? 0 : parseFloat(this.supports1 / supports.length * 100).toFixed(0)
      }
    },
    async deleteSurvey() {
      const res = await axios.post(`/room/delete-survey`, { 
                            surveyUid: this.survey.uid
      })
      if(res.data.error == false){
        console.log("success /room/delete-survey", res.data)
        this.surveyRemoved = true
        //this.$store.dispatch('room/deleteCurrentSurvey')
      }
    },
    async openDialogDuplicate(){
        this.showDialogDuplicate = true
        this.duplicateType = ''
        this.duplicateRoomUid = null

        const {data} = await axios.post('/page/get-map-pages', { 
                                    pageType: 'assembly',
                                    lat: this.$store.state.auth.profile.coordinates[1], 
                                    lng: this.$store.state.auth.profile.coordinates[0], 
                                    radius: 200000,
                                })
        this.duplicateRooms = data.mapPages
        //this.duplicateRooms = []
    },
    duplicateSame(){
      this.duplicateType = 'same'
      this.duplicateRoomUid = null
    },
    duplicateEdit(){
      this.duplicateType = 'edit'
      this.duplicateRoomUid = null
    },
    selectDuplicateRoom(roomUid){
      this.duplicateRoomUid = roomUid
      if(this.duplicateType == 'same') this.sendDuplicate()
      if(this.duplicateType == 'edit') this.editDuplicate()
    },
    async sendDuplicate(){
      const {data} = await axios.post('/room/duplicate-survey', { 
                                    inRoomUid: this.duplicateRoomUid,
                                    surveyUid: this.survey.uid
                                })
      if(data.error == false){
        this.showDialogDuplicate = false
        this.duplicateType = ''
        this.duplicateRoomUid = null
      }
      
    },
    editDuplicate(){
      router.push('/room/duplicate-survey/'+this.survey.uid+'/'+this.duplicateRoomUid)
    },
    AUTH(type){
      if(type == 'edit'){
        if(this.survey.author == null) return false
        return     this.toSupport
                && this.survey.author.uid == this.$store.state.auth.profile.uid
                && this.survey.uid == this.survey.originalSurveyUid
      }
      if(type == 'delete'){
        if(this.survey.author == null) return false
        //si le user qui veut delete est pas l'admin du serveur sur lequel se trouve le survey
        if(this.$store.state.auth.user.isAdmin
        && core.iName(this.survey.uid) == core.iName(this.$store.state.auth.profile.uid)) 
          return true

        return     this.toSupport
                && this.survey.author.uid == this.$store.state.auth.profile.uid
      }
    },
    avatarUrl: function(roomUid){
      return core.avatarUrl(roomUid)
    },
    votePercent : function(j){
      //console.log('votePercent', this.survey.results[j], '/', this.survey.votes.length)
      return this.survey.results[j] > 0 ? this.survey.results[j] / this.survey.votes.length * 100 : 0
    }
  },

  computed : {
    toSupport(){ return this.survey.open == false && this.survey.rejected == false && this.survey.dateOpen == null },
    rejected(){ return this.survey.open == false && this.survey.rejected == true  },
    open(){ return this.survey.open == true && this.survey.rejected == false && this.survey.dateEnd != null },
    ended(){ return this.survey.open == false && this.survey.rejected == false && this.survey.dateEnd != null },

    pendingHoursToOpen(){
      let now = new Date()
      return parseInt(24 - Math.abs(now - new Date(this.survey.created)) / 36e5)
    },
    pendingTimeToClose(){
      let now = new Date()
      let nbDays = parseInt(Math.abs(new Date(this.survey.dateEnd) - now) / (60*60*24*1000))
      if(nbDays > 0) return nbDays + " j"
      else return parseInt(Math.abs(new Date(this.survey.dateEnd) - now) / (60*60*1000)) + "h"
    },
    completeText: function(){
        let txt = core.completeText(this.survey.text, this.survey.tags)
        return (txt == "") ? "<br>" : txt
    },
  },
  watch: {
      'survey': { immediate: true, 
          handler () {
            //if(window.isDev) { console.log("#SURVEY has changed", this.survey.uid); }
            if(this.survey == null) { this.surveyRemoved = true; return }

            this.surveyRemoved = false
            this.calcSupports(this.survey.supports)

            this.survey.votes.forEach((vote)=>{
              if(vote.authorPageUid == this.$store.state.auth.profile.uid) {
                this.alreadyVote = true
                this.myVote = vote.voteValue
              }
            })
          }
      },
  }, 
}
</script>