<template>
<div>
  <v-dialog  v-model="sEditChannel" width="500">
    <v-card>
      <v-card-title class="">Modifier le nom du salon</v-card-title>
      <v-col><v-text-field solo hide-details v-model="newChannelName" @change="saveEditChannel()"></v-text-field></v-col>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" text @click="sEditChannel=false">Annuler</v-btn>
        <v-btn color="green" text @click="saveEditChannel()" :loading="loading">Valider</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog  v-model="sEditCategory" width="500">
    <v-card>
      <v-card-title class="">Modifier le nom de la catégorie</v-card-title>
      <v-col><v-text-field solo hide-details v-model="newCategoryName"></v-text-field></v-col>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" text @click="sEditCategory=false">Annuler</v-btn>
        <v-btn color="green" text @click="saveEditCategory()" :loading="loading">Valider</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog  v-model="sDeleteChannel" width="500">
    <v-card>
      <v-card-title class="pb-0"><v-icon class="mr-1">mdi-delete</v-icon> Supprimer ce salon ?</v-card-title>
      <v-col class="py-0">
        <v-card-text>
          Toutes les donées liées seront perdues.
          <br>Êtes-vous sûr de vouloir supprimer ce salon ?
        </v-card-text>
      </v-col>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" text @click="sDeleteChannel=false">Annuler</v-btn>
        <v-btn color="green" text @click="deleteChannel()" :loading="loading">Oui, supprimer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog  v-model="sDeleteCategory" width="500">
    <v-card>
      <v-card-title class="pb-0"><v-icon class="mr-1">mdi-delete</v-icon> Supprimer cette catégorie ?</v-card-title>
      <v-col class="py-0">
        <v-card-text>
          Toutes les donées liées seront perdues.
          <br>Êtes-vous sûr de vouloir supprimer cette catégorie ?
        </v-card-text>
      </v-col>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" text @click="sDeleteCategory=false">Annuler</v-btn>
        <v-btn color="green" text @click="deleteCategory()" :loading="loading">Oui, supprimer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
  import axios from 'axios'
  export default {
    props: ['showEditChannel', 'showEditCategory', 'showDeleteChannel', 'showDeleteCategory',
            'chanName', 'chanUid', 'categoryName', 'catUid', 'updateLiveData'],
    data:() => ({
        newChannelName: "",
        newCategoryName: "",

        channelUid: "",
        categoryUid: "",
        
        sEditChannel : false,
        sEditCategory : false,
        sDeleteChannel : false,
        sDeleteCategory : false,

        loading: false

    }),

    async mounted(){
      this.$root.$off('sEditChannel').$on('sEditChannel', (chanName, chanUid, catUid) => { 
        this.newChannelName = chanName
        this.channelUid = chanUid
        this.categoryUid = catUid
        this.sEditChannel = true
        if(window.isDev) { console.log('#MODAL sEditChannel', chanName, this.newChannelName, chanUid); }
      })
      this.$root.$off('sEditCategory').$on('sEditCategory', (catName, catUid) => { 
        if(window.isDev) { console.log('#MODAL sEditCategory', catName, catUid); }
        this.newCategoryName = catName
        this.categoryUid = catUid
        this.sEditCategory = true
      })
      this.$root.$off('sDeleteChannel').$on('sDeleteChannel', (chanUid, catUid) => { 
        if(window.isDev) { console.log('#MODAL sDeleteChannel', chanUid); }
        this.channelUid = chanUid
        this.categoryUid = catUid
        this.sDeleteChannel = true
      })
      this.$root.$off('sDeleteCategory').$on('sDeleteCategory', (catUid) => { 
        if(window.isDev) { console.log('#MODAL sDeleteCategory', catUid); }
        this.categoryUid = catUid
        this.sDeleteCategory = true
      })
    },

    methods: {
      async setChannel(chanName, chanUid){
        this.chanName = chanName
        this.chanUid = chanUid
      },

      async saveEditChannel(){
        this.loading = true
        const res = await axios.post('/live/edit-channel', { 
                                        liveUid: this.$store.state.live.currentLive.uid,
                                        catUid : this.categoryUid,
                                        chanName : this.newChannelName,
                                        chanUid : this.channelUid
                                      })
        if(res.data.error == false){
          console.log("success /live/edit-channel", res.data)
          this.sEditChannel = false
          this.updateLiveData(true)
        }else{
          console.log("error /live/edit-channel", res.data)
        }
        this.loading = false
      },

      async saveEditCategory(){
        this.loading = true
        const res = await axios.post('/live/edit-category', { 
                                        liveUid: this.$store.state.live.currentLive.uid,
                                        catName : this.newCategoryName,
                                        catUid : this.categoryUid
                                      })
        if(res.data.error == false){
          console.log("success /live/edit-category", res.data)
          this.sEditCategory = false
          this.updateLiveData(true)
        }else{
          console.log("error /live/edit-category", res.data)
        }
        this.loading = false
      },

      async deleteChannel(){
        this.loading = true
        const res = await axios.post('/live/delete-channel', { 
                                        liveUid: this.$store.state.live.currentLive.uid,
                                        catUid : this.categoryUid,
                                        chanUid : this.channelUid
                                      })
        if(res.data.error == false){
          console.log("success /live/delete-channel", res.data)
          this.sDeleteChannel = false
          this.updateLiveData()
        }else{
          console.log("error /live/delete-channel", res.data)
        }
        this.loading = false
      },

      async deleteCategory(){
        this.loading = true
        const res = await axios.post('/live/delete-category', { 
                                        liveUid: this.$store.state.live.currentLive.uid,
                                        catUid : this.categoryUid
                                      })
        if(res.data.error == false){
          console.log("success /live/delete-category", res.data)
          this.sDeleteCategory = false
          this.updateLiveData()
        }else{
          console.log("error /live/delete-category", res.data)
        }
        this.loading = false
      },

    },

    watch: {
      channelName: {
        immediate: true, 
        handler () {
            this.newChannelName = this.channelName
        }
      },
      categoryName: {
        immediate: true, 
        handler () {
            this.newCategoryName = this.categoryName
        }
      },
      
    }
  }
</script>